[2016-03-02 19:28] zfjagann commented on #244
Unfortunately it's really difficult for me to tell what's going on without seeing the output from the chrome console. When I designed the UI, I didn't consider that the console wouldn't be available for mobile devices. Clearly there are improvements to be made here.

Does the page work for you besides the notifications? I.e. can you still use the page to shape your traffic normally, or are these n

[2016-03-03 11:09] ctriptest commented on #244
@zfjagann
Thanks for your information.
The ATC cannot work that I saw the notifications, and the page visit will timeout or always loading.
So, I can not continue with the network simulation on the phone, my aim is to test the performance of APP within narrowband network environment.

[2016-03-03 17:16] chantra commented on #244
@zfjagann @ctriptest
I think this can happen for 2 reasons:

1. the atc server and the device are not using ntp, the time drifts on one of the device making the auth token invalid.That would be fixed by making sure that NTP is used.
2. https://github.com/facebook/augmented-traffic-control/blob/60e38611a535273c887a0a08ff94286ab19ecd9b/atc/django-atc-demo-ui/atc_demo_ui/static/js/atc-auth.js#L36 I w

[2016-03-05 06:29] mgjnana opened #247 "Why the packet loss rate is set to 100, and then use socket to send messages and sometimes can be sent successfully?"
Why the packet loss rate is set to 100, and then use IM to send messages and sometimes can be sent successfully? Not a message is not sent out?

[2016-03-07 02:18] ctriptest commented on #244
@chantra

Thanks for your information.
I will try to rebulid the ATC, then I will give you nore feedback in the fetrue.

[2016-03-07 02:18] #244 closed

[2016-03-07 03:24] mgjnana opened #248 "Why up and down rates are set to 0 or can use socket contract?"
Why up and down rates are set to 0 or can use socket contract?
 Is it set to 0 to use the default configuration?
How can I set the rate of WiFi to 0 ?

[2016-03-07 03:40] mgjnana commented on #248
I use Wechat test.

[2016-03-07 03:41] mgjnana commented on #248
I use wechat test.

[2016-03-07 18:24] chantra commented on #248
@mgjnana 0 is equivalent to unlimited. If you put a packet loss to 100%, you will effectively get 0 throughput.

[2016-03-07 18:24] #248 closed

[2016-03-07 18:54] chantra commented on #247
@mgjnana
I am not sure I clearly understand your question.

If you set packet loss to 100%, all packets will be dropped by ATC unless you misconfigured ATC.

Can you confirm that when setting lower bandwith, some packet loss, ATC is actually limiting the bandwidth, dropping some packet?
If this is not the case, the you may want to doublecheck that:

1. the traffic from your device is actually rout

[2016-03-07 18:54] chantra commented on #243
@mahadevprasad

What is the status here? Is your issue fixed? or do you still need assistance?

[2016-03-08 03:58] mahadevprasad commented on #243
@chantra , Oh yes i still need assistance. i will give the details asked by you within couple of days

[2016-03-09 21:34] chantra commented on #247
@mgjnana did you doublecheck your settings. If this does not work, can you copy in a gist the following:

* output of `ip a`
* output of `ip r`
* the command you use to start atcd

[2016-03-10 01:54] mgjnana commented on #247
@chantra
      Thanks for you kind reply. I checked it according to your suggestion.but there is no problem finding.I use ap-hotspot.
      I guess may be to retreat to the background, to make the request not normal to send, follow-up time I will use the app to directly call API to dynamically adjust the network, realize my needs and test this hypothesis.
       Thank you anyway ：）

ip a ：

1: lo:

[2016-03-10 02:09] chantra commented on #247
@mgjnana can you also post to https://gist.github.com/ some of the logs from /var/log/messages (or whichever your OS is using) when you shape and unshape traffic.

[2016-03-10 02:19] mgjnana commented on #247
I can't visit this website.Can i give you a email with this log file?

[2016-03-10 02:22] chantra commented on #247
You can't go to gist.github.com? Can you paste it in this github issue then. I only care about atcd messages. Tks

[2016-03-10 02:38] mgjnana commented on #247
I need to cross the wall to visit some website,but recently is not good.
[Uploading log.txt…]()

[2016-03-10 02:39] mgjnana commented on #247
I need to cross the wall to visit some website,but recently is not good.

[2016-03-10 02:40] mgjnana commented on #247
I can't upload the log file.always go wrong.

[2016-03-10 02:40] mgjnana commented on #247
Mar 10 10:19:22 nana-ThinkPad-Edge deleting filter on IFID eth0, handle 2
Mar 10 10:19:22 nana-ThinkPad-Edge deleting class on IFID eth0, classid 1:2
Mar 10 10:19:22 nana-ThinkPad-Edge Unshaping ip 192.168.150.10 on interface wlan0
Mar 10 10:19:22 nana-ThinkPad-Edge Running /sbin/iptables -t mangle -D FORWARD -s 192.168.150.10 -i wlan0  -j MARK --set-mark 2
Mar 10 10:19:22 nana-ThinkPad-Edge delet

[2016-03-10 02:41] mgjnana commented on #247
Mar 10 10:19:34 nana-ThinkPad-Edge Shaping ip 192.168.150.10 on interface eth0
Mar 10 10:19:34 nana-ThinkPad-Edge create new HTB class on IFID eth0, classid 1:3,parent 1:0, rate 2kbits
Mar 10 10:19:34 nana-ThinkPad-Edge create new Netem qdisc on IFID eth0, parent 1:3, loss 100.0%, delay 0
Mar 10 10:19:34 nana-ThinkPad-Edge create new FW filter on IFID eth0, classid 1:3, handle 3, rate: 2kbits
Mar

[2016-03-10 02:41] mgjnana commented on #247
)))
Mar 10 10:19:56 nana-ThinkPad-Edge Shaping ip 192.168.150.10 on interface eth0
Mar 10 10:19:56 nana-ThinkPad-Edge create new HTB class on IFID eth0, classid 1:3,parent 1:0, rate 2kbits
Mar 10 10:19:56 nana-ThinkPad-Edge create new Netem qdisc on IFID eth0, parent 1:3, loss 100.0%, delay 0
Mar 10 10:19:56 nana-ThinkPad-Edge create new FW filter on IFID eth0, classid 1:3, handle 3, rate: 2kbits

[2016-03-10 02:42] mgjnana commented on #247
Mar 10 10:21:10 nana-ThinkPad-Edge Shaping ip 192.168.150.10 on interface eth0
Mar 10 10:21:10 nana-ThinkPad-Edge create new HTB class on IFID eth0, classid 1:2,parent 1:0, rate 217kbits
Mar 10 10:21:10 nana-ThinkPad-Edge create new Netem qdisc on IFID eth0, parent 1:2, loss 100.0%, delay 0
Mar 10 10:21:10 nana-ThinkPad-Edge create new FW filter on IFID eth0, classid 1:2, handle 2, rate: 217kbits

[2016-03-10 02:42] mgjnana commented on #247
Mar 10 10:37:17 nana-ThinkPad-Edge Shaping ip 192.168.150.10 on interface eth0
Mar 10 10:37:17 nana-ThinkPad-Edge create new HTB class on IFID eth0, classid 1:3,parent 1:0, rate 1kbits
Mar 10 10:37:17 nana-ThinkPad-Edge create new Netem qdisc on IFID eth0, parent 1:3, loss 100.0%, delay 0
Mar 10 10:37:17 nana-ThinkPad-Edge create new FW filter on IFID eth0, classid 1:3, handle 3, rate: 1kbits
Mar

[2016-03-10 03:36] chantra commented on #247
thanks @mgjnana
This should work... after shaping, can you run the script from https://github.com/facebook/augmented-traffic-control/blob/60e38611a535273c887a0a08ff94286ab19ecd9b/utils/dump_system_info.sh

[code]
and post the content. I wonder what tc has to report.

[2016-03-10 03:55] mgjnana commented on #247
I can't run this shell ,it report syntax error"}",but looked all right.

[2016-03-10 05:30] chantra commented on #247
@mgjnana can you try to debug this on your end. this is working fine for me.

[2016-03-10 06:14] mgjnana commented on #247
@chantra I need use bash to run it .

######### cat /etc/os-release #########

NAME="Ubuntu"
VERSION="14.04.4 LTS, Trusty Tahr"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 14.04.4 LTS"
VERSION_ID="14.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://bugs.launchpad.net/ubuntu/"

######### pip freeze #########

adium-theme-ubuntu==0.3.4
apt-xapian-in

[2016-03-10 06:23] chantra commented on #247
For some reason, this is missing the output of tc for eth0 but anyhow, it seems this is correctly setup.
you should get 100% packet loss.

Can you try to do a speed test? Also to confirm, the remote device you are doing messaging with is not on the same network then the device you are shaping traffic for.
If using a phone, can you confirm that no fallback on cellular data happens.

[2016-03-10 06:43] mgjnana commented on #247
I use atc to do a irregular change, the first weak network, the normal speed, abnormal parameters; after 100% of the packet loss rate of the network, and then switch to the normal network, so the cycle. So it is possible that it is possible to switch over and over in time.

Now is not much impact, web is not a good way to use, If I have time, I will try to use the app call interface to achieve, wh

[2016-03-10 06:44] #247 closed

[2016-03-15 06:16] mahadevprasad commented on #243
@chantra,

i have attached logs from atcd

I follow below steps to start atcd service
Starting atcd service :
$ test -z $VIRTUAL_ENV && source ~/dev/atc/venv/bin/activate
$ sudo atcd

I followed below steps to start atcd demo ui
$ test -z $VIRTUAL_ENV && source ~/dev/atc/venv/bin/activate
$ cd ~/dev/atc/atcui
$ python manage.py runserver 10.42.0.1:8000

My lan and wan interface
equal@EDT-169:~$ if

[2016-03-15 06:35] chantra commented on #243
@mahadevprasad
You need to specify which lan interface atcd should use.  Basically you should run `atcd --atcd-wan wlan0`
Refer to atcd help for more options.

Sent via the Samsung Galaxy S® 6 edge, an AT&T 4G LTE smartphone

-------- Original message --------
From: mahadevprasad <notifications@github.com>
Date: 3/14/2016 11:16 PM (GMT-08:00)
To: facebook/augmented-traffic-control <augmented-traff

[2016-03-15 06:53] mahadevprasad commented on #243
@chantra
sudo atcd --atcd-wan wlan0 --atcd-lan eht0

is this way correct ?

[2016-03-15 07:03] mahadevprasad commented on #243
@chantra,

Now i started atcd using the below command
sudo atcd --atcd-wan wlan0 --atcd-lan eht0

Now i have authorized my device and selected few profiles

When i test the speed, for download i could see few MBPS shown, but for upload the speed gradually start decreasing and suddenly it shows "Network communication issues"

What could be the reason ?

[2016-03-16 13:47] tehbrut opened #249 "Starting atcd failed"
Hi. I configure atcd with https://facebook.github.io/augmented-traffic-control/docs/install.html
But when i execute atcd --atcd-lan ens192 --atcd-wan ens160 (as a root)
I get error:

INFO:AtcdVService.AtcdNBServerTask:AtcdNBServerTask Server Started on 127.0.0.1:9090
INFO:AtcdVService.AtcdLinuxShaper:Calling initialize_shaping_system
INFO:AtcdVService.AtcdLinuxShaper:Running /sbin/iptables -t mang

[2016-03-16 16:20] chantra commented on #249
@tehbrut
is seems `iptables` is not found on your system, at least not at this location.
[code]

What Os do you run, where is `iptables` located on your filesystem?

[2016-03-17 04:03] chantra commented on #243
@mahadevprasad you may want to use the `--atcd-dont-drop-packets` option and see if that works better for you.

By default, the packets are being dropped when going above a bandwith, this option will buffer them.

I will close this issue now as atcd is now working for you.

[2016-03-17 04:03] #243 closed

[2016-03-17 05:40] mahadevprasad commented on #243
@chantra ,

is this command is correct ?

sudo atcd --atcd-wan wlan0 --atcd-lan eth0 --atcd-dont-drop-packets

No profiles are working after using "--atcd-dont-drop-packets" option.. when i select any profile it gives "Network communication issues" or Speedtest app only crashes. Please help

[2016-03-17 10:16] mahadevprasad opened #251 "Unable to shape profiles"
@chantra, Referring to the issue #243 ,

Based on the discussion from #243, I tried the suggested approach of drop packet settings,
still observing the same behavior, there is not change in the upload and download speed with different profiles. Even with no connectivity I could see 7-8Mbps for upload and download.

For reference below is the list of commands executed for starting the services and

[2016-03-17 10:39] tehbrut commented on #249
@chantra
Yes, i figure it out. It's OpenSuse
I create symbolic link from /usb/sbin/iptables to /sbin/iptables and it's works well now.

[2016-03-17 10:39] #249 closed

[2016-03-17 15:11] chantra commented on #249
Iirc there should me a command line arguments you can use to specify iptables location so you don't need to symlink it.

[2016-03-17 16:19] chantra commented on #251
@mahadevprasad I am a bit lost here.

In https://github.com/facebook/augmented-traffic-control/issues/243#issuecomment-197716132 you say that you have no connectivity at all.

At least, from the command you are mentionning:
[code]

You have most likely wan and lan reversed. You wan adapter is the one that connects you to the internet, your lan adapter is the one that connects you to your local net

[2016-03-17 16:24] chantra commented on #249
yeah `--atcd-iptables`

[2016-03-18 04:04] chantra commented on #240
Hi @vedeshkumar
I will close this for now. Whenever you are available to work on it again, please open a new issue and reference this one.

[2016-03-18 04:04] #240 closed

[2016-03-18 04:05] chantra commented on #251
@mahadevprasad

If this still fail, please run the script https://github.com/facebook/augmented-traffic-control/blob/master/utils/restore-profiles.sh when your device is being shaped and copy the output to a gist along with some relevant logs from /var/log/messages

[2016-03-18 04:43] mahadevprasad commented on #251
@chantra , Sure will try and give the details

Can you please explain in detail how have u achieved ATC

[2016-03-18 04:54] chantra commented on #251
@mahadevprasad

I am not sure what you mean by `explain in detail how have u achieved ATC`

Can you clarify please.

[2016-03-18 05:17] mahadevprasad commented on #251
@chantra, Let me clarify you the way i have setup ATC

1. I have ubuntu machine which has wifi card installed and also Ethernet (LAN) cable connected
2. I have started atc demo ui by using below steps
     a. Opened the terminal
     b. entered i)  test -z $VIRTUAL_ENV && source ~/dev/atc/venv/bin/activate
                      ii)  cd ~/dev/atc/atcui
                      iii) python manage.py ru

[2016-03-18 05:26] chantra commented on #251
@mahadevprasad thanks for providing details on how you started atc.

This should not happen, the UI (which runs the webservice) and atcd are 2 different thing and if `atcd` was not running, the UI should still load and return an error.

When you say you cannot access the URL "http://10.42.0.1:8000/atc_demo_ui/" , what do you mean?
is it refusing the connection? is it loading for ever? is your inte

[2016-03-21 18:25] #241 closed

[2016-03-22 14:29] mahadevprasad commented on #251
@chantra,

My issue has been solved. There was an issue with my lan connectivity so my network shaping was not happening.

I want to know why 2 networks are required, i mean wlan0 and eth0.

I understand wlan0 is used to used to act as a router and so that my devices can connect to it. But whats the use of lan (eth0) ?

[2016-03-22 16:04] chantra commented on #251
@mahadevprasad
nice to hear your problem is solved.

Because routing involves at least 2 networks, wlan0 is connected to your local network (lan) and eth0 is what connects you to the internet (wan)

[2016-03-22 16:04] #251 closed

[2016-03-23 09:09] easternHong opened #253 "ugly page view"
[ugly page view ](https://testerhome.com/topics/2889#reply54)

*   the same view in chrome and firefox.

i dont kown ,what happen to this.

[code]

[2016-03-23 16:45] chantra commented on #253
Hi @easternHong

This is a duplicate of #216 and the root cause is https://github.com/no-dice/django-bootstrap-themes/issues/2

It should be fixed since https://pypi.python.org/pypi/django-bootstrap-themes/3.1.3 was released.

check the output of `pip freeze` and make sure
django-bootstrap-themes has version 3.1.3

I am pretty sure this will fix your issue, I will close this issue in the meantime,

[2016-03-23 16:45] #253 closed

[2016-04-02 23:39] csgrad opened #254 "Shaping without requiring clients to visit the UI page?"
Was wondering if its possible to blanket apply a single shaping policy to all clients without them having to go to the UI page to for a requestToken?

I have ATC setup on a ddwrt router and right now have a nocatsplash redirect sending them to the UI page to enable the shaping for themselves, but I'd like to remove that step if possible.

[2016-04-04 16:42] chantra commented on #157
@zfjagann is there any ways to have a --no-syslog flag or somethign to disable syslog logging altogether?

[2016-04-04 16:43] chantra commented on #186
I looked into this the other day and it was less straightforward that I expected. I should re-assess

[2016-04-04 16:45] chantra commented on #254
@csgrad
So there is no way to have people shaped by default but you can leverage the api on the router itself.

If you have a limited amount of clients, you could have each of them be assigned a fix ip and run a cron job on the ddwrt that shapes those ips on regular basis to ensure they are shaped.

Another possible way is to hook into you dhcpd server and do the shaping upon new lease, end of lea

[2016-04-04 16:47] chantra commented on #254
So I took the time to look around you profile and ended up there :) : http://www.jasonernst.com/2016/04/04/turning-a-netgear-r7000-into-an-augmented-traffic-control-router/

Thanks!

[2016-04-04 16:47] csgrad commented on #254
Ah thanks that's a good idea - I'll figure out that least bit and add it to the guide I've been working on!

[2016-04-13 02:00] mgjnana opened #258 "Does weak network environment has a standard Mody?"
As the title,If you want to set a standard weak network environment, which aspects should start from?

[2016-04-13 03:52] chantra commented on #258
Hi @mgjnana
Are you asking if it is possible to shape the traffic by default? If so, I provided some hints in https://github.com/facebook/augmented-traffic-control/issues/254

If not, I am not sure I understand the question.

[2016-04-13 03:55] mgjnana commented on #258
no, I mean, Is there a standard to define a weak network?

[2016-04-13 03:57] chantra commented on #258
there is no standard, but you may want to check https://github.com/facebook/augmented-traffic-control/blob/master/utils/restore-profiles.sh

[2016-04-13 03:57] chantra commented on #258
this will set a bunch of network profiles for you.

[2016-04-13 04:00] mgjnana commented on #258
If I want to define the criteria for a weak network, do you have any good advice, and what aspects should you start with?

[2016-04-13 04:18] chantra commented on #258
start with the profiles provided in my previous comment and play with those to adjust to your needed. There is multiple ways in which network will be bad, from low throughput, packet loss, high latency....

[2016-04-13 05:17] mgjnana commented on #258
This I can understand, but if I need a data support weak network standards, which should start with it? With this standard, we can confirm that the bandwidth or delay, respectively, to achieve the number of network is not available, similar to this.
 now there is such a demand: use ATC , we can build the weak environment , but testers want to know network parameters respectively in how a data, UI

[2016-04-14 02:16] xuzhitong89 opened #259 "Hello, do you have a look at this problem"
[14/Apr/2016 02:09:15] "GET /api/v1/token/ HTTP/1.1" 500 17103
Internal Server Error: /api/v1/token/
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/django/core/handlers/base.py", line 149, in get_response
    response = self.process_exception_by_middleware(e, request)
  File "/usr/local/lib/python2.7/dist-packages/django/core/handlers/base.py", line 147, in get_r

[2016-04-14 17:24] zfjagann commented on #259
This appears to be an issue with atc_api communicating with atcd. Can you look for atcd messages in `/var/log/messages` or `/var/log/syslog` and paste any error messages you see from `atcd` around the time of the failure?

[2016-04-14 20:57] zfjagann commented on #234
I'm going to close this because it's been inactive for a while. Please re-open if you have any other questions.

[2016-04-14 20:57] #234 closed

[2016-04-14 20:57] #115 closed

[2016-04-15 02:03] chantra commented on #258
@mgjnana I am very sorry but I am having a hard time understanding what you are trying to achieve.

You are asking how the network parameters can be shown to the testers? You are saying the UI does not refresh. It should when you select to turn on/off shaping. Maybe a screenshot would help explaining your issue.
I am still not sure I really understand the issue though :s

[2016-04-15 02:04] chantra commented on #254
@csgrad I hope the hints I gave you are helping. I will close this task for now but feel free to comment back with your discovery.

[2016-04-15 02:09] mgjnana commented on #258
how to set criteria for  weak network?..if they are practicable

[2016-04-20 14:03] muthurajbharathi commented on #134
hi How can i specify IP address of  device needs to be shaped in a payload of all API's. what is the parameter name.

[2016-04-20 21:41] zfjagann commented on #134
@muthurajbharathi please open a new issue with your question so we can respond to it independently of the discussion on this issue.

[2016-04-21 06:47] muthurajbharathi opened #260 "How to send IP of device which needs to shaped sent in payload of API calls."
Hi I just need a Clarification of using REST API's , i dont want to Use Django's WEB UI for shaping device, rather i want to do it at Backend and i will specify IP of device that i want to Shape. and I want to Consume All  the REST apis by specifying IP.

There are
1: GET http://192.168.0.1:8000/api/v1/token/
2: POST http://192.168.0.1:8000/api/v1/auth/192.168.0.13/
3:POST  http://192.168.0.1:8000

[2016-04-22 17:55] zfjagann commented on #260
Our APIs are designed (by default) to prevent one device from shaping a different device without their knowledge. In order to do this and maintain appropriate security, we implemented the `/token/` and `/auth/` endpoints.

The workflow for authorizing a device is:

`GET /token/` from the device you want to shape.
`POST /auth/{ip}` from the other device
`POST /shape/{ip}` from the other device

If

[2016-04-23 08:04] muthurajbharathi commented on #260
Yes I tried unsecure mode and shaped from a server using curl whose
internet source and atcd machine's source internet are same and I was able
to shape and delete profiles, I hope from backend directly I can call atcd
apis for

GET create
POST create also
GET shape  in unsecure..

I am planning not to serve atcd ui directly. instead I will have my custom
ui page from some other machine whose inter

[2016-04-26 17:40] chantra commented on #259
@xuzhitong89 can you provide the logs requested by @zfjagann ?

[2016-04-28 01:57] chantra commented on #260
in unsecure mode. Except bypassing Auth.

no other

server which is not under atcd controlling wifi or LAN  router but ATCD
machine's internet source and server from which I want to shape are same.

yes you can, you need to whitelist the ips through `PROXY_IPS` in https://github.com/facebook/augmented-traffic-control/blob/master/atc/django-atc-api/atc_api/settings.py IIRC

[2016-04-28 02:00] chantra commented on #258
@mgjnana sorry for the lack of updates, but I was away.

There is no rule of thumb on setting a weak network. I think you are talking about weak network as in weak signal?
Even 4G with a weak signal is pretty miserable. Both the quality of the signal and the type of network comes into play, as well as the underlying networks.
I dont have good values to give you ad would recommend that you start pl

[2016-04-28 02:07] mgjnana commented on #258
OK,I understand.
thanks for your replay :)

[2016-04-28 17:35] #258 closed

[2016-05-02 06:56] muthurajbharathi commented on #260
Thanks alot for your suggestion helping me out...

On Thu, Apr 28, 2016 at 7:27 AM, chantra <notifications@github.com> wrote:

[2016-05-02 16:03] chantra commented on #260
@muthurajbharathi is this working for you now?

[2016-05-02 19:53] dtaht commented on #60
Did y'all get anywhere?

[2016-05-03 07:09] muthurajbharathi commented on #260
Adding Proxy IP i have not tried but using *unsecure* mode i was able to
make curl requests to ATCD machine from a machine whose source of internet
and ATCD's source of internet are same.

example
machine A ip 10.0.0.11
machine B(Atcd machine ) 10.0.0.50
all the devices which are under control of ATCD's another network can be
shaped from making curl request to machine B using ip 10.0.0.80

example

[2016-05-11 08:17] cryingDream94 opened #261 "Are there other ways to set up a device network status？"
I know you can set up the network status by ATC UI，Are there other ways to set up a device network  status？

[2016-05-11 15:50] chantra commented on #261
@cryingDream94
yes, you can do so by using the api directly: https://github.com/facebook/augmented-traffic-control/blob/master/atc/django-atc-api/README.md

Does that answer your question?

[2016-05-11 15:51] chantra commented on #260
@muthurajbharathi
Is this working for you then?

[2016-05-11 15:52] chantra commented on #259
@xuzhitong89
We did not hear back from you, I will close this issue for now. If you still experiment it, please open a new issue and provide the logs requested by @zfjagann

[2016-05-11 15:52] #259 closed

[2016-05-11 15:53] #254 closed

[2016-05-11 15:53] chantra commented on #254
Had forgotten to actually close it. Hope you found a working solution.

[2016-05-12 04:35] muthurajbharathi commented on #260
Adding IP not yet tried but from curl I was able to clear from machine
which is not under atcd controlled network...
On May 11, 2016 9:21 PM, "chantra" <notifications@github.com> wrote:

[2016-05-12 05:52] cryingDream94 commented on #261
@chantra
Thank you very much.
I got a very strange question。My Android devices connected to ATC network.

When I input follow commands,it is 201CREATED :
➜  ~ adb shell
shell@cancro:/ $ curl -X POST -d '@/data/local/tmp/3G.json' -i -H 'Content-Type: application/json' -H 'Accept: application/json; indent=2' http://192.168.103.166:8000/api/v1/shape/
HTTP/1.0 201 CREATED
Date: Thu, 12 May 2016 05:48:

[2016-05-12 06:20] chantra commented on #261
@cryingDream94 this is because you are not escaping you command.

Try putting double quote around "curl ....... v1/shape/"

[2016-05-12 06:25] chantra commented on #260
@muthurajbharathi ok. Well, this should get you up and running. I will close this issue, please open a new one if you are still encountering issues after updating the config.

[2016-05-12 06:25] #260 closed

[2016-05-12 06:41] cryingDream94 commented on #261
Wow，thank you！My problem was solved。

[2016-05-12 06:44] chantra commented on #261
@cryingDream94 happy to hear that. I understand your issue is solved now so I will close it.

[2016-05-12 06:44] #261 closed

[2016-05-12 07:06] cryingDream94 commented on #261
(⊙o⊙)…I thought I was a troublemaker，You are an angel！
O(∩_∩)O~~Thank you very much!!

[2016-05-18 05:37] vikastiger opened #262 "Network Traffic Routing configuration"
Hi - My ATC setup is as per the following details:

- OS - Ubuntu 14.04 on x86 server (no virtualization)
- Hostname - 'piano'
- Network interfaces - eth0 (192.168.1.0 network) as Internet facing, eth1 (10.10.10.0 network) for DHCP

Till the point of DHCP configuration, it looks to work fine ... the DHCP server on Ubuntu is allocating IP addresses (say 10.10.10.2) to my other machine when i connec

[2016-05-18 05:53] chantra commented on #262
@vikastiger

For 1) Are you saying that the ubuntu host which you provided the config here (which acts as a router) is not able to access internet until you run `dhclient` ?
This is not related to ATC and does not make a lot of sense given that piano is setup to use static ips.

2) I don't understand what you mean by the other interface connected to wifi router? is this eth0 of piano?

You did not

[2016-05-18 06:37] vikastiger commented on #262
yes, correct until i run dhclient internet is not accessible.

i am attaching a draw of my network config.

[network draw.docx](https://github.com/facebook/augmented-traffic-control/files/269761/network.draw.docx)

and i ran these commands at the time of setup:

iptables -A FORWARD -o eth0 -i eth1 -s 10.10.10.0/24 -m conntrack --ctstate NEW -j ACCEPT

iptables -A FORWARD -m conntrack --ctstate EST

[2016-05-18 16:36] chantra commented on #262
@vikastiger ok, this is definitely not an ATC problem and you should try to get support from communities related to your specific distro.
ATC requires a working routing platform to operate, once you have this, we can happily help you with getting ATC to work.

That being said, a few reasons why your device connected to router 2 may not be able to connect:
router 2 is not in bridge mode and is not

[2016-05-18 16:40] chantra commented on #262
@vikastiger I will close this issue for now as this is not an ATC issue, you will get better support from your distribution community, they will be able to help you correctly set and configure your system.
Once you have the routing working, we can happily help you with atc specific issues/questions.

[2016-05-18 16:40] #262 closed

[2016-05-20 04:31] chantra opened #267 "panic: runtime error: invalid memory address or nil pointer dereference goroutine 114 [running]:"
Not sure how I go to this.. but the backtrace may help in finding the potential culprit. https://gist.github.com/chantra/a1a69b4b3601f712712aa7b64b91b3ac

[2016-05-20 05:03] chantra opened #268 "shaping not deleted when group is reaped"
Repro:
- create group and join with ipv4
- join group with v6
- shape group
- leave group with v4
- leave group with v6

Group is deleted, iptables entry deleted but tc's qdisc, filter and class are still present.

[2016-05-20 18:20] zfjagann commented on #267
This is deep in the bowels of the thrift generated code. Most likely cause (based on prior experience) is that you managed to construct a thrift struct with a nil field that the thrift library didn't want to be nil. I've noticed that they don't really do a good job checking this stuff, so I've guarded against it in a lot of places, but clearly I missed one.

[2016-05-20 21:34] chantra opened #270 "empty group not being reaped"
I dont remember exactly how we triggered that, but basically, there were cases when a group was left empty after the members were removed.

[2016-05-23 19:13] zfjagann commented on #270
Repro:

    $ atc list
    $ atc create 127.1.0.1
    1: 127.1.0.1
    $ atc list
    1: 127.1.0.1
    $ atc create 127.1.0.1
    2: 127.1.0.1
    $ atc list
    1:
    2: 127.1.0.1

[2016-06-27 14:26] kpachar opened #274 "Question on atcd with the dummy interface"
Hello,
I am trying to get ATC shape my traffic, but for some strange reason, I haven't been able to get it working. Could you please have a look at this setup, maybe I'm missing something in the configuration or atcd parameters?

[code]
Referring to the diagram above, the machine on the left (192.168.56.104) has a route set up to the 192.168.55.0/24 IPs on eth55 (dummy) that passes through its IP

[2016-06-27 18:22] smorad commented on #274
@kpachar If I'm reading this correctly, it appears that you set WAN to `eth0`, but then you connect from the client to the server's `eth0` device.

`--atcd-lan` should be the adapter your client is connecting to. `--atcd-wan` should be the device that connects to the internet.

You probably want the client (`192.168.56.104`) to connect to the `eth55` device on the server (`192.168.56.103`).

[2016-06-27 18:43] smorad commented on #274
Additionally, the traffic will only be shaped AFTER it goes through the ATC server. When you send traffic, it gets shaped when the traffic bridges from LAN to WAN and vice-versa.

If you are sending traffic from the client to `192.168.55.1`, it will never go over the WAN, and will not be shaped.

Instead of sending data to `192.168.55.1` for testing, try using something on the WAN like `speedtest.

[2016-06-28 06:25] yossico opened #275 "missing import in readme file"
Hi
In the instructions of the Readme.md file of the project there is a list of changes required in the urls.py file.
After doing those changes the project failed.
The reason was a missing import line in the url.py file
Please add this line to the change instructions:
from django.conf.urls import include
Thanks
Yossi

[2016-06-29 00:05] smorad commented on #275
Thanks yossico! I'll put up a commit when I get a chance.

[2016-06-29 00:08] smorad commented on #275
committed 7a85716

[2016-06-29 00:08] #275 closed

[2016-06-29 11:02] kpachar commented on #274
Thanks @smorad. That worked.

(I put atcd on a separate machine having two (not dummy) interfaces, each of which connect to a network between which there exists no route, and then configured iptables masquerade on that machine to route packets from one network to the other. While invoking atcd, --atcd-lan is set to the interface to the network on which the machine-that-has-the-ipaddress-equal-to-t

[2016-06-29 13:25] kpachar opened #276 "atc rate is much slower than specified"
Hello,
I'm not sure if this is a configuration error, the expected behavior or a bug.

I have a server running at `192.168.1.2:8000`
From my client machine, I am able to download an ~80MB file in 2 seconds from that server.
[code]
The curl command below shows that atcd is not shaping my traffic yet.
[code]
Now, I go to the atc-ui and Turn On shaping.
This curl command now shows that the shaping is

[2016-06-29 16:56] #274 closed

[2016-07-01 06:39] chantra commented on #276
Hi, could you try the `--dont-drop-packets` option. Does that help?
cc @smorad

[2016-07-01 08:09] Isor opened #277 "missing import patterns function"
# atcui/urls.py

from django.conf.urls import patterns

urlpatterns = patterns('',
    #...
    # Django ATC API
    url(r'^api/v1/', include('atc_api.urls')),
    # Django ATC Demo UI
    url(r'^atc_demo_ui/', include('atc_demo_ui.urls')),
    # Django ATC profile storage
    url(r'^api/v1/profiles/', include('atc_profile_storage.urls')),
    url(r'^$', RedirectView.as_view(url='/atc_demo_ui/', p

[2016-07-01 15:12] kpachar commented on #276
@chantra That works. Thank you.
If I use --atcd-dont-drop-packets, would the "Loss" percentage that I set for the profile on atc-ui be ignored?

[2016-07-01 15:22] chantra commented on #276
No the loss will still apply. The difference is that when your packets are getting throttled, they will be buffered and not dropped on the floor.

[2016-07-01 15:23] #276 closed

[2016-07-01 15:29] chantra commented on #277
@lsor when setting the project with django, some boilerplate. Isn't it the case anymore?
What version of django are you using?
Cc @smorad

[2016-07-04 22:31] chantra commented on #277
This is due to using django > 1.7

Django 1.9.7 will create a `urls.py` file like:
[code]

[2016-07-12 10:38] VinnieM opened #278 "Is it possible for me to generate the token for a device I need to shape using an API?"
Hi,
First of all thank you for such a great tool. We've been using ATC for the past couple of days and it's amazing. The question I have is pretty much against the documentation, is there a way I can generate the token for a mobile device from another machine using an API? E.G. http://192.168.2.130:8000/api/v1/token/[IP_of_mobile_device]. We were thinking of having the a complete test case which c

[2016-07-13 00:27] chantra commented on #278
@VinnieM would using `--mode unsecure` when starting atcd solve your issue?

[2016-07-15 07:32] peacemoon opened #279 ""cannot import name DurationField" when running from vagrant"
Run atc from Vagrant
I get "cannot import name DurationField" error when try to open to UI

[code]

[2016-07-15 07:43] peacemoon commented on #279
Actually the problem is the chef cookbook did run successfully and I have to install everything manually.
When starting vagrant, I can se the following errors:
[code]

[2016-07-15 11:19] VinnieM commented on #278
@chantra  Thanks a lot.... Worked like a charm....

[2016-07-15 11:19] #278 closed

[2016-07-15 18:05] chantra commented on #279
oh, that should be a simple fix by using https://github.com/chef-cookbooks/apt or the equivalent for yum so it refreshes the database before installing the packages.

I will not have time to deal with this before a while. Please file a PR if you can tackle this.
Thanks

[2016-07-16 08:41] VinnieM commented on #278
Thanks a lot mate, it worked like a charm.

Cheers VM
Sent from a Phone running on a Linux Kernel On Wed, Jul 13, 2016 at 5:58 AM, chantra < notifications@github.com [notifications@github.com] > wrote:
@VinnieM [https://github.com/VinnieM] would using --mode unsecure when starting atcd solve your issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on

[2016-07-22 22:45] chantra commented on #277
@Isor can you confirm what exact version of django you are using please.
Also, what is the exact error, a trace would help.
tks

[2016-07-22 23:38] chantra commented on #279
@peacemoon PR #280 should fix both your issues.

[2016-07-25 14:21] cgavriluta opened #281 "ATC - questions"
Total linux noob here, but following Jason's tutorial (http://www.jasonernst.com/2016/04/04/turning-a-netgear-r7000-into-an-augmented-traffic-control-router/) I managed to install ATC on my R7000 wireless router and everything seems to be working (I can start the daemon, start and access the django UI, etc). I have a couple of questions though:
1. Are there some linux commands to see the changes t

[2016-07-25 19:36] zfjagann commented on #281
1. ATC doesn't directly change the routing table, since packets are routed over the host already. Instead, it uses iptables to signal any packets that should be marked to be handled differently by tc than other packets.
You can use `iptables-save` to see what the current iptables rules are (including which IP addresses are being shaped).
You can use `tc {object}  list` to view current tc objects (

[2016-07-25 19:36] #281 closed

[2016-07-28 12:45] peacemoon commented on #279
(y)

[2016-07-28 15:53] #279 closed

[2016-07-28 15:54] chantra commented on #279
@peacemoon merged :)

[2016-07-29 08:14] peacemoon commented on #279
Tested, worked. Thank you

[2016-08-02 05:40] mikechengwei commented on #91
hello,i have a problem.
i had do ：
'killall atcd'
kill port 9090 and 8080
but the error can't solve
Exception: Unable to start service (1 task start errors)
INFO:AtcdVService:Received graceful shutdown request
DEBUG:AtcdVService:VService Active.  Awaiting graceful shutdown.
INFO:AtcdVService:Waiting for tasks to shutdown gracefully...
DEBUG:AtcdVService:Waiting for <atcd.AtcdDeviceTimeoutTask.Atcd

[2016-08-02 09:27] nikunj0123 opened #283 "Unable to set ATC on my ubuntu."
**Meeting the requirements:**
**ATC** has a few requirements, this section is used to make sure the requirements are met. Until you can check all the boxes, **ATC** will not work on your system.
- [ ] `atcd` runs on Linux
- [ ] `atcd` has 2 physical interfaces
 - [ ] 1 that connects to the internet (WAN)
 - [ ] 1 that connects to the local network (LAN)
- [ ] the traffic from the devices that are

[2016-08-04 07:41] mikechengwei opened #284 "atc deploy well,but can't work"
hello.
i encountered a problem long long time...
atc service can't work. i select profile and click update shaping button. then i can't browser network.
my log is:
startShaping TrafficControl(device=TrafficControlledDevice(controllingIP='192.168.0.2', controlledIP='192.168.0.2'), timeout=86400, settings=TrafficControlSetting(down=Shaping(loss=Loss(percentage=0.0, correlation=0.0), delay=Delay(dela

[2016-08-05 13:43] nikunj0123 opened #285 "Unable to set ATC on Ubuntu"
I am not able to set ATC on Ubuntu.

Followed mentioned steps from below url:-

http://facebook.github.io/augmented-traffic-control/docs/install.html

Please point me with the correct steps so that I can set up in my Ubuntu box.
<img width="1309" alt="screen shot 2016-08-02 at 2 56 57 pm" src="https://cloud.githubusercontent.com/assets/20096456/17438522/e10e604a-5b40-11e6-8ddd-0bd8a8485796.png">

[2016-08-06 22:49] chantra commented on #284
cc @smorad

[2016-08-06 22:50] chantra commented on #284
@mikechengwei can you try using the extra flag: `--dont-drop-packets` when starting `ATCD` does that helps?

[2016-08-06 22:53] chantra commented on #285
cc @smorad

@nikunj0123 can you try installing from master? There is a few updates that needs to be pushed to `pip` but for now, you will be better off installing from master.

[2016-08-06 22:53] chantra commented on #283
cc @smorad

[2016-08-06 22:55] chantra commented on #283
@nikunj0123 it does not seem like you have answered any of those questions. Can you detail a bit more what your issue is?

[2016-08-07 10:31] nikunj0123 commented on #283
@chantra I have used steps from below mentioned link:-

http://facebook.github.io/augmented-traffic-control/docs/install.html

It will be great if you can help me in setting up ATC on my ubuntu box.

[2016-08-08 13:29] Suneet-Singh opened #286 "Is there any way to install ATC on MAC?"
**Meeting the requirements:**
**ATC** has a few requirements, this section is used to make sure the requirements are met. Until you can check all the boxes, **ATC** will not work on your system.
- [ ] `atcd` runs on Linux
- [ ] `atcd` has 2 physical interfaces
 - [ ] 1 that connects to the internet (WAN)
 - [ ] 1 that connects to the local network (LAN)
- [ ] the traffic from the devices that are

[2016-08-08 22:07] chantra commented on #283
@nikunj0123 You are not describing what has been done and what is not working.
When filing an issue, please make sure you provide information regarding your issue so people can help.
I will close this one as it seems issue #285 is the same. I gave you actionable follow ups there. Please try it and report back.

[2016-08-08 22:07] #283 closed

[2016-08-08 22:09] chantra commented on #286
@Suneet-Singh you have not provided any information regarding your issue. I will close this one for now. Please, when opening an issue, provide information as to what your issue is.  The prefilled template should help you in providing us with some information regarding the requirements met and some of your settings, also a way to reproduce.

[2016-08-08 22:09] #286 closed

[2016-08-08 22:12] chantra commented on #277
@Isor I did not manage to reproduce the issue. I will close this issue now, if this is still an issue for you, please provide more details as to what the issue is.

[2016-08-08 22:12] #277 closed

[2016-08-10 06:10] mikechengwei commented on #284
It works.thanks!

[2016-08-10 06:11] mikechengwei commented on #284
It works.thanks! @chantra

[2016-08-10 08:34] chantra commented on #284
cool!

[2016-08-10 08:34] #284 closed

[2016-08-10 17:50] chantra commented on #285
@nikunj0123 did you get a chance to try installing from master?

[2016-08-10 17:53] nikunj0123 commented on #285
@chantra .Yes But was not able to install it. Can you please guide me with proper steps?

[2016-08-10 19:03] chantra commented on #285
@nikunj0123 I have pushed version 0.1.4, you may want to give it a try.

[2016-08-10 19:10] nikunj0123 commented on #285
Sure. Thanks a lot. One more question does it support on MAC.

[2016-08-10 19:12] chantra commented on #285
@nikunj0123 nope, this is IP based only.

[2016-08-10 19:12] nikunj0123 commented on #285
Okay. Can I have your gmail id please.

[2016-08-10 19:21] nikunj0123 commented on #285
Its fine I will try and will get in touch if I find any issue.

[2016-08-10 19:28] chantra commented on #285
@nikunj0123 feel free to join #atcd irc channel on freenode.

[2016-08-10 19:34] nikunj0123 commented on #285
@chantra Thanks a lot.

[2016-08-17 19:00] jrmfreitas88 opened #287 "Unable to create profiles - {"content":["Not a valid string."]}"
Hello,

I am not able to create profiles. Everything works fine, I am able to apply/remove the shaping policies however, every time I try to save a profile I get the following error (observed on both curl and wireshark traces).

**{"content":["Not a valid string."]}**

- Wireshark Trace:
![trace](https://cloud.githubusercontent.com/assets/15096532/17749240/b95227c6-64b4-11e6-82eb-99d50ec46349.png)

[2016-08-17 22:38] gu-wei commented on #287
I have the same issue

[2016-08-17 23:00] chantra commented on #287
cc @smorad

[2016-08-18 05:05] chantra commented on #287
@gu-wei  @jrmfreitas88 can you please try https://github.com/chantra/augmented-traffic-control/tree/fix_287

[2016-08-18 14:58] jrmfreitas88 commented on #287
@chantra , @gu-wei , it works with fix_287. Thanks for the support :+1:

Nevertheless, it only works with the zip version (https://github.com/chantra/augmented-traffic-control/archive/fix_287.zip).

For some reason the "git clone https://github.com/chantra/augmented-traffic-control.git" version is lacking some folders such as the "utils" and also some files are different. This is easy to spot by r

[2016-08-18 15:00] chantra commented on #287
@jrmfreitas88
`git clone` would have put you on the master branch of my repo, which is very outdated as it did not push chantra/master in a while.
If you checkout the `fix_287` branch, it should be there.

[2016-08-18 15:01] #287 closed

[2016-08-18 15:31] jrmfreitas88 commented on #287
@chantra
Indeed! I just double checked it. Thanks once again.

[2016-08-18 15:47] chantra commented on #287
pushing v0.1.5 to pypi.

[2016-08-18 19:39] #285 closed

[2016-08-26 22:29] gu-wei opened #292 "shape error: adding NetEm qdisc on IFID vlan2, mark 2, err: (2, 'No such file or directory')"
I set up the atc environment on DD-WRT(kernal Linux 3.10.102) on my Ausus RT-N66U. Everything works fine except when I start to shape a device. I got the error: **adding NetEm qdisc on IFID vlan2, mark 2, err: (2, 'No such file or directory')**.
Does ATC support running on DD-WRT? thank you very [much!]
![shape_error2](https://cloud.githubusercontent.com/assets/10619712/18022209/d64a2d26-6ba1-11e6

[2016-08-29 02:54] HarrisonLin opened #293 "I set up an enterprise's weak network simulation base ATC，but it not work。"
**I set up an enterprise's weak network simulation base ATC，but it not work。**

Network topology：

![4](https://cloud.githubusercontent.com/assets/10679283/18039546/ace31876-6dd6-11e6-944a-07800ce541dd.png)

alpha  is my enterprise Network environment。

I should how to troubleshoot the problem？

Log：

INFO:AtcdVService.AtcdLinuxShaper:Request startShaping TrafficControl(device=TrafficControlledDev

[2016-08-29 16:22] smorad commented on #293
The logs look fine to me. What do you mean by not working? Is the daemon crashing, is traffic not being shaped?

[2016-08-29 16:44] smorad commented on #292
DD-WRT does run the full Linux kernel, so in theory DD-WRT should be supported.

https://github.com/facebook/augmented-traffic-control/blob/e4eab1fe6a8cf5acdf22e511ebad39f3c5ef5f61/atc/atcd/atcd/backends/linux.py#L424

It may be that the version of `tc` that ships with DD-WRT is too old. Which source did you install ATC from?

[2016-08-29 16:52] gu-wei commented on #292
I followed instructions from: http://facebook.github.io/augmented-traffic-control/docs/install.html
and use pip to install the ATC

[2016-08-29 16:55] chantra commented on #292
@gu-wei what is the output of ```ip a``` ? or `ifconfig` if the former is not available.

[2016-08-29 16:57] chantra commented on #292
Actually, reading the logs, it seems this is because the `netem` module may not be compiled in the kernel. Can you check:
[code]

[2016-08-29 17:35] gu-wei commented on #292
thank you very much for helping me on this!

 1. output of **ip a**:
![ip-a](https://cloud.githubusercontent.com/assets/10619712/18060613/1ea92520-6dd4-11e6-9b95-53da5c3378d9.png)

2. output of **ifconfig**:
![ifconfig](https://cloud.githubusercontent.com/assets/10619712/18060630/33cc439c-6dd4-11e6-84b6-196bf383ce55.png)

3. there is no **/boot** in DD-WRT linux

[2016-08-29 17:44] gu-wei commented on #292
I also post on the dd-wrt forum: http://www.dd-wrt.com/phpBB2/viewtopic.php?p=1044887#1044887
for the netem/tc issue in dd-wrt.  and I will keep updating on this.

[2016-08-29 17:50] chantra commented on #292
@gu-wei

We first need to asses if DD-WRT has the netem module compiled in. I have no access to dd-wrt so you may be on your own here but here are a few suggestions:

* `find /lib/modules/$(uname -r)/ -name '*netem*'`
* play with the tc command directly and see if you can set netem or not.

[2016-08-29 17:51] chantra commented on #292
@gu-wei
thanks for cross-posting to the dd-wrt forum. I think this is the issue here. Let us know if you manage to solve this.

[2016-08-30 03:03] HarrisonLin commented on #293
traffic not being shaped。

[2016-08-30 03:10] HarrisonLin commented on #293
i don`t know that is ip cause traffic not being shaped ？

devices connect alpha wifi ,   ip of devices  is :  10.54.0.1/16  ,  but connect network by 172.17.0.12/22.

[2016-08-30 06:02] chantra commented on #293
@HarrisonLin how did you start atcd? It looks like you should be using `eth1` a WAN and `eth0` as LAN, but you are shaping with `--lan eth` --wan eth0`

[2016-08-30 06:46] HarrisonLin commented on #293
**Previously configured successfully on My Ubuntu.（HotSpot-AP Mode is OK）**

But now I want to build it for the company。

I try using every mode，but traffic not being shaped.

eth1 as WAN  eth0 as LAN.
eth1.54 as WAN eth0.54 as LAN
eth0 as WAN eth1 as LAN
eth0.54 as WAN eth1.54 as LAN

So I guess alpha-wifi and H3C switch configure is error？

Log：

(MeiliWeakNetwork) [root@localhost MeiliWeakNetwo

[2016-08-30 06:51] HarrisonLin commented on #293
![image](https://cloud.githubusercontent.com/assets/10679283/18078929/bf77c2da-6ec0-11e6-96d8-b8ff5bf4955d.png)

This is my design network structure。

My server Network card information

![wechatimg2](https://cloud.githubusercontent.com/assets/10679283/18078986/0a702e8a-6ec1-11e6-8005-b3411c1be798.jpeg)

bridge info

![wechatimg3](https://cloud.githubusercontent.com/assets/10679283/18079012/3133cc

[2016-08-30 06:56] chantra commented on #293
@HarrisonLin ATC works at layer 3. By bridging interfaces, you are bypassing ATC being a router and being able to act on packets.
Please remove the interfaces from the bridge and route between networks.

If you still have issues without using a bridge, please feel free to open a new issue. For now, I will close this task as your setup is not not meeting the requirements.

[2016-08-30 06:56] #293 closed

[2016-08-30 07:16] HarrisonLin commented on #293
Now  I can`t use route mode ，because my company network structure can`t change.

ATC works at layer 3？ can`t support bridge?

ATC use tc  and iptables。  Linux tc works at layer 2， where layer set iptables mark ?

[2016-08-30 11:42] Ashishjshetty opened #294 "Help needed setup ATC"
I have done the following:

1. started atcd , using following command:
` sudo atcd  --atcd-lan eth0 --atcd-wan wlan0`, get the following [output](https://gist.github.com/Ashishjshetty/7cfa2d81e644ec44e4faa247e33cb1a1):

   it wont work without parameters [output](https://gist.github.com/Ashishjshetty/3675f19cabd2a3159010f62d84937c0c)

2. after i start atcd successfully i run atc UI

3. start a wif

[2016-08-30 15:49] chantra commented on #294
@Ashishjshetty
It does not work without specifying the wan/lan parameters because it would default to `eth0` and `eth1`.

You are most likely reverting wlan0 and eth0. If you use eth0 to connect to the internet, etho is your **wan** interface. Use:
[code]
instead.

Does this solve your problem?

[2016-08-30 15:52] chantra commented on #293
ATC set the marks in the FORWARD chain https://github.com/facebook/augmented-traffic-control/blob/master/atc/atcd/atcd/backends/linux.py#L364

[2016-08-30 20:07] Ashishjshetty commented on #294
@chantra , Thanks for you prompt response, It doesn't solve the problem still see no changes to speed after shaping here is the [output](https://gist.github.com/Ashishjshetty/e9a1dba9dedddd9ab818703f5e6278f9) of atcd after shaping , the only change i made to shaping settings is set bandwidth to 10kbps both up and down link.

[2016-08-30 20:12] chantra commented on #294
@Ashishjshetty Can you please answer the checklist provided when filling a new issue: https://github.com/facebook/augmented-traffic-control/issues/new

This should give details about your setting that will help in troubleshooting your issue.
tks

[2016-08-31 02:35] HarrisonLin commented on #293
all traffic entry root 。  did not enter class.  why？

![111](https://cloud.githubusercontent.com/assets/10679283/18113928/d9debab6-6f65-11e6-96fc-ca5700dd7087.jpg)

I don t know  why can t support bridge mode， I think should be ok

I want to understand it

[2016-08-31 04:59] chantra commented on #293
@HarrisonLin
When using a bridge, there is no routing happening. ATC **requires** the traffic to be routed through the host, not bridged. You may be able to get this working if you manage to get the packets mangled by iptables (and you should verify that some packets are being mangled using `iptables -t mangle -L -v -n`).
This is not a use case we do support though, so we can't really help you her

[2016-08-31 06:41] HarrisonLin commented on #293
@chantra
OK，Thank you。

if it running , I will tell you the reasons.

[2016-08-31 06:48] Ashishjshetty commented on #294
**Meeting the requirements:**
**ATC** has a few requirements, this section is used to make sure the requirements are met. Until you can check all the boxes, **ATC** will not work on your system.
- [x] `atcd` runs on Linux
- [x] `atcd` has 2 physical interfaces
- [x] 1 that connects to the internet (WAN)
- [x] 1 that connects to the local network (LAN)
- [x] the traffic from the devices that are be

[2016-08-31 06:58] chantra commented on #294
Thanks @Ashishjshetty

For some reason, the output of `iptables-save` is empty, which would explain why the traffic is not being shaped.

Can you check what happen when you run:
[code]

Manually. I believe this will fail with an error message because `iptables` may be somewhere else.
`which iptables` will tell you where. You should start ATC with the iptables option (available in help) and overrid

[2016-08-31 07:00] Ashishjshetty commented on #294
Hi @chantra ,
They result is empty ie. no output. Is that normal?

[2016-08-31 07:02] chantra commented on #294
nope, see the rest of my comment

[2016-08-31 07:07] Ashishjshetty commented on #294
Yes my iptables location is same as you mentioned 'which iptables' outputs `/sbin/iptables` , now i ran atcd again using `sudo atcd --atcd-wan eth0 --atcd-lan wlan0 --atcd-iptables /sbin/iptables` still no success

[2016-08-31 07:09] Ashishjshetty commented on #294
This is the output i get on console .[output](https://gist.github.com/Ashishjshetty/42b1181b05820fcfc66e3877ce78c998)

[2016-08-31 07:13] chantra commented on #294
What was not normal was to have the output of `iptables-save` empty.. did you run the script as root? What is the output of `iptables-save` if you run it manually as root?

[2016-08-31 07:16] Ashishjshetty commented on #294
Yes i ran the command using `sudo`, the output of `sudo iptables-save` is [here](https://gist.github.com/Ashishjshetty/1822795d4066987227d3836ddd3b4e4e)

[2016-09-01 02:14] HarrisonLin commented on #293
Do the below changes can be running:

1、iptables rule change
    iptables -A FORWARD -t mangle -s <client ip> -m physdev --physdev-in eth1 --physdev-out eth0 -j MARK --set-xmark 0x2/0xffffffff
   iptables -A FORWARD -t mangle -d <client ip> -m physdev --physdev-in eth0 --physdev-out eth1 -j MARK --set-xmark 0x2/0xffffffff

2、load netfilter module（iptables services）

3、enable netfilter in bridge

[2016-09-01 03:13] chantra commented on #293
@HarrisonLin
Nice finding! You can pip install from source if that helps.

I assume you meant:
[code]

Alternatively, you can turn that in a pull request. I will be happy to review a diff that adds an option to run in bridged mode which is off by default.

[2016-09-01 03:23] chantra commented on #294
@Ashishjshetty
I am confused... iptables-save shows that the hosts that are shaped are in range 192.168.1.0/24, which is your WAN network, the network going to the internet. The devices that you want to shape should be in the wireless network (LAN), it is expected that when you shape a device, the mangle table shows ips in range 10.42.0.0/24 .

The devices should be connected to the wireless netwo

[2016-09-01 06:12] Ashishjshetty commented on #294
@chantra ,
Ok i will just give you a brief idea of my setup and what i am trying to do. May be that will help. I have a laptop that is connected to Ethernet cable that i am using as the source of internet, and i intend to create a access-point that i can connect my android phone to use internet. Now my main intent is to shape the internet connection going to my phone using my laptop's access-point

[2016-09-01 16:52] chantra commented on #294
@Ashishjshetty you need to initiate the shaping from the mobile device. Shaping is done per device and we use the ip of the device connecting to ATC ui to find out what ip to shape.

[2016-09-02 05:18] hsitaa opened #295 "ATC not working. Is it phased out ? Not compatible with Centos 7 ?"
Below is Output for :
curl https://raw.githubusercontent.com/facebook/augmented-traffic-control/master/utils/dump_system_info.sh | bash -s -  enp0s3 enp0s8

I have used Docker Instance.
Vagrant Instance.
Installed directly on a VM.
Same Results . Augmented Traffic Control doesn't seem to work.

I keep speed 1 kb/s or 1000 kb /s

I get ..same as ISP bandwidth.
[code]

[2016-09-02 05:49] Ashishjshetty commented on #294
@chantra Thanks a lot for all the help, I have been struggling with this for a few days. I may have missed it in documentation.

[2016-09-02 05:49] #294 closed

[2016-09-02 06:47] chantra commented on #295
@hsitaa

The output you sent does not contain any shaped ips so it is hard to know what is not being shaped. Anything relevant in the log from atcd? Can you send a gist with the dump done when a device is meant to be shape.

How do you start atcd?

[2016-09-02 08:27] philliplu1990 opened #296 "Environment Compatibility Issues"
Hi guys,
Would like your assistance.
Running
Python 2.7.6
Django 1.10
I have followed your instructions and have run into some issues:

"/dev/atc/venv/local/lib/python2.7/site-packages/django/conf/urls/__init__.py", line 85, in url
    raise TypeError('view must be a callable or a list/tuple in the case of include().')

I get this error when I run: python manage.py migrate

This is after I have ch

[2016-09-02 16:15] chantra commented on #296
@philliplu1990
Yeah, django 1.10 is not supported yet.
First, maybe posting a diff of your change will help to better understand what your change is about.
I assume you are referencing to https://docs.djangoproject.com/en/1.10/releases/1.8/#django-conf-urls-patterns

and the fact that it got removed in https://docs.djangoproject.com/en/1.10/releases/1.10/#features-removed-in-1-10

You quick soluti

[2016-09-02 16:21] chantra commented on #292
@gu-wei
from looking at https://downloads.openwrt.org/attitude_adjustment/12.09/ar71xx/generic/packages/
you need to install `kmod-netem`

Does that help?

[2016-09-02 16:31] gu-wei commented on #292
@chantra your url  is for openwrt while i am using dd-wrt. here the bug I filed: http://www.dd-wrt.com/dd-wrtv2/bugtracker/view.php?id=4792
I may flash the router to use openwrt. thanks for the help.

[2016-09-02 16:38] chantra commented on #292
@gu-wei the point is.. can you install `kmod-netem` on dd-wrt?

I will close this issue as there is not much that can be done from ATC side, please comment back here when you manage to get it running and explain how.
tks

[2016-09-02 16:38] #292 closed

[2016-09-02 19:16] smorad commented on #295
This should be compatible with Centos7. What @chantra said, please do

`for id in $(atc list | cut -f1 -d':'); do atc show $id; done` and paste the output here.

[2016-09-02 19:37] chantra commented on #295
that's for the golang version. it will not work with the python implementation.

[2016-09-03 00:57] philliplu1990 commented on #296
@chantra
Thank you for your response.
I created a new virtualenv and installed django 1.9 as suggested.
When running the suggested command to install pkgs
for pkg in atc_thrift atcd \
  django-atc-api django-atc-demo-ui django-atc-profile-storage
do
  pip install $pkg
done
It seems like django is automatically upgraded to 1.10.1
Regardless, I followed the steps to edit settings.py and urls.py as s

[2016-09-03 01:52] philliplu1990 commented on #296
@chantra
I downgraded to 1.7
Started project named atcui
Installed pkgs
Reinstalled 1.7
Edited settings.py and urls.py
python manage.py migrate
Runs successfully

ATC server is up and running now using other commands.
When I go to the x.x.x.x/8000 webpage I get an interesting issue:
"cannot import name DurationField"
DurationField was added in Django 1.8 :/
https://docs.djangoproject.com/en/1.10/r

[2016-09-03 02:02] chantra commented on #296
The durationfield was fixed as part of #279 .

I don't have a good solution to give you but debugging the issue and fixing forward to support django 1.10. This is a standard django issue more than anything super specific to atc.

[2016-09-03 03:24] chantra commented on #296
O'rite, I got something working with 1.10...

after the changes for urls.py, there is also some changes that need to happen in settings.py (may not apply to your case though).

This https://github.com/facebook/augmented-traffic-control/pull/297

[2016-09-06 12:08] hsitaa commented on #295
Hi,

I can't share IP's due to company policies. But in the Post.

{{internal.ip}}: Private IP
{{internal.ip.broadcast} : private network broadcast ip
{{public1.ip}}: public primary ip
{{public2.ip}} : Refers to public secondary ip

[2016-09-07 02:48] hsitaa commented on #295
but i think thats the issue. I have added two devices.. Bu nthing is getting shaped.

[2016-09-07 03:20] chantra commented on #295
@hsitaa
what do you mean by "I have added two devices" ?

Anyway, there is a few things missing so we can help you here.
1) how do you start atcd?
2) logs of the atcd service when shaping/unshaping
3) iptables-save when a device is meant to be shaped.

Also, in order to remove as much as possible out of the picture when troubleshooting, you should first set up atc without all your custom firewall

[2016-09-07 03:21] chantra commented on #296
@philliplu1990 did you get a chance to test with those patches?

[2016-09-08 05:39] philliplu1990 commented on #296
@chantra
Yes fixed worked! Thank you very much for your assistance. My ATC server is up and running.
Thank you again

[2016-09-08 05:39] #296 closed

[2016-09-19 04:32] chantra commented on #295
@hsitaa
do you have any updates? Did you get your setup to work?

[2016-09-22 05:22] sunlinsmart opened #299 "Runtime error:cannot import name DUrationField"
**Meeting the requirements:**
**ATC** has a few requirements, this section is used to make sure the requirements are met. Until you can check all the boxes, **ATC** will not work on your system.
- [ ] `atcd` runs on Linux
- [ ] `atcd` has 2 physical interfaces
 - [ ] 1 that connects to the internet (WAN)
 - [ ] 1 that connects to the local network (LAN)
- [ ] the traffic from the devices that are

[2016-09-22 05:25] chantra commented on #295
@hsitaa we did not get any updates from you in a while. I will now close this issue. please feel free to open a new task in the future if you still need assistance.

[2016-09-22 05:25] #295 closed

[2016-09-22 05:28] sunlinsmart commented on #299
Django Version:1.7,open the URL --http://localhost:8000,show the importError at/ cannot import name DurationField.

[2016-09-22 05:31] chantra commented on #299
this was fixed as part of #279

what version of ATC do you use?

[2016-09-24 02:00] yang-scofield commented on #299
Django Version:1.7   ,python versin 2.7.6    ,I  have the same problem  open  http://localhost:8000,  i  install     ATC   use:  pip install atc_thrift atcd django-atc-api django-atc-demo-ui django-atc-profile-storage

[2016-09-27 15:09] cabahug2 opened #300 "Unable to run vagrant up trusty"
I downloaded zip files vagrant-berkshelf and vagrant-omnibus from Github and manually installed them (gem build name.gemspec then vagrant plugin install name.gem). When I try to run vagrant up trusty from chef/atc, I get the following errors:

Unknown configuration section 'berkshelf'.
Unknown configuration section 'omnibus'.

vagrant plugin list gives:
vagrant-berkshelf (5.0.0)
vagrant-libvirt (0

[2016-09-27 16:02] chantra commented on #300
Hi,
This is pretty much a vagrant or vagrant plug-in issue. I don't have good advice to give you put searching for help on those specific projects.

[2016-09-27 16:54] chantra commented on #299
@sunlinsmart @yang-scofield I believe what you are hitting is #296 actually. this is fixed in master, but not pushed to pipy.

[2016-09-27 17:40] chantra commented on #299
I have pushed version 0.1.6 to pypi. Can you try reinstalling. Note that will depend on django 1.10

[2016-09-28 00:44] yang-scofield commented on #299
thanks @chantra  change django 1.7 to 1.10 ,it worked !  the doc is changed : django 1.7 -->django 1.10

[2016-09-28 00:45] chantra commented on #299
Thanks for the update @yang-scofield

[2016-10-03 16:38] chantra commented on #299
@sunlinsmart I have pushed 0.1.6 which should solve your issue. please feel free to open a new issue if after upgrading to 0.1.6 you still have an issue.

[2016-10-03 16:38] #299 closed

[2016-10-23 17:55] jhaoheng opened #301 "[osx][docker] network interface wrong"
Hello, i use docker to build atcd/atc image on OSX

and i run container with this cmd
`docker run -it --privileged --network=host --rm -e ATCD_LAN=en0 -e ATCD_WAN=en4 ${USER}/atc`

`en0` : is my wifi
`en4` : is my ethernet
and `bridge100` is my internet share with wifi

but whatever i set anyone on the ATCD , the error log is

Does anyone know how to fix this?

[2016-10-23 18:27] smorad commented on #301
Can you paste the results of `ifconfig` from your host OS, and from within the docker instance?

[2016-10-24 00:23] jhaoheng commented on #301
Hi @smorad
Thank your reply.

[code]

[2016-10-24 09:21] AskForHelppp opened #302 "Turn on 'Cable' profile could not access any website, testing the network connecting is 0.1kb/s"
I set up the ATC in my ubuntu14.04. And use one android device to connect the wifi.
I download the exciting profile form  Github, and turn on "Cable" profile from the mobile.
Found it could not connect any website and when I testing the network connect, it says 0.1kb for download.
Before I turn on the profile, I can access the website.

`
INFO:AtcdVService.AtcdLinuxShaper:Request startShaping Traf

[2016-10-25 15:55] smorad commented on #301
@jhaoheng is that from within the docker instance? I suspect that you don't have an en4 interface within your docker instance. Can you please verify it exists?

https://docs.docker.com/engine/userguide/networking/

[2016-10-25 15:59] smorad commented on #301
Also I see your using a mac, please note that ATC does not work with macs, as it uses Linux tools like `tc`. You should be okay if you use a Linux VM.

[2016-10-25 16:03] smorad commented on #302
What do you have set for your `--atcd-wan` and `--atcd-lan` interfaces?

[2016-10-25 16:11] jhaoheng commented on #301
Hi @smorad

I build `ATC` docker image from this repo. and i install docker on my osx.
Use docker run `atcd/atc` image and then to start the container.
follow this steps -> https://github.com/facebook/augmented-traffic-control/tree/master/docker

- `en0` is my mac osx wifi network interface.
- `en4` is my mac osx ethernet  network interface.

I follow the step and run image with env argument [ATCD

[2016-10-25 17:01] jhaoheng commented on #301
Hi @smorad

I mistake, the atc tell me the container can't find this two interface, it not mean the 'container is not built'.

So i run `docker network inspect host`

[code]

and i into the container and run `ifconfig`

[code]

and i can't find the `eth1` on container. what wrong?

[2016-10-25 17:12] jhaoheng commented on #301
Hi smorad

you mean `atcd/atc` docker image only could build on linux base NOT osx base.
and `atcd/atc` could find `eth0 & eth1` on linux?

Does i build it on raspberry which is installed ubuntu and it will work?
Sorry i have not been try.
Because i want to try it on my osx docker first, to prove it could build on docker.

[2016-10-25 18:26] chantra commented on #302
@AskForHelppp can you try using `--atcd-dont-drop-packets` command with atcd. Does that help?

[2016-10-25 18:31] chantra commented on #300
@cabahug2 did you manage to fix your problem? I will close this issue for now as this is not a atc issue per se.

[2016-10-25 18:31] #300 closed

[2016-10-26 01:24] AskForHelppp commented on #302
@smorad  I set: atcd --atcd-wan eth0 --atcd-lan wlan0

[2016-10-26 01:58] AskForHelppp commented on #302
@chantra --atcd-dont-drop-packets this command makes it work.  I checked some closed issue found the same error.
Next time I should go through all the closed issue to see if already got some solution. Thanks!

[2016-10-26 01:58] #302 closed

[2016-10-26 15:18] jhaoheng commented on #301
@chantra

Thanks.

[2016-10-26 15:18] #301 closed

[2016-11-11 01:18] JaewookYou opened #303 "Plz help me with my atc, it successfully runned but actually not working"
**ATC** has a few requirements, this section is used to make sure the requirements are met. Until you can check all the boxes, **ATC** will not work on your system.
- [o ] `atcd` runs on Linux
- [ o] `atcd` has 2 physical interfaces
 - [o ] 1 that connects to the internet (WAN)
 - [o ] 1 that connects to the local network (LAN)
- [o ] the traffic from the devices that are being shaped is routed th

[2016-11-11 02:02] smorad commented on #303
Are you sure `[o ] atcd sees the real IP of the devices (e.g there is no NAT on the LAN segment)`? Can you dump the IP addresses of your shaped devices as seen from your linux machine?

[2016-11-11 02:22] JaewookYou commented on #303
@smorad  Thanks for applying

ap1 ---------------------eth0 | eth1 ---------------------------- ap2 ------------ adsl-----outside

in this environment,

mobile device
  - 123.123.123.2~

ap1
  - internal IP : 123.123.123.1
    net mask : 255.255.255.0

  - external IP : 100.100.100.10
    net mask : 255.255.255.0
    gateway : 100.100.100.1

eth0
 - IP : 100.100.100.1
   net mask : 255.255.255.0

[2016-11-11 07:28] chantra commented on #303
@JaewookYou

Can you tell us how you trigger the shaping?

[code]

this show that the shaping is triggered from the atc box, not from a mobile client on the network.

[2016-11-15 00:23] JaewookYou commented on #303
@chantra Ok, then how can I change that the shaping is triggered from the atc box?

[2016-11-15 01:46] chantra commented on #303
@JaewookYou what do you mean? Do you want to remove it? or update it? If removing, there is an option to start from clean DB, `--help` should help you finding it out. I dont remember on top of my head. If you leave it around, it will eventually clear and in any cases, it should not cause any issue.

Did you manage to shape the traffic from a remote device? is it working for you? if now, can you se

[2016-11-15 02:24] JaewookYou commented on #303
@chantra Sorry, I misunderstood. I just run atc server by
--
sudo atcd --thrift-host 127.0.0.1 --atcd-lan eth0 --atcd-wan eth1
--
and run UI page by
--
sudo python manage.py runserver 100.100.100.1:8000
--

I turned on ATC by UI Page's 'Turn On' button.

[2016-11-15 02:26] JaewookYou commented on #303
@chantra
This is when I run ATC server / UI Page server and press 'Turn On' button on UI Page.

(venv)ahnlab@ahnlab-Z68A-D3H-B3:~/dev/atc/atcui$ sudo atcd --thrift-host 127.0.0.1 --atcd-lan eth0 --atcd-wan eth1
[sudo] password for ahnlab:
INFO:AtcdVService.AtcdNBServerTask:AtcdNBServerTask Server Started on 127.0.0.1:9090
INFO:AtcdVService.AtcdLinuxShaper:Calling initialize_shaping_system
INFO:Atc

[2016-11-23 19:56] chantra commented on #303
@JaewookYou
sorry for the late reply:

Are you doing this from the phone? Or from the ATC host?

Theses logs:
[code]
shows that the `controllingIP` (ATC box) is the same as the `controlledIP` (suppose to be the device you shape).

So there is 2 possibilities here.
1. As @smorad suggested, there is nat involved and the traffic coming to ATC appear as if it came from ATC, this will prevent ATC from

[2016-12-08 07:39] muthurajbharathi opened #304 "atc create profiles"
Hi I need to create profiles from backend instead from UI. How can i do that what is the end point and please provide api endpoint and parameters to be sent to create profile.

[2016-12-08 15:24] chantra commented on #304
@muthurajbharathi this should help you. link to the restore script

https://github.com/facebook/augmented-traffic-control/blob/master/utils/restore-profiles.sh
And link to the api
https://github.com/facebook/augmented-traffic-control/blob/master/atc/django-atc-api/README.md

[2016-12-16 07:53] liuang68 opened #305 "sudo atcd failed"
Hello,Sorry for disturbing, I wanna ask for assistance about a problem I rencently encountered
.when 'sudo actd' is executed, the sentence"can  not find actd" is showed on my screen.However,I have installed atcd.Could anyone give me some suggestions or solutions?

[2016-12-16 15:28] chantra commented on #305
Hi liuang68

How did you install atc? If in a virtualenv, did you forget to activate it?

[2016-12-16 16:48] liuang68 commented on #305
According to the installation of the tutorial for ATC,sorry,I don't understand what you say about virtualenv,Could you explain please？How to activate？

[2016-12-16 17:20] chantra commented on #305
@liuang68
https://facebook.github.io/augmented-traffic-control/docs/install.html has indication on how to use python virtualenv.
If you `pip install`ed atc, chances it is under `/usr/local/bin/atcd` and using `sudo /usr/local/bin/atcd` will work.

Most likely, `/usr/local/bin` are not in your `PATH`.

If that does not help, can you search where `atcd` got installed `find /usr -name atcd`

[2016-12-20 10:23] liuang68 commented on #305
@chantra Hello,I don't have /usr/local/bin/atcd,  so how to use sudo atcd work????

[2016-12-20 15:51] chantra commented on #305
@liuang68

Please can you answer those questions

* Can you tell me exactly how you installed ATC (link to documentation you followed)
* Any error messages during the install?
* > If that does not help, can you search where atcd got installed find /usr -name atcd

Thanks

[2016-12-21 01:43] liuang68 commented on #305
@chantra
sudo apt-get install python-pip python-dev build-essential）
sudo pip install --upgrade pip
pip install atc_thrift atcd django-atc-api django-atc-demo-ui django-atc-profile-storage
django-admin startproject atcui
cd atcui
gedit atcui/settings.py
INSTALLED_APPS = (
    ...
    # Django ATC API
    'rest_framework',
    'atc_api',
    # Django ATC Demo UI
    'bootstrap_themes',
    'django_

[2016-12-21 01:52] chantra commented on #305
unless you ran that in a virtual environment, you should have gotten an error

You will need to run it using `sudo` or follow https://facebook.github.io/augmented-traffic-control/docs/install.html and set up the virtualenv (search for `Virtual Environment` on that page).

Maybe you can also reach out to the author of the tutorial. I can read Chinese, but I dont see reference to virtualenv, and as

[2016-12-21 02:01] liuang68 commented on #305
@chantra Thank you, in accordance with your tutorial I try, my machine is a physical machine, also need to install the Virtual environment in physical machine???

[2016-12-21 02:02] chantra commented on #305
This is unrelated to virtual or physical machine: http://docs.python-guide.org/en/latest/dev/virtualenvs/

[2016-12-21 02:13] liuang68 commented on #305
@chantra I see, in  https://facebook.github.io/augmented-traffic-control/docs/install.html  ,
There is a place Don't understand,
for pkg in atc_thrift atcd \
  django-atc-api django-atc-demo-ui django-atc-profile-storage
do
  pip install $pkg
done
that is a shell??

[2017-03-02 02:17] scvjx opened #306 "ATC can not control different mobiles"
Hello, I use a PC that have two net adapters . one adapter connect internet , other connect a H3C Switch that create a WIFI.  Different mobiles use wifi can not separate control .why?

[2017-03-22 06:18] muthurajbharathi opened #307 "How to know how much packets or data flowing to shaped devices"
I want to render a live graph based on how much data or packets are flowing to devices which are shaped using atcd.

And also i need a info of packet drop along with packets or data flow. Please help me achieving this

[2017-03-22 19:13] hamsterksu opened #308 "atc_demo_ui: manage/shape authorized machine"
Hi everybody,

I'm looking for capability to configure shaping rules for another authorized machine(controlled ip) from ui.
i know it's possible to do with api. but i need to have UI for this purpose.

web ui displays a list of ip in "Machines You Can Shape:". but seems i can't pick anyone from it

is it possible now?

seems not: api doesn't allow to do it - https://github.com/facebook/augmented-t

[2017-03-22 19:16] smorad commented on #308
It was specifically not implemented because it was a possible security issue. You could have bad actors shaping or disconnecting other users' devices without the users' knowledge.

[2017-03-22 19:20] smorad commented on #307
All the info you need is in tracked in the Linux kernel on the `wan` and `lan` interfaces. A good starting point would be `tcpdump`.

[2017-03-24 05:19] muthurajbharathi commented on #307
thank you smorad and i need one more information let's say atcd machine is shaping traffic for multiple device and can i know how much packets are flowing to specific shaped device.

[2017-05-02 17:08] dthkao commented on #306
Is NAT disabled for the switch?

[2017-05-17 12:34] winzows opened #313 "ATC is not running"
**atc is not running
terminal show:**
[code]
**Browser show：**
[code]
I need help  thanks！

[2017-05-17 13:13] winzows commented on #313
**And this step is wrong**
[code]

Let me thank you in the name of us all!

[2017-05-17 16:18] chantra commented on #313
Hi @winzows

This is because you are running python 3, which is not supported by ATC.

Please use python 2.7 by either creating a virtual environment with `virtualenv` or prepending your commands with `python2.7`.

[2017-05-17 16:18] #313 closed

[2017-05-18 12:37] winzows opened #314 "ATC is Running But browsers are so slow that they can't even open them"
**ATC is Running  But browsers are so slow that they can't even open them**

[code]
But browsers are so slow that they can't even open them
I don't know what caused it，

**can you help me?thank you very much！！**

[2017-05-18 12:57] winzows commented on #313
thanks！

[2017-05-21 03:44] smorad commented on #314
I'm not sure I understand. You shouldn't need to change any code. Set the `--wan` argument to your broadband connection interface, and `--lan` to your WLAN interface.

If hosts connected to the WLAN are still slow, try adding the `--dont-drop-packets` flag to `atcd`.

[2017-05-21 03:45] smorad commented on #306
@dthkao is probably correct. Ensure that your switch is not a router running a DHCP server for the clients.

[2017-05-22 12:24] winzows commented on #314
Thank you. I'll try

[2017-05-22 12:24] winzows commented on #314
@smorad Thank you. I'll try

[2017-05-30 16:42] Deathangel908 opened #315 "Running ATC from a laptop using 'create_ap'"
I'm trying to simulate low network conditions on my real android device based on [this answer](https://stackoverflow.com/a/40488451/3872976).  I'm using a laptop (x86) with archlinux as a router. In the laptop I have wired `enp61s0` and wireless `wlp62s0` interfaces. So I created wifi access point using [create_ap](https://github.com/oblique/create_ap) command, to be specific `sudo create_ap wlp62

[2017-05-30 16:50] chantra commented on #315
Hi @Deathangel908
it seems you inverted wan and lan. Did you start atcd with something like:

[code]

?

It should be the opposite. e.g

[code]

[2017-05-30 16:54] Deathangel908 commented on #315
Thanks for your response. I've just override it in [AtcdThriftHandlerTask.py](https://github.com/facebook/augmented-traffic-control/blob/master/atc/atcd/atcd/AtcdThriftHandlerTask.py#L117-L118)
[code]
So I guess there's no way I mess up with this

[2017-05-30 16:56] chantra commented on #315
well, you LAN is `ap0` and WAN is `enp61s0`. WAN is for the interface that connects to the Internet as in Wide Area Network, not Wireless (A) Network.

[2017-06-09 06:02] dthkao opened #317 "Support multiple shapings per device?"
Not a bug, but more of a feature request. Does the atcd API support (or is there a plan to support) multiple shapings per source IP and/or more advanced filtering (e.g., destination ip vis u32 filters)?

[2017-06-09 15:51] smorad commented on #317
Unfortunately, not at this time.

[2017-06-09 17:07] dthkao commented on #317
Any chance you'd consider an external contribution for the feature? Granted it would be a pretty significant change, and I'd expect some effort hashing out the API for it...

[2017-06-11 23:15] smorad commented on #317
We would. Please keep in mind we are no longer actively developing the `master` branch. If you want to add the feature, I would suggest adding it to the `golang` branch.

[2017-06-24 07:56] lycfr opened #318 "Switch network control failed"
executable code:sudo --atcd-wan eth0 --atcd-lan wlan0
prompt:
ERROR:sparts.tasks:Error creating task, AtcdNBServerTask
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/sparts/vtask.py", line 313, in init
    t.initTask()
  File "/usr/local/lib/python2.7/dist-packages/sparts/tasks/thrift.py", line 146, in initTask
    self.server.prepare()
  File "/usr/local/lib/pyt

[2017-06-25 03:03] chantra commented on #318
There is already another atcd process running.

[2017-07-04 04:29] kavithaks opened #319 "I have installed ATC(augmented traffic control)- how to access it via mobile device - As unable use the same network between the laptop and device. Could anyone please guide me the detailed steps to perform in order to access ATC via mobile device"
**Meeting the requirements:**
**ATC** has a few requirements, this section is used to make sure the requirements are met. Until you can check all the boxes, **ATC** will not work on your system.
- [ ] `atcd` runs on Linux
- [ ] `atcd` has 2 physical interfaces
 - [ ] 1 that connects to the internet (WAN)
 - [ ] 1 that connects to the local network (LAN)
- [ ] the traffic from the devices that are

[2017-07-04 05:03] kavithaks opened #320 "Does Augmented traffic control supports on Windows system or MacOSX ?"
**Meeting the requirements:**
**ATC** has a few requirements, this section is used to make sure the requirements are met. Until you can check all the boxes, **ATC** will not work on your system.
- [ ] `atcd` runs on Linux
- [ ] `atcd` has 2 physical interfaces
 - [ ] 1 that connects to the internet (WAN)
 - [ ] 1 that connects to the local network (LAN)
- [ ] the traffic from the devices that are

[2017-07-04 13:15] chantra commented on #320
Hi @kavithaks
We do not plan to support running ATC on anything but Linux, one of the main reason being that the traffic shaping is performed by the underlying kernel and there is no uniform API cross platforms. That being said, the code was made in a way that one could potentially add support.

Also, ATC may run on Linux, but any type of client can get their traffic shaped by ATC.

[2017-07-04 13:15] #320 closed

[2017-07-04 13:17] chantra commented on #319
@kavithaks could you start by answering the questions in the  issue template, this would allow us to answer your question. Tks

[2017-08-01 07:03] feelcode opened #322 "I have created some shapes using web ,but when I selected it and update shaping or turn on, no response"
when i update shaping or turn on in the webui ,and
![20170801150019315](https://user-images.githubusercontent.com/25193487/28813064-4587c75a-76ca-11e7-8651-4fc90f8f212d.jpg)
the terminal out put  "POST /api/v1/shape/ HTTP/1.1" 400 113
ubuntu 16.04, I create the ap just from desktop not create_ap or hostapd
it can navigte http://10.18.131.23:8000/api/v1/shape/

I have checked  an issue like,but not

[2017-08-01 09:57] #322 closed, assigned to nobody

[2017-08-01 09:58] feelcode opened #323 "how to use request to configure the shape"

[2017-08-01 11:22] #323 closed, assigned to nobody

[2017-08-02 03:11] feelcode opened #324 "Does it make any difference if I don't add arg --atcd-iptables,will the net speed be quiker or...?"
ubuntu16.04 I created the AP just from desktop not hosapd or create_ap
Thanks!

[2017-08-10 05:38] chantra commented on #324
@feelcode iptables is required in order to make ATC work. This flag is only to override the default in case it is in a non-standard path.

[2017-08-10 05:38] #324 closed, assigned to nobody

[2017-10-06 21:50] tachu opened #341 "Any shaping settings give inconsistent results"
I'm running atcd (0.1.6) on ubuntu 16.04 I've setup the server as a gateway using both nic. One nick is connected to my LAN on 10.24.0.0/24 network
seconds nic is initialized on vlan 255 and ip 192.168.128.0/24
Machine is setup as a gateway for clients with dhcp provided. all clients connect to network via wireless on save vlan.

I've run several tests with atcd disabled and speed tests are consis

[2017-10-07 06:53] sheenobu commented on #341
Here is a related issue: https://github.com/facebook/augmented-traffic-control/issues/86

The bandwidth looks so low because of packets being dropped and retrasmitted. You can run atcd with the dont-drop-packets flag.

The dropping setting is here: ```filter parent 1: protocol ip pref 1 fw handle 0x2 classid 1:2 police 0x6 rate 12Mbit burst 12000b mtu 2Kb action drop overhead 0b```, specifically t

[2017-12-11 09:27] xmznmn opened #348 "ATC is not running，how can i do？"
hi，all
when i run：
sudo python /home/pirates/augmented-traffic-control/atcui/manage.py runserver 0.0.0.0:8000
the issue is：
System check identified no issues (0 silenced).
December 11, 2017 - 09:24:32
Django version 1.11.7, using settings 'atcui.settings'
Starting development server at http://0.0.0.0:8000/
Quit the server with CONTROL-C.
No handlers could be found for logger "thrift.transport.TSoc

[2017-12-11 09:43] xmznmn commented on #348
i also run the python 2.7
this is my Network card information：
br0       Link encap:Ethernet  HWaddr 08:57:00:bd:4d:8d
          inet addr:10.230.75.24  Bcast:10.230.75.255  Mask:255.255.255.0
          inet6 addr: fe80::1a03:73ff:fe2f:ccba/64 Scope:Link
          UP BROADCAST RUNNING MULTICAST  MTU:1500  Metric:1
          RX packets:9324 errors:0 dropped:2 overruns:0 frame:0
          TX packets

[2017-12-12 06:45] chantra commented on #348
@xmznmn you need to run `atcd`, see https://github.com/facebook/augmented-traffic-control#atcd

[2017-12-12 06:45] #348 closed, assigned to nobody

[2017-12-12 06:59] xmznmn commented on #348
and i run atcd is "atcd --atcd-lan wlp2s0 --atcd-wan enp0s25",but atc is not running
thanks for help

[2017-12-31 18:17] dthkao opened #349 "Support burst bandwith and duplication settings in the API?"
Would it be possible to support burst bandwith and duplication settings in the ATC RESTful API?

AIUI implementation for burst shouldn't be too much of a deviation from the 'rate' field and duplication shouldn't be too different from corruption or reordering.

[2018-01-04 09:55] jeffreyzh opened #350 "get "'module' object has no attribute 'lru_cache'" issues when install django-atc-demo-ui"
hi all
I get this exception when I install `django-atc-demo-ui`
[code]

I noticed this line ```Downloading Django-2.0.tar.gz (8.0MB)```, is the cause of the issues？

my python version is 2.7, django version is 1.11
[code]
how can i do now? pls

[2018-01-04 10:00] jeffreyzh commented on #350
I also try to `pip uninstall Django`,then 'pip install Django==1.10', the problem still here

[2018-01-05 03:14] jeffreyzh opened #351 "show AttributeError: 'Options' object has no attribute 'get_all_related_objects' when execute "sudo bash restore-profiles.sh""
the atc server show` Internal Server Error` when I execute `sudo bash restore-profiles.sh 0.0.0.0:8000`
[code]
so I think maybe the versions of these libraries do not fit，check my django and django-rest-framework version:

my `django` version is 1.10
[code]

the [changelog](https://github.com/facebook/augmented-traffic-control/blob/master/CHANGELOG.md) show ```Django rest framework 3.2``` has been

[2018-01-05 03:20] jeffreyzh commented on #350
In the end ,i forced to specify the version of djanggo，it worked：
`sudo pip install django-atc-demo-ui Django==1.10 --no-cache-dir`

[2018-01-05 03:20] #350 closed, assigned to nobody

[2018-01-22 17:06] dorsegal opened #354 "shape error: adding NetEm qdisc on IFID enx00116b68175e, mark 2, err: (2, 'No such file or directory')"
Hi,

I run the command
`sudo atcd --atcd-lan enx00044b5818d1 --atcd-wan enx00116b68175e`

this is the erro i get:
ERROR:AtcdVService.AtcdLinuxShaper:adding NetEm qdisc on IFID enx00116b68175e, mark 2, err: (2, 'No such file or directory')

*ifconfig*:
[code]

*ip r*:
[code]

Using pc with ubuntu 16.04

[2018-03-27 06:48] dalmasi opened #357 "sudo: atcd: command not found"
Hi everyone!

I'm trying to run command $sudo atcd in order to start the atcd service. When i run this command i get this error: **sudo: atcd: command not found.**
Then, I try just run **$atcd** and it's run but with a lot of errors:

INFO:AtcdVService.AtcdNBServerTask:AtcdNBServerTask Server Started on 127.0.0.1:9090
ERROR:AtcdVService.AtcdDBQueueTask:Unable to access db file: /var/lib/atcd.db
ER

[2018-03-29 16:11] githubbc opened #358 "python manage.py migrate NameError"
I

[2018-04-16 16:49] quelleck commented on #357
`CRITICAL:AtcdVService.AtcdLinuxShaper:One of the following interfaces does not exist: eth1, eth0`

Specify the name of your interfaces with `--atcd-lan name_of_interface` and `--atcd-wan name_of_interface` as arguments when you run `sudo actd`. Run `ifconfig -a` to get the names.

[2018-04-16 16:51] quelleck commented on #358
urls.py seems to be missing some include statements. Change it to look like this:
`from django.conf.urls import url, include`
`from django.contrib import admin`
`from django.views.generic import RedirectView`

[2018-04-27 16:01] Gian-Michele opened #359 "installation issue"
I'm not an expert on Python, during the installation process I run the command:
"pip install atc_thrift atcd django-atc-api django-atc-demo-ui django-atc-profile-storage"

but the following error occur

Could not install packages due to an EnvironmentError: [Errno 13] Permission denied: '/usr/local/lib/python2.7/dist-packages/six.pyc'
Consider using the `--user` option or check the permissions.

c

[2018-05-14 08:34] dalmasi commented on #359
you need to run your command with sudo
try this: **$sudo pip install atc_thrift atcd django-atc-api django-atc-demo-ui django-atc-profile-storage**

[2018-06-29 07:42] Trree opened #360 "Support ubuntu18.04"
berk version is 7.0.2

When I exec "vagrant up", I got
[code]

[2018-07-07 01:25] #360 closed, assigned to nobody

[2018-07-25 03:51] Muyip commented on #53
Hello, @zfjagann，I want to know if atc can support port-based traffic shaping now?

[2018-08-13 03:22] Muyip opened #361 "What is the meaning of Correlation in the atc configuration file?"
![image](https://user-images.githubusercontent.com/17662241/44011392-e917bc6a-9eea-11e8-8e23-4681a1133336.png)
In the image above, there is a Correlation configuration under the delay and jitter, I want to know what the Correlation stands for.

[2018-08-30 23:06] dovodsc commented on #357
@quelleck I got the same error 'atcd' not found for command 'sudo atcd'. On ubuntu 18.04. While I'm do able to run 'atcd' without 'sudo'.

[2018-08-30 23:24] dovodsc commented on #360
@Trree did you managed to make it work on 18.04?

[2018-08-30 23:53] dovodsc commented on #357
@dalmasi you may need to disable network interaces renaming for Ubuntu or set proper logical names for atcd as @quelleck   pointed out.

@quelleck  I found solution for my issue 'sudo atcd' -> 'sudo ./atcd' weird. but works! )

[2018-09-03 07:28] onlyou2030 opened #362 "How to extend the validity period of the token"
The default validity period of token is 1min. Can I set the validity period of the token?

[2018-10-17 06:27] Johann01 opened #363 "The moment ATCD should start shaping it crashes."
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Here are a few questions that will help us get a better understanding of your setup. Please take a minute to answer them, this will avoid some back and forth communication by providing some context to us.
-->
**Meeting the requirements:**
**ATC** has a few requirements, th

[2018-10-24 10:46] Johann01 commented on #363
The solution for my issue is that ATC is not running Raspbian Stretch.  installed it Raspberry Jessie and it works just fine.

[2018-10-24 10:46] #363 closed, assigned to nobody