[2015-01-13 04:12] chantra opened #7 "Fix init detection"
The way init subsystem is detected is not right, see comment on https://github.com/facebook/air-traffic-control/commit/3a86d8613c64785485c27decc313b60717d6ca42

Also, the diff should pass the lint.

[2015-01-13 23:13] zfjagann opened #9 "fall back to sysvinit init scripts if no other (known) init system found"
Right now we print a warning in chef if chef does not understand the init system in use.

We should probably fall back to using sysvinit configs instead so that we at least have something that works on some systems, rather than throwing up our hands in defeat.

Pros of doing this:
- Provides something that works on nearly all platforms (virtually everything except systemd systems)
- Provides a tem

[2015-01-14 00:42] #7 closed, assigned to nobody

[2015-02-06 22:02] zealws opened #10 "drf loses track of data"
When data is posted to the API to start shaping a particular IP, the data is coherent in the view, but is lost somewhere between the view and serializer.

The POST data in the view reflects the data sent by the client, but the data that the serializer receives is filled with `None` objects rather than the defaulted dicts, and the rate information is completely lost.

Posted data:

[code]

Data see

[2015-02-10 00:58] zealws opened #11 "Cannot shape other IP address"
When you try to `POST` to `/api/v1/shape/{some-other-ip}/` ATC becomes unhappy.

Example:

[code]

Traceback:

[code]

[2015-02-10 18:27] #11 closed, assigned to nobody

[2015-02-24 00:03] chantra opened #16 "remove @csrf_exempt from atc profile storage views.py"

[2015-02-24 00:04] chantra opened #17 "make packages available on https://pypi.python.org/pypi"

[2015-02-27 00:37] chantra opened #18 "Suport secure/unsecure more in atcd"
We have the bits in place to support shaping in a access controlled manner. This task is about enabling a secure and unsecure mode in atcd.

In secure mode, a device should only be able to shape traffic for itself or a device it has been granted access control previously (through auth token...)

In unsecure mode, one can just shape any arbitrary devices. This will put less friction if it is accept

[2015-02-27 19:31] chantra opened #20 "[atc_profile_storage] Profile not saved"
When trying to save a profile, I get prompted to enter a name, and click save.... but then nothing is saved

[2015-03-04 23:43] #10 closed, assigned to zealws

[2015-03-05 17:07] #20 closed, assigned to nobody

[2015-03-05 17:14] chantra opened #24 "Run atcui-setup as the user running atc UI"
When running atcui-setup, it should be forced to be ran as the user under which the UI runs or we would have file permissions issues (like wrong sqlite db ownership...)

This was discussed in #20 and more precisely:
https://github.com/facebook/augmented-traffic-control/issues/20#issuecomment-77404765

One thing to keep in mind is that we should ensure that the `collected_static` directory also has

[2015-03-05 19:32] #24 closed, assigned to nobody

[2015-03-06 21:28] zealws opened #27 "atc should be allowed to run atcui-setup"
Currently if you run `atcui-setup` as the `atc` user, it complains:

[code]

This is pointless since it's going to `su` to `atc` anyway. We should allow this.

[2015-03-09 21:11] #27 closed, assigned to zealws

[2015-03-10 17:10] chantra opened #30 "document atcd"

[2015-03-12 05:35] chantra opened #32 "python packages not installing properly when using pip"
The django apps are not installing properly, more precisely, they are missing static files, templates...

This issue did not happen before because in our dev setup we use the chef cookbook which install the packages using the **-e** options which instead of installing the files in the python's site-packages folder, creates symlink.

[2015-03-12 17:28] chantra opened #34 "Create ATC website"
While READMEs are useful to document individual components, a web page can go a long way in providing more detailed/consumable documentation.

[2015-03-12 19:00] #30 closed, assigned to nobody

[2015-03-12 20:19] #32 closed, assigned to chantra

[2015-03-12 22:25] zealws opened #36 "Whitelist proxy IPs that can set `HTTP_X` headers"
Headers:

[code]

[2015-03-12 22:25] zealws opened #37 "Documentation for ATCUI Authorization endpoints"

[2015-03-12 22:29] #18 closed, assigned to chantra

[2015-03-13 22:01] #17 closed, assigned to chantra

[2015-03-18 01:49] #36 closed, assigned to nobody

[2015-03-18 18:20] chantra opened #44 "Make ATC UI more mobile friendly"
While bootstrap does a great job at adapting the layout depending on the screen, we could do a better job and making it more useable on mobile.

[2015-03-18 18:27] #37 closed, assigned to nobody

[2015-03-23 01:26] chantra opened #45 "investigate using iptables' CLASSIFY target"
It appears that there is potentially a way to bypass marking packets from iptables and then filtering using the CLASSIFY target:
http://www.at.netfilter.org/patch-o-matic/pom-submitted.html#pom-submitted-CLASSIFY

That would allow passing the packet directly onto the class that does the throttling.

Current we use the policing part of the filter to drop packets when going beyond the allocated band

[2015-03-23 01:57] chantra opened #46 "Use the same qdisc handle number on netem qdisc for up and down links"
As I was documenting how `atcd` works, I found out that we use different handle for the netem qdisc for up or down link.
We should be able to use the same as they belong to different network interfaces.

On the other hand, IIRC, we do not assign them ourself and let the tc subsystem do it as they are leaf and we dont really need to know their ID.

Anyhow, putting this here until confirmed.

[2015-03-23 05:06] chantra opened #48 "atc_api.settings.PROXY_IPS default is not properly set."

[2015-03-23 06:00] chantra opened #49 "Use rest_framework.views.APIView in atc-profile-storage"
By subclassing APIView in atc-profile-storage, instead of getting raw json when browsing to the endpoint, we would be able to get a View that let the user GET/POST/DELETE to the endpoint just like with /api/v1/shape (see screenshot)
It proves to be pretty handy when troubleshooting or fiddling with values rather than having to fallback to curl.
![screenshot from 2015-03-22 22 58 20](https://cloud.

[2015-03-23 06:33] chantra opened #52 "move _get_client_ip to some utils lib"
we have 2 implementations of _get_client_ip in atc_api.views and atc_api.serializers

This cause decrepencies between the 2 functions which are meant to solve the same thing.

It seems the view's version got reimplemented as part of ca74df94. We should rather refactor them to avoid issues like 7ff6c7ac10abba66e5c7d69b0de2aed9b49293ad

[2015-03-23 06:35] #34 closed, assigned to chantra

[2015-03-23 06:56] #48 closed, assigned to chantra

[2015-03-23 23:03] zfjagann opened #53 "Support traffic shaping based on ports"
Primary way of specifying ports to shape should be port-range, such as `1..65535`

Would also be nice to specify discrete list of ports, such as `22, 80, 443, 8080`

Probably need to figure out a good way to allow specifying either of these inputs in a single format.

Perhaps a string input, which is split in the API. E.g. `"ports": "22,80,443,8000..8999"`

[2015-03-24 03:33] jasta opened #54 "Provide simplified instructions for deploying to DD-WRT/OpenWRT"
I estimate that a large number of users are looking for a simpler set of deployment steps, in particular for deployment to other easy-to-use router firmwares like DD-WRT and OpenWRT.  It would be great to provide a comprehensive guide or a set of simple scripts that automate deployment to these targets.

Additionally, it might even be appropriate to deploy atc to the opkg/ipkg repositories maintai

[2015-03-24 16:33] ayufan commented on #54
You can try https://github.com/Polidea/Cellular-Data-Network-Simulator :)

[2015-03-24 17:56] patcon opened #56 "Ship with some pre-configured profiles"
For those just jumping in, would be nice to have some pre-sets based on some real network conditions. Some people just want to start testing their applications, and would rather not research connectivity on problem-networks :)

Great tool, and thanks!

[2015-03-24 18:07] patcon commented on #56
Possibly helpful http://www.speedguide.net/faq/what-are-the-actual-speeds-of-gprs-edge-umts-hspa-366

[2015-03-24 18:08] zfjagann commented on #54
I haven't really really given much thought to deploying ATC on DD-WRT/OpenWRT boxes, although I agree it would be useful. @chantra will have better insight into how difficult the iptables/tc integration with these systems will be.

[2015-03-24 18:14] abackholm opened #57 "Dormancy timers"
In our testing of networks around the world, we've observed timers that drop dormant tcp sockets as fast as in 2-5 minutes, although 15-20 is more general. Those tend to have significant effect on mechanisms to maintain long-lived tcp sockets. It would be great to be able to simulate that with the tool.

[2015-03-24 18:14] patcon commented on #56
@zfjagann mentioned in IRC that he would look into providing some sample profiles. Also, he mentioned some info was in the blog post screenshots (though not much):

https://code.facebook.com/posts/1561127100804165/augmented-traffic-control-a-tool-to-simulate-network-conditions/

[2015-03-24 18:15] zfjagann commented on #56
There are also some sample profiles in the screenshot on [the website](http://facebook.github.io/augmented-traffic-control/), but again, not very helpful.

[2015-03-24 18:23] zfjagann opened #58 "atcd should use upstart script"
We switch atcui to use upstart a while ago (bff9f730), but never upgraded atcd.

[2015-03-24 18:27] patcon opened #59 "Can't create profiles in Firefox"
![FF profile creation error screenshot](https://i.imgur.com/gn9wsti.png)

When trying to create any profile in FF, I get a form validation error. Works find for Chrome (which was how I got the "slow network" that appears in the screenshot).

FF 36.0.1 (Ubuntu 14.04) host, running in vagrant "trusty" box at tag v0.1.0

[2015-03-24 18:52] chantra commented on #54
:) @ayufan Nice! Too bad I did not run into it before. Looking at the timeline, we had  already started our hack sessions on `ATC` and our first versions of `ATC` were pretty close to your solution.

The issue is not going to be iptables/tc as this is already included in the WRTs. I have actually little to no experience with WRTs, but the biggest issue is most likely going to get the whole python

[2015-03-24 19:09] #59 closed

[2015-03-24 19:18] dtaht opened #60 "you got bufferbloat issues on multiple fronts"
0) Policing is a horrible idea. However it is commonly used in the field.

1) qdisc netem 8001: parent 1:2 limit 1000 delay 10.0ms loss 1%

the arbitrary setting of limit 1000 does not match reality. We have seen both much larger and much smaller values in the field.

2) you have htb doing stuff to "direct" for some reason, not sure if this is intentional

3) I have never really trusted netem in c

[2015-03-24 19:58] richb-hanover opened #61 "Website needs to describe what ATC would be used for"
The website (both github and http://facebook.github.io/augmented-traffic-control/) need to have a single sentence that describes what it's useful for. The following sentence provides a motivation for ATC, and could be inserted after the first sentence of the facebook.github.io page:

Developers can use ATC to test their application across varying network conditions, easily emulating high speed, mo

[2015-03-24 20:28] jasta commented on #54
Looking at this a little closer, what would the distribution breakdown look like in your view?  The way I see it is that you'd need at least two separate core packages, with maybe one meta package that binds them for convenience:

[code]

Would this be an accurate breakdown?

[2015-03-24 21:13] patcon commented on #59
thanks! :+1:

[2015-03-24 21:15] zfjagann commented on #59
yep. good find!

[2015-03-24 22:56] chantra commented on #57
Hi @abackholm ,

Thanks for the feedback. Currently, ATC works at the IP layer currently and does not keep state of the connections.
I do not see any easy ways to do this currently.
One way that could work would be to use a thread that would use nfqueue and apply the right verdict. This would be most likely pretty resource intensive compare to the current design.

[2015-03-24 23:00] chantra commented on #54
@jasta yes that seem right.

[2015-03-24 23:02] chantra commented on #61
@richb-hanover Thank you for the feedback.
Thats right, that the description is not really descriptive :) I will fix this.

[2015-03-25 05:00] rbhat0987 opened #65 "My page is not opening"
I have done all the setting as shown in the read file.
Continuously getting the below attached error
kindly help

![atc_screen](https://cloud.githubusercontent.com/assets/11641859/6818653/e420a1ee-d2d9-11e4-905e-77048e7d8697.png)

[2015-03-25 05:02] chantra commented on #65
Hi @rbhat0987 unfirtunately, we do not support python 3 yet. While the print issue may be quite easy to fix, there would be most likely a slew of other issues. Can you get a python 2.7 install alongside python 3.4 ?

[2015-03-25 05:06] rbhat0987 commented on #65
yeh sure let me try again
thanks for fast response

[2015-03-25 07:12] cjy56789 opened #66 "Insatll sparts\fb303\contents.py error"
OS: Windows 7 64 bit
Python Version:3.4.3(64bit)
If installing actd, always say can't copy sparts\fb303\contents.py to C;\Users\%username%\.... etc
failed error code is 1

[2015-03-25 08:37] wingwingw opened #67 "Page not found (404)"
OS: Windows 7 64 bit
Django Version:	1.7
Python Version:	2.7.9
I have done the settings as shown in the docs,but i can not open the url http://localhost:8000/atc_demo_ui/, always get Page not found (404) error .

[2015-03-25 09:13] #67 closed

[2015-03-25 11:35] boxerxing opened #68 "OSX10.10.2 atcd can not work with error NotImplementedError: darwin backend is not implemented!"
I download and install ATC according to the readme file block in step run atcd with following issue：Traceback (most recent call last):
  File "/usr/local/bin/atcd", line 13, in <module>
    runner.run()
  File "/usr/local/lib/python2.7/site-packages/atcd/scripts/runner.py", line 34, in run
    initialize_thrift()
  File "/usr/local/lib/python2.7/site-packages/atcd/scripts/runner.py", line 27, in i

[2015-03-25 15:21] chantra commented on #65
@rbhat0987 Also, maybe I should have been a tad more descriptive, but we only support Linux. While there is a good chance that you can run the web interface on windows, the `atcd` daemon will not run on windows,

[2015-03-25 15:22] chantra commented on #65
Marking as `invalid` for now as there is no plan to support windows.

[2015-03-25 15:22] #65 closed

[2015-03-25 15:27] chantra commented on #66
Hi @cjy56789 ,
thank you for reporting this. Unfortunately, neither windows, nor python 3 are supported.
While you should be able to get the web interface to work on windows providing that you use python 2.7, there is no chance you can run `atcd` on windows.

Tks
closing as dup of #65

[2015-03-25 15:27] #66 closed

[2015-03-25 15:34] chantra commented on #68
Hi @boxerxing
thank you for reporting this. Unfortunately, we only support Linux for now.

The `darwin` backend could be implemented, but this is not yet on the roadmap. If you want to give it a try, PRs are welcome :) .
I believe `pf` can provide the same functionality on MacOSX/BSD, but I have not really given it a look.

Also, mind that `ATC` must run on a gateway, so to be able to have ATC to

[2015-03-25 15:34] #68 closed

[2015-03-25 15:53] chantra commented on #60
Hi @dtaht ,

Thanks for the feedback. I guess it will take some time to process, but I really appreciate the feedback.

Let me try to answer some of the questions/statements though:

0) Policing is the only way we found at dropping packets when going above the allocated bandwidth. To be honest, there should be better ways of doing it, but this seemed to worked and reproduce the behaviour we expect

[2015-03-25 17:23] dtaht commented on #60
I am depressed that all our attempts at outreach on this issue are only now reaching more developers of test tools. A search on google scholar will give you many of the relevant papers and research on this topic including 3g/4g lte networks.: https://scholar.google.com/scholar?as_ylo=2011&q=bufferbloat&hl=en&as_sdt=0,5

-1) many of the problems you are seeing in the field can be attributed to buff

[2015-03-25 17:31] #61 closed

[2015-03-26 04:26] boxerxing commented on #68
@chantra thank you for your help.I'll try it on ubuntu 13.04 system but Django and MySQL always apt-get failed... I hope use ATC on iPhone between OSX .

[2015-03-26 06:33] yelinqing opened #72 "I do not kown how to use it ,is there any guide ？"

[2015-03-26 06:39] dinny commented on #72
There's a well documented user guide in the home directory. Have you ever read README.md?

[2015-03-26 07:19] boxerxing commented on #68
Great!,The ATC env is build done,but i have another problem,After i config both files ("atcui/settings.py" and "atcui/urls.py") as your doc,then i run "sudo atcd" under virtual env,but the atcd server couldn't be luanched with issue: (Could you help me ? i do sudo atcd --atcd-eth0 failed like this.)
INFO:AtcdVService.AtcdNBServerTask:AtcdNBServerTask Server Started on 127.0.0.1:9090
CRITICAL:AtcdV

[2015-03-26 08:49] boxerxing opened #73 "Ubuntu 13.04 couldn't creat a profile in local ATC UI page."
"You must give this new profile a name." always show. and I could not be luanch ATC with "sudo atcd" , my PC connect to internet with lan (IP is 10.57.37.11) I want to luanch ATC server and config a demo profile to test. please give me some detail run commend example.

[2015-03-26 09:58] yelinqing commented on #72
I  have read  README.md. But I don't kow how to use it  with my app

[2015-03-26 15:37] jinkerry opened #74 "ImportError when run the atcd"
Hi, zeal

When i run the atcd in shell, catch the exception.
[code]

Thank you

[2015-03-26 16:26] chantra commented on #68
@boxerxing
atcd needs to run on a device that routes traffic. To do that, it needs 2 interfaces:
[code]
Typically, one of the network interface is connected to your internal network (can be configured with --atcd-lan and defaults to eth1) and one is connected to your uplink to the internet (--atcd-wan and defaults to eth0)

[2015-03-26 16:29] chantra commented on #72
I think we need to make a better job at providing a getting started page.
Did you read http://facebook.github.io/augmented-traffic-control/docs/install.html ? To you meet the requirements (Linux on a routing device....)?

Can you give more details about your setup?

[2015-03-26 16:32] chantra commented on #74
@jinkerry
Can you provide the output of:
`pip freeze`
It looks like version of `six` you are using does not have the `queue` module.

As an example, here is the version we have on a working instance:
`six==1.8.0`

[2015-03-26 17:52] zfjagann commented on #73
Hi @boxerxing,

Please take a look at the installation instructions here on [our website](http://facebook.github.io/augmented-traffic-control/docs/install.html). If those are confusing or incomplete please let us know and we'll fix them.

Thanks for the feedback!

[2015-03-26 18:10] zfjagann commented on #73
If you're having issues with the ATCUI specifically it would be helpful to know what platform you are using (Operating system and browser version). Thanks.

[2015-03-26 18:39] chantra opened #75 "Come up with a list of diagnostising steps"
We are getting reports back about people having issues installing ATC partly because we did not do a good job at highlighting the requirements, but also, when we have a report, we have little actionable item.

Having a consistent list of info we need would help in getting better signal on what may be wrong, we could also flag directly if the host is suitable to run `atcd`....

[2015-03-27 07:56] jinkerry commented on #74
Six version is 1.9.0 in my env.
Maybe some other reason?

Thank you.
[code]

[2015-03-27 08:31] codingstyle opened #77 "Error when installing via pip"
Hi,

Installation hangs with atc_thrift when I try to install packages with pip on Ubuntu 13.10.

Here is the log :

[code]

It looks like README.md is required but not present in the package.

Cheers,
Chris

[2015-03-27 18:00] zfjagann commented on #77
Which platform are you install atc-thrift on? In particular, the version of pip and python you're running would  be helpful.

[2015-03-27 19:50] chantra commented on #77
I could repro on ubuntu 13.10. It does not seem to use the wheel package.

I will fix this.
@codingstyle In the meantime, you can install from source.

[2015-03-27 20:02] chantra commented on #77
It seems it would be sufficient to add the readme in MANIFEST.in

[2015-03-27 22:27] IoDmitri opened #78 "sudo atcd produces an error"
Im running on a Mac OSX 10.10.  Error below.
Traceback (most recent call last):
  File "/usr/local/bin/atcd", line 13, in <module>
    runner.run()
  File "/usr/local/lib/python2.7/site-packages/atcd/scripts/runner.py", line 34, in run
    initialize_thrift()
  File "/usr/local/lib/python2.7/site-packages/atcd/scripts/runner.py", line 27, in initialize_thrift
    AtcdThriftHandlerTask.factory().re

[2015-03-27 22:33] chantra commented on #78
Hi @IoDmitri

Unfortunately, ATC only supports Linux currently. We have obviously made a bad job at communicating this and are emphasizing this in some more obvious way.

Hopefully,  http://facebook.github.io/augmented-traffic-control/docs/install.html is clarifying the requirements.

Dup #68

[2015-03-27 22:34] #78 closed

[2015-03-28 00:36] #77 closed

[2015-03-28 00:39] chantra commented on #77
@codingstyle This will make it into 0.1.1 which I believe we will get out soon once we have piggy backed a few other issues that went through the net.
In the meantime, installing from source using the following command from the root of the repository:
[code]

should work.

[2015-03-28 01:05] chantra commented on #74
So, looking at your output, there is one thing that will not work even after this issue is fixed: ATC does not run on anything other than Linux.

Aside from that, I have installed on a Mac host a brand new virtualenv with python 2.7.6, installed atcd and six==1.9.0 and cannot reproduce  the issue when importing:
[code]
or running `atcd`

Anyway, I will close this one for now as this is happening o

[2015-03-28 01:05] #74 closed

[2015-03-28 10:10] boxerxing commented on #73
@zfjagann my OS is Ubuntu 13.04 with firefox browser

[2015-03-30 04:38] kimjungyeon opened #82 "what is this problem? "darwin backend is not implemented!""
i try until this readme
test -z $VIRTUAL_ENV && source ~/dev/atc/venv/bin/activate
sudo atcd

but it didnt work!
how can i solve this problem?? saveme!!

[2015-03-30 08:24] wwewwt opened #83 "I have successfully insteaded ATC,But how to use ATC to test my app?"
I can see    http://localhost:8000/atc_demo_ui/ .

Can you help me how to use ATC to test my app?
How to building a Wi-Fi network that could be set to different simulation speeds by the engineers using it?

[2015-03-30 09:32] wwewwt commented on #83
I have a Notebook  which has two Network Interface Cards,One is wireless ,the other is Wired.
If I want to test my android app,I think the steps are:

1.Install a linux system in my notebook
2.My app connect to notebook through wireless (WIFI).
3.My notebook connect to internet through  a network cable.
4.Install ATC in my notebook and use my app to set the profile.

Is that all right?    Thank yo

[2015-03-30 14:59] KaptenJansson commented on #82
I guess you are trying to run it on Mac OS? Only Linux is [supported](http://facebook.github.io/augmented-traffic-control/).

[2015-03-30 17:19] chantra commented on #83
Hi @wwewwt

You will need to make sure your notebook acts as a router. What that will entail is roughly:
- your laptop will need to forward packets
- you will (most likely) need to set up natting on the wired interface
- you may need to set up a DHCP server that will distribute IP to your wireless devices (or could set static ips)
- set atc on the router and then get the devices to connect to http

[2015-03-30 17:22] chantra commented on #83
Also, you may want to use virtual machines for this. It is technically possible to attach your wireless adapter to a VM and set up router in the VM.

[2015-03-30 17:46] zfjagann commented on #82
Hi @kimjungyeon:

Currently ATC makes use of iproute2, which is a linux-only tool. In the future we may consider implementing BSD/OSX support, but for the time being ATC will only run on a linux system.

Thanks!

[2015-03-30 17:47] #82 closed

[2015-03-30 21:20] zfjagann commented on #73
We just pushed version 0.1.1 which contains a fix for #59 a bug which affected firefox. Please update your atc and the `You must give this new profile a name` should not happen again.

What error happens when you run `sudo atcd`? Does it crash with a stack trace, or is something else going on?

[2015-03-30 21:27] chantra commented on #60
I still did not get a chance to read through/watch those documents, but at least for 2) those were example output which did not represent real traffic, which is why the stats are not showing anything going through.

[2015-03-30 23:12] zfjagann commented on #72
Hi @yelinqing,

I'm going to close this issue since we've done a lot of work in the past week to improve documentation.

If the documentation is still confusing, or incomplete please reopen this issue or create a new one.

Thanks!

[2015-03-30 23:12] #72 closed

[2015-03-30 23:42] zfjagann commented on #60
Wishlisting since this is a decent portion of work and needs more discussion before it will be actionable.

[2015-03-31 00:24] kimjungyeon commented on #82
@KaptenJansson , @zfjagann thank you so much! God bless you!!!!  :-)

[2015-03-31 09:21] borepstein opened #85 "atcd bails out on the first run"
Hello all,

I installed the software on my CentOS 6 VM and everything seems to be fine except that atcd would not run. I get the following:

[root@atc-gw ~]# gem install rubocop
ERROR:  Error installing rubocop:
	rainbow requires Ruby version >= 1.9.2.
[root@atc-gw ~]# atcd
Traceback (most recent call last):
  File "/usr/local/bin/atcd", line 12, in <module>
    from atcd.scripts import runner
  F

[2015-03-31 09:48] wwewwt commented on #83
hi @chantra
Thank you,I have run ATC in my laptop successfully and set the network correctly

But I have meet a problem when I browser "atc_demo_ui":
When I use my mobile browser such as chrome and firfox,after I click the "Select" button,I can't click the "Turn On" button.

[2015-03-31 10:15] wwewwt commented on #83
I debug the web in firefox

POST http://192.168.1.1:8000/api/v1/shape/    400 BAD REQUEST

{"detail":"{'down': {'rate': [u'A valid integer is required.']}, 'up': {'rate': [u'A valid integer is required.']}}"}

but I have Post the "down" and "up"  param.

[2015-03-31 13:36] ohorodnichuk opened #86 "issue with speed limitation"
Hi,
I have succesfully installed ATC on Debian and it partially works.
When I try to configure traffic loss, corruption, delay etc. All works well and I can see it thought cli command:

`tc qdisc show`

`qdisc htb 1: dev eth0 root refcnt 2 r2q 10 default 0 direct_packets_stat 282697`
`qdisc netem 8019: dev eth0 parent 1:2 limit 1000`
`qdisc netem 801f: dev eth0 parent 1:3 limit 1000 delay 100.0ms

[2015-03-31 13:37] nitint007 opened #87 "Can you share the default "atcd" passphrase?"
I am stuck on "sudo atcd" step where it asks for "passphrase".
I tried with "system" and my system password too but it says "command not allowed".

Though the sudo is working fine, it seems to be an issue of atcd.

Can anyone please assist here?

[2015-03-31 13:42] ohorodnichuk commented on #87
I have run atcd without passphrase
I think that this "passphrase" is your user password (ubuntu/debian style)

Try to run it from root
`sudo su`
`atcd --daemon`
and read `atcd --help` will be useful

[2015-03-31 15:53] chantra commented on #85
Hi @borepstein
As per [1], ATC currently only support python 2.7. While we could port atc code itself to python 3, currently the python thrift binding only support python 2.X

[1]: http://facebook.github.io/augmented-traffic-control/docs/install.html

[2015-03-31 15:53] #85 closed

[2015-03-31 15:55] chantra commented on #83
@wwewwt what values did you enter for *bandwidth*?

[2015-03-31 15:57] chantra commented on #86
@ohorodnichuk the bandwidth limit is set by the class:
use:
`tc class show dev eth0`
`tc class show dev eth1`

replace eth0 and eth1  with your up/down links

[2015-03-31 16:00] wwewwt commented on #83
@chantra

aha,sorry,I have fixed the problem,the bandwidth must be an integer,not a float.

[2015-03-31 16:00] chantra commented on #87
@nitint007 what OS are you running?

provided that you did not install `atc` in a virtualenv, the commands provided by @ohorodnichuk should work.

Regarding sudo, as @ohorodnichuk mentioned, this is the passphrase of your user.

[2015-03-31 16:03] chantra commented on #83
@wwewwt I am happy to hear that this is working for you now.

The demo UI is pretty minimalist and I believe we should have made a better job at surfacing the error messages.

[2015-03-31 16:03] #83 closed

[2015-03-31 16:15] wwewwt commented on #83
@chantra
Thank you for you guidance  :-)
The ATC is  powerful and userful.

The news about Facebook ATC :"Facebook opting instead for a WiFi network traffic control to simulate the data communication in Brazil, India, Nigeria and the Philippines, the low speed 2G cellular networks"

Do you know what are these profiles about Brazil, India, Nigeria and the Philippines, the low speed 2G cellular netw

[2015-03-31 16:23] borepstein commented on #85
Hello @chantra

Thanks for your response. I have Python version 2.6 and 3.4 installed.

It looks like the installation command:

pip install atc_thrift atcd django-atc-api django-atc-demo-ui
django-atc-profile-storage

does not run under python 2. So do I need to install using python 3 but
then run it using python 2?

Cheers,

Boris.

On Tue, Mar 31, 2015 at 11:53 AM, chantra <notifications@github

[2015-03-31 16:35] chantra commented on #85
Hi @borepstein

django-atc-profile-storage

then run it using python 2?

In that case, you will have multiple `pip` version installed. For instance, on a host that has python 2.6 and python 2.7 installed, you would have pip-2.6 and pip-2.7 with pip symlinking to one of the 2.
In that case, you should make sure that you use the right pip version when installing.
When using `virtualenv`, the right p

[2015-03-31 16:47] chantra commented on #83
@wwewwt While I do not have specific values to share, during F8, we also open-sourced

https://github.com/facebook/network-connection-class/

You may find https://github.com/facebook/network-connection-class/blob/master/connectionclass/src/main/java/com/facebook/network/connectionclass/ConnectionQuality.java interesting to get and idea of connection class  ranges.

[2015-03-31 17:15] zfjagann commented on #83
@wwewwt: We are working on adding pre-defined profiles to ATC (#56). These will resemble the nation-based profiles shown in the screenshot.

[2015-03-31 20:43] chantra commented on #87
I will close this as this is more an issue in using sudo for you specific OS. `atcd` will not ask for your passphrase.

[2015-03-31 20:43] #87 closed

[2015-03-31 22:51] borepstein opened #90 "the VM appears to ignore the ATC and tc settings"
Hello all,

I have ATC set up on a VM under VirtualHost. It serves as a gateway for other VM's hooked up to it via an internal network. It is running CentOS 6.

It's WAN (uplink) NIC is eth0, LAN (downlink) is eth1. I have deliberately tried to significantly slow down the client (internal, NAT'ed) VM's that can communicate to the internal only through the ATCD server/gateway. The settings are seem

[2015-03-31 23:44] dtaht commented on #60
The example stats showed packets going through the direct portion of the qdisc, which I think was not your intent.

Better test tools are on my wishlist also! Do keep trying to get more folk to run netperf-wrapper´s rrul tests.....

[2015-04-01 07:40] ohorodnichuk commented on #86
O! Thanks! I see...
for eth0
`class htb 1:3 root leaf 804c: prio 0 rate 12000bit ceil 12000bit burst 1599b cburst 1599b`
`class netem 804c:1 parent 804c:`

and the same for eth1

But Speedtest shows me the result which absolutely does not correspond to what I set.
I want to limit the network speed to 0.1mbit/s (12kbps `kilobytes` as I understand from `tc` manual). In speedtest I have got 0.38 - 0.

[2015-04-01 08:21] ohorodnichuk commented on #86
Bug maybe?
But I can't investigate it.

When I choose 12kbps only for uplink or downlink as a result a got:
`class htb 1:2 root leaf 8061: prio 0 rate 4194Mbit ceil 4194Mbit burst 1048b cburst 1048b`

4194Mbit?

[2015-04-01 16:12] chantra commented on #90
Hi, what is the content of the iptables' mangle table as the device is being shaped? You should see entries for the device's ip being marked.
Also dumping the atcd logs somewhere like pastebin could help.they may be in /var/log/daemon.log if not check in other log files.

[2015-04-01 16:26] chantra commented on #86
Hi,
Could you send the relevant content from atcd logs (/var/log/daemon.log on Debian iirc,you may need to check other files if not there) and put that in a pastebin.
The limit of 4g means that there is no limit (you have set the bandwith to 0 or null).
Speedtest are pretty hard to rely on, mainly with low bandwith and potential packet loss/corruption. A test should be performed with only the gate

[2015-04-01 16:51] borepstein commented on #90
Hello cnatra,

Here we go:

[atc@atc-gw ~]$ sudo iptables -t mangle --list -n
[sudo] password for atc:
Chain PREROUTING (policy ACCEPT)
target     prot opt source               destination

Chain INPUT (policy ACCEPT)
target     prot opt source               destination

Chain FORWARD (policy ACCEPT)
target     prot opt source               destination
MARK       all  --  0.0.0.0/0            10.5

[2015-04-01 16:55] borepstein commented on #90
Here is the atcd output that far (both in the shell window and in /var/log/messages):

(venv)[atc@atc-gw ~]$ sudo ~/dev/atc/venv/bin/atcd
INFO:AtcdVService.AtcdNBServerTask:AtcdNBServerTask Server Started on 127.0.0.1:9090
INFO:AtcdVService.AtcdLinuxShaper:Calling initialize_shaping_system
INFO:AtcdVService.AtcdLinuxShaper:Running /sbin/iptables -t mangle -F FORWARD
INFO:AtcdVService.AtcdLinuxShap

[2015-04-01 17:22] chantra commented on #90
@borepstein thanks for sending this over. That looks right.
Can you also send the client and server's ip route.
Also, please join #atcd on freenode, it may be easier to work on this interactively. there is a web chat available at https://webchat.freenode.net/

[2015-04-01 17:29] borepstein commented on #90
@chantra
Will do.

I just tried to join the webchat, was kicked from it on the basis of it
being invitation-only:

Channel names begin with # (corrected automatically).
[13:25] -herbert.freenode.net- *** Notice -- TS for # changed from
1427909149 to 1164523362
[13:25] == borepstein was kicked from # by ChanServ [Invite only channel]

Do you need to invite me somehow first?

Boris.

On Wed, Apr 1,

[2015-04-01 17:37] rbhat0987 commented on #65
You dont need to worry about windows yes it works properly on the windows with the config you have provided...about atcd i am still figuring it out...thanks

[2015-04-01 17:39] chantra commented on #90
@borepstein no, you do not need to be invited. did oyu enter the right channel name? **#atcd**

[2015-04-01 17:42] borepstein commented on #90
@chantra

Yes, I believe I did. Will try again.

For now here are the routing tables.

Server/gateway:

[atc@atc-gw ~]$ route -n
Kernel IP routing table
Destination     Gateway         Genmask         Flags Metric Ref    Use Iface
192.168.120.0   0.0.0.0         255.255.255.0   U     0      0        0 eth1
10.1.3.0        0.0.0.0         255.255.255.0   U     0      0        0 eth0
169.254.0.0

[2015-04-01 17:47] chantra commented on #90
@borepstein
here is the issue as much I can see from the output.

Client has IP 192.168.120.X and default route through the ATC gw at 192.168.120.1.
The gateway as also a WAN interface 10.1.3.X on which you do natting.

The traffic is being shaped for  **10.5.4.127** . Is this your host IP?
Are you connecting to the ATC UI from the client? or from the host?

[2015-04-01 17:57] borepstein commented on #90
@chantra

Yes, the client routes through the gateway that also does NAT'ing. The
client here is on a completely self-contained network - the rest of the
private network does not know it exists.

10.5.4.127 is my desktop from which I control the ATC UI. But it is not
communication to this address I use to measure the performance.

Right now the throughput is throttled by the server at 1 Kbit/s on o

[2015-04-01 18:03] chantra commented on #90
@borepstein because you control the UI from your desktop, ATC is setting shaping for this IP (which is not routed through).
You need to initiate the connection to the UI from the client.

Alternatively, you may want to check how to use the API: https://github.com/facebook/augmented-traffic-control/tree/master/atc/django-atc-api

[2015-04-01 18:28] borepstein commented on #90
@chantra

Thank you very much, this did the trick!

One thing I don't understand, though - or perhaps it is just me failing to
fully grasp the concept - is that it seems like controls are applied to all
the traffic on the gateway's interfaces; based on that, shouldn't it be
shaped the same for all the traffic, not just traffic to and from a
particular client?

Boris.

On Wed, Apr 1, 2015 at 2:03 P

[2015-04-01 18:29] chantra commented on #90
@borepstein it shapes the traffic on a per IP basis (see the mangle table mark the packets and those marked packaets are being shaped)

Closing as you are up and running now,.

[2015-04-01 18:29] #90 closed

[2015-04-01 22:44] borepstein commented on #86
Just wanted to chime in.

We seem to be having a similar experience. Strangely enough, after we were able to get results consistent with the throughput set.

One differentiating factor - potentially - was that at first I was the only one playing with it but then I let others try their hand at it. But afterwards it was never the same - the speed, even when set to 80000 Kbit/s = 10 MB/s it still tra

[2015-04-01 22:52] chantra commented on #86
@borepstein are people accessing ATC through a natting device? making them all look like they come from the same IP?
ATC would not know about that and anybody setting new settings will make all devices behind the same IP being shaped.

[2015-04-02 02:02] chantra commented on #65
@rbhat0987 what are you trying to figure out regarding `atcd`? this will simply not run on windows because it depends on linux specific utilities like iptables and the netlink subsystem.

[2015-04-02 05:30] rbhat0987 commented on #65
I dont have access to my routers have asked my admin for the same

[2015-04-02 07:15] wwewwt commented on #75
Ubuntu 12.04  desktop
Thinkpad x220
eth0 (internet) , wlan0(used hostapd to create a Soft-AP)

[2015-04-02 08:18] sunhao111999 opened #91 "ERROR:sparts.tasks:Error creating task, AtcdLinuxShaper"
hi all:

   when run atcd with ubuntu 14.04, i get this error:

[code]

please help!

[2015-04-02 10:18] ohorodnichuk commented on #86
And for example:
`{"up":{"rate":"100","delay":{"delay":0,"jitter":0,"correlation":0},"loss":{"percentage":0,"correlation":0},"reorder":{"percentage":0,"correlation":0,"gap":0},"corruption":{"percentage":0,"correlation":0},"iptables_options":[]},"down":{"rate":"100","delay":{"delay":0,"jitter":0,"correlation":0},"loss":{"percentage":0,"correlation":0},"reorder":{"percentage":0,"correlation":0,"gap"

[2015-04-02 10:58] borepstein commented on #86
I have a question: the tagging that iptables does to tc to designate packets for a certain queue - is that equivalent to VLAN tagging? Do the packets destined to go out to the world go out tagged? If so, could that confuse the networking equipment involved - such as switches, etc.?

Boris.

[2015-04-02 11:17] ohorodnichuk commented on #86
No, this is internal linux kernel logic. Maybe in "kernel" some tags are present. But outbound traffic goes without changes / additions.

[2015-04-02 13:00] agargiulo commented on #91
You need two network interfaces to run atcd. It's telling you that one of `eth0` or `eth1` doesn't exist on your system.

[2015-04-02 16:49] zfjagann commented on #91
The error message of interest is this line (a little above half-way down):

    Exception: One of the following interfaces does not exist: eth1, eth0

As @agargiulo mentioned, you need two interfaces to run ATC. The names `eth0` and `eth1` are the defaults.  To change them modify the `ATCD_WAN` and `ATCD_LAN` values in `/etc/default/atcd`.

[2015-04-02 16:49] #91 closed

[2015-04-02 16:56] zfjagann commented on #91
Also, if your machine only has a single physical NIC, you can create a virtual NIC fairly easily in most linux systems. The steps for doing so a largely distro-specific, so I won't go into it here, but it is certainly possible. :)

For example, the Arch Wiki contains a wonderful [guide](https://wiki.archlinux.org/index.php/VLAN) describing how to do this on an [Arch Linux](http://archlinux.org/) s

[2015-04-02 17:14] zfjagann opened #92 "FAQ Page for ATC"
I think it'd be helpful to incorporate a FAQ into our website for frequently asked questions.

A preliminary list:

- How do I make ATC run on {Windows,OSX,BSD}?
- How do I make ATC use only one interface?
- How do I change the name of the interfaces ATCD shapes?
- How do I load default profiles?
- How do I create a new profile?
- How do I make ATC more secure?

[2015-04-02 22:44] #56 closed

[2015-04-02 22:44] #92 closed

[2015-04-03 01:45] sunhao111999 commented on #91
@agargiulo  @zfjagann Thanks

[2015-04-03 02:39] borepstein commented on #86
Additional info, possibly relevant to this issue.

I discovered the following today. Unreasonably slow - if not hung - transmission results only when two conditions are met:

1) ATCD is running;

2) somewhere down the line NAT takes place.

It seems this may have to do with packet marking introduced by ATCD. Is that possible? Is there a way to unmark packets downstream from the ATCD server?

Boris

[2015-04-03 09:57] borepstein commented on #86
Yes, there does appear to be a conflict between iptables marking of packets and NAT (MASQ). See this for details:

http://lists.centos.org/pipermail/centos/2015-April/151245.html

[2015-04-03 16:11] chantra commented on #86
@borepstein you are referring to can be found here: http://lists.netfilter.org/pipermail/netfilter/2000-November/006089.html
For testing purpose you could add an extra layer of routing (e.g ATC routes through another host that does the natting), this way that would rule out the nat/marking conflict.
Or depending on your setup, you can simply route the traffic to the `lan` network to route though t

[2015-04-03 17:18] borepstein commented on #86
@chantra

Thanks, I have tried this but the marks don't go anywhere - and since there
are places downstream where NATing occurs looks like we still got a problem.

Boris.

On Fri, Apr 3, 2015 at 12:11 PM, chantra <notifications@github.com> wrote:

[2015-04-03 17:20] chantra commented on #86
The mark is internal to the host only.

[2015-04-03 17:33] borepstein commented on #86
Well, given the consequences I am seeing - i.e., severe degradation past
wherever the NATing gateway is, even if it is a hop or two removed from the
ATCD gateway - I find it hard to believe that the content of the IP packets
is not altered somehow. Question is, how - and how to remedy this situation.

Cheers,

Boris.

On Fri, Apr 3, 2015 at 1:20 PM, chantra <notifications@github.com> wrote:

[2015-04-03 19:12] chantra commented on #86
@borepstein I guess I do not have any quick solution to how to remedy this.
We will try to repro when we get time for it, in the meantime, I would suggest you fiddle a bit with the settings to find something that you feel representative of what you want to test.

[2015-04-03 19:15] borepstein commented on #86
@chantra

Don't worry, I fully understand - this is a tricky one.

What kind of setup do you guys use internally, by the way?

I am working on it, hopefully will have more data and/or thoughts before
too long.

Cheers,

Boris.

On Fri, Apr 3, 2015 at 3:13 PM, chantra <notifications@github.com> wrote:

[2015-04-03 21:33] zfjagann commented on #73
I'm going to close this since I havne't heard anything about it for a while. Please re-open if you're still having issues.

[2015-04-03 21:33] #73 closed

[2015-04-03 22:16] borepstein commented on #86
@chantra

Additionally, see this:

"iptables has a method called fwmark, which can be used to add a mark to packages, a mark that can survive routing across interfaces.
First, this makes packages marked with 6, to be processed by the 1:30 class
tc filter add dev eth0 protocol ip parent 1: prio 1 handle 6 fw flowid 1:30
This sets that mark 6, using iptables
iptables -A PREROUTING -t mangle -i eth0

[2015-04-03 22:26] chantra commented on #86
well, it survives routing across interfaces.... not across hosts.
My point is that the packets going out of the ATC box are not marked.

We are indeed marking packets on the WAN interface to shape them on the LAN interface, and packets on the LAN interface to be shaped on the WAN interface.

I seriously  doubt the marks make it out of the box, I dont really see where they would fit in the IP stack

[2015-04-03 22:29] chantra commented on #86
The setup we have is a router inline (no natting at the ATC level).

[2015-04-06 02:04] chantra commented on #86
Ok, so I have been doing some iperf test and can confirm that we indeed get the throttling rate we expect.
UDP iperf has been reporting the right bandwidth. Using TCP, the rate will become pretty low as there is a lof of packet dropped and retransmission ... happening.

you could use chantra/augmented-traffic-control@8961db07784a9a30283414e66c33768e64519870 and start atcd with:
[code]
And packets

[2015-04-06 09:04] borepstein commented on #86
@chantra

Thank you very much! We will do that and report back.

Additionally, I have done some research and can confirm that the marks
(iptables --set-mark) do not indeed leave the machine that they are used
on, i.e., the ATCD server. And yes, indeed what you are saying makes
perfect sense as latency settings and ICMP transmissions match what is
expected, speedwise, whereas TCP goes in bursts and

[2015-04-06 09:41] borepstein commented on #86
@chantra

Thanks again for all your help.

So just to be sure - you were saying that ATCD itself - not the kernel - would drop the packets. Because one idea of mine was to try and tune up the kernel - in case it was the kernel responsible.

[2015-04-06 13:39] borepstein commented on #86
@chantra,

I just tried running this new code and got the following:

(venv)[atc@atc-gw ~]$ sudo /home/atc/dev/atc/venv/bin/atcd
--atcd_dont_drop_packets
usage: atcd [-h] [--daemon] [--dryrun] [--kill] [--level LEVEL]
            [--logfile LOGFILE] [--pidfile PIDFILE]
            [--tasks [TASK [TASK ...]]] [--status] [--thrift-host HOST]
            [--thrift-threads N] [--thrift-port PORT]

[2015-04-06 17:14] chantra commented on #86
@borepstein

Well, this is the kernel that does the heavy work here. ATCD is only instructing it how to do it by setting new TC values over netlink.

actual string for the option: --atcd-dont_drop_packets I played a bit with
the string (changing "-" to "_" and vice versa) but no luck so far. Is
there a piece to this I am missing by any chance?

Sorry, my bad, it should be `--atcd-dont-drop-packets

[2015-04-07 02:27] kimjungyeon opened #94 "do i have to build failover gateway?"
if i got this spec, can i make the atcd environment?
1. one linux laptop (not include VM)
2. one network card

my idea is like this

1. connect a cable to my laptop from internet sharer(like anygate)
2. and then make laptop to wifi access point
3. build atcd on laptop
4. on smartphone, access the wifi (2.) and use ATC

[2015-04-07 04:08] chantra commented on #94
Hi @kimjungyeon
Yes that should be fine, make sure your wifi adapter can do AP mode, that you authorized forwarding packets and that you nat the traffic going out through the wired interface.

[2015-04-07 13:41] borepstein commented on #86
@chantra

Thanks.

I just did that - full deinstallation, full reinstallation and still get
the following:

(venv)[atc@atc-gw ~]$ sudo ~/dev/atc/venv/bin/atcd --daemon
--atcd-dont-drop-packets
usage: atcd [-h] [--daemon] [--dryrun] [--kill] [--level LEVEL]
            [--logfile LOGFILE] [--pidfile PIDFILE]
            [--tasks [TASK [TASK ...]]] [--status] [--thrift-host HOST]
            [--thri

[2015-04-07 14:39] borepstein commented on #86
Just did another reinstallation including clearing out the whole atcd
directory ( .../venv/lib/python2.7/site-packages/atcd ). Then searched
for 'atcd-dont-drop-packets'
in my home directory:

find . -type f -exec grep -l atcd-dont-drop-packets {} \;

and found nothing.

Just FYI.

Cheers,

Boris.

On Tue, Apr 7, 2015 at 9:41 AM, Boris Epstein <borepstein@gmail.com> wrote:

[2015-04-07 16:23] chantra commented on #86
@borepstein
I did not commit it, it is on my personal branch: https://github.com/chantra/augmented-traffic-control/tree/no_drop

[2015-04-07 16:28] borepstein commented on #86
@chantra

OK, I got it, cool.

What's the installation procedure I should follow to install it from that
branch?

Thanks.

Boris.

On Tue, Apr 7, 2015 at 12:23 PM, chantra <notifications@github.com> wrote:

[2015-04-07 17:52] borepstein commented on #86
@chantra

I figured out the installation procedure.

So I did some testing and it looks like the branched version does indeed contain the fix. IMO, ATCD should never drop packets so this ought to be the mainstay behaviour - but this is just my opinion:)

Thank you very much for all your help.

Cheers,

Boris.

[2015-04-07 18:16] #94 closed

[2015-04-07 18:27] chantra commented on #86
@borepstein
Well, typically, some buffers would eventually fill up and drop packets. I agree that we have some rather arbitrary values here and there is room for improvement here. We had a task to make the dropping configurable which in essence is somewhat what the diff I linked here does.
I am going to revive this and folow up in a separate task.

I believe this task is somewhat resolved or at le

[2015-04-07 18:27] #86 closed

[2015-04-07 18:29] borepstein commented on #86
@chantra

I agree that you can close the task.

If you don't mind me asking: how was the issue addressed? What was it that
you did that caused the ATCD server to stop dropping those packets?

Boris.

On Tue, Apr 7, 2015 at 2:27 PM, chantra <notifications@github.com> wrote:

[2015-04-07 18:30] chantra commented on #86
well, the way we set up the policy when going above the limited rate is changed to queue instead of droping.

[2015-04-07 18:32] borepstein commented on #86
OK, makes sense.

Where is the policy set?

On Tue, Apr 7, 2015 at 2:30 PM, chantra <notifications@github.com> wrote:

[2015-04-09 00:14] kimjungyeon commented on #94
@chantra thanks for your help!!! :-)

[2015-04-12 11:33] wildpeanut opened #95 "can not build develop enviroment"
Hello,

error happened after restart service atcd, below is error log and environment info, any advice and suggestions will be greatly appreciated!

===== vagrant version =====
Vagrant 1.7.2

===== vagrant plugin list =====
vagrant-berkshelf (4.0.3)
vagrant-omnibus (1.4.1)
vagrant-share (1.1.3, system)

===== chef version =====
hef Development Kit Version: 0.4.0

===== error log ======

==> trusty

[2015-04-12 16:08] chantra commented on #95
@wildpeanut could you give more details on what step you did to trigger this please.

I can't get to reproduce this from a new vm even when triggering the restart:
[code]

[2015-04-13 01:05] wildpeanut commented on #95
Hello chantra,

thanks for reply, here is another log , I notice the other error happened before

===== log =====

==> trusty: Vendoring yum-epel (0.6.0) to C:/Users/AlinHuang/.berkshelf/vagrant-berkshelf/shelves/berkshelf20150412-9712-ey244e-tr
usty/yum-epel
==> trusty: Clearing any previously set network interfaces...
==> trusty: Preparing network interfaces based on configuration...
    trusty:

[2015-04-15 18:08] chantra commented on #95
@wildpeanut so you are hitting this issue even on a brand new setup. The puzzling part here is that the error says:
[code]
but the logs shows that file was created just before.

If you ssh in the host, is the file there? Can you run:
[code]
?

I still havent been able to repro this, making it somewhat hard to diagnostise.

[2015-04-15 18:20] chantra commented on #95
Ok, so I have literally nuked the  VM, deleted the box from vagrant cache and the issue is not reproducing for me.
Can you start re-provisioning from scratch?
[code]
Does it repro?

FWIW, here is my setup:
vagrant-berkshelf (4.0.2)
vagrant-omnibus (1.4.1)
vagrant-share (1.1.4, system)

vagrant version  1.6.5
chef version that get installed by omnibus: Chef 12.2.1

[2015-04-15 20:44] chantra commented on #86
@borepstein  The policy is set in https://github.com/facebook/augmented-traffic-control/blob/c61493388b3c3738db0b9ad6943cee65451178f1/atc/atcd/atcd/backends/linux.py#L322

[2015-04-16 14:25] borepstein commented on #86
@chantra

Thanks.

So this is the default policy, right?

And what is dropped is excess packets in the tc accounting/control queues,
correct?

Boris.

On Wed, Apr 15, 2015 at 4:45 PM, chantra <notifications@github.com> wrote:

[2015-04-16 21:22] zfjagann commented on #95
I've seen a lot filesystem issues (files and dirs going missing) when trying to reprovision an existing vagrant vm. I've never had these issues before with vagrant, so I'm pretty sure it's something related to our chef provisioning, but I haven't had a chance to dig into it. It looks related.

[2015-04-16 21:23] chantra commented on #95
Hum, it never happened to me...... so I tend to believe it is not an issue with the provisioning :)

[2015-04-17 07:53] JasonLZJ opened #97 "Click on the button "turn on" django Get 404"
When I click on the button 'turn on' on the web, django return 404 like api/v1/shape/ 404
This is my url.py

from django.conf.urls import include, url
from django.views.generic.base import RedirectView
from django.conf.urls import patterns
urlpatterns = patterns(
    url(r'^api/v1/', include('atc_api.urls')),
    url(r'^atc_demo_ui/', include('atc_demo_ui.urls')),
    url(r'^api/v1/profiles/', inc

[2015-04-17 19:46] chantra commented on #97
Hi @JasonLZJ

I assume you mean `urls.py`

Is the atc_api module enabled in `settings.py`? Could you pastebin the whole stacktrace if this still happen so we have more data to troubleshoot. Tks

[2015-04-17 21:02] zfjagann commented on #75
For bugs in the UI/API it'd be helpful for people to submit their `settings.py` and `urls.py`

We should also probably recommend people make use of [gists](https://gist.github.com/) for large files. Having copy/pasta in our issues is really difficult to read.

[2015-04-21 03:03] JasonLZJ commented on #97
@chantra thank you very much.
I have fix it but I have a new problem.
I run atcd in my ubuntu server  (sudo acted --atcd-wan eth0 --atcd-lan wlan0)
But I see a warning in my web : ATC is not running
what happened? thx

[2015-04-21 03:17] chantra commented on #97
@JasonLZJ
are both atcd and the web server running on the same host?
Can you check that atcd is indeed running?
can you run:
[code]
and paste the output.

[2015-04-21 03:33] JasonLZJ commented on #97
In the same server . When I run atcd It shows: But netstat -lpnt | grep act print nothing.

INFO:AtcdVService.AtcdNBServerTask:AtcdNBServerTask Server Started on 127.0.0.1:9090
INFO:AtcdVService.AtcdLinuxShaper:Calling initialize_shaping_system
INFO:AtcdVService.AtcdLinuxShaper:Running /sbin/iptables -t mangle -F FORWARD
INFO:AtcdVService.AtcdLinuxShaper:deleting root QDisc on wlan0
INFO:AtcdVServ

[2015-04-21 20:32] chantra commented on #97
Hi @JasonLZJ

so somehow, you have managed to set some shaping for 127.0.0.1 and 192.168.1.102 .

I am not exactly sure what you mean by you click on "turn on" and get a 404. Does the button stays on "turn on"? Or does it change to "Turn off"?
If you were going to navigate to /api/v1/shape/ do you get a webpage that is similar to the screenshot in http://www.django-rest-framework.org/ ?

[2015-04-22 02:06] JasonLZJ commented on #97
@chantra The button stays on "ATC is not running" When atcd run in my server.

[2015-04-22 02:18] chantra commented on #97
@JasonLZJ
what about:

[2015-04-25 06:36] Amolwale opened #99 "need any configuration to forward traffic from eth0 to eth1"
i have installed atc on my ubuntu machine which having two ethernet eth0 and eth1 but
it will not shape the traffic.

whether i have to make any configuration  like ip forwarding, NATing to forward traffic from eth0 to eth1.

or ATC will do that with the help of iproute2

[2015-04-25 06:39] chantra commented on #99
Hi @Amolwale ,

Is the traffic you are trying to shape forwarded by your Ubuntu machine? e.g is you ubuntu machine acting as a routing hop for the devices you want to shape the traffic for?

[2015-04-25 07:36] Amolwale commented on #99
yes,
my eth0 connected to the WAN
and eth1 connected to the client machine, on which i want to shape the traffic.

i also tried for various ways to ping from eth0 to eth1.
 to ensure that, at least eth0 and eth1 is communicating for atc but not getting the solution

[2015-04-26 18:48] mrjedi opened #100 "Traffic shape not working"
Hello,

I am using my ubuntu linux as a router, with two network cards eth0, eth1, and eth1 connecting to the Internet with PPPOE. The firewall is set to be NAT (using MASQUERADE).

The traffic isn't shaped on my device connecting to the linux server, is there any special configuration needed for this case?

Thanks!

[2015-04-26 18:58] chantra commented on #100
Hi @mrjedi
did you swap the values of --atcd-wan and --atcd-lan ? They default to eth0 and eth1 respectively. In your case, they should be swapped, so you should start atcd with a command like:
[code]

[2015-04-26 19:01] chantra commented on #99
I think I missed read this task.... Are you saying that the traffic is not being shaped? Or not being forwarded?

If you were taking ATC out of the picture, does your device route properly?
ATC will only take care of shaping the traffic, so you should make sure you have a functional routing device first. There is plenty of documentation on the internet for this.

[2015-04-27 02:08] mrjedi commented on #100
HI @chantra

Thanks you for quick reply.

I tried both

atcd --atcd-wan eth1 --atcd-lan eth0 and

atcd --atcd-wan ppp0 --atcd-lan eth0 ,

But my device still remains the same internet speed.

[2015-04-27 03:49] chantra commented on #100
ok, could you give me more details about your setup.

Can you make a gist ( https://gist.github.com/ ) with the output of:
[code]

Along with the content from `/var/log/messages` that get generated when a device shape its traffic.

[2015-04-27 03:54] chantra commented on #95
@wildpeanut I am checking if you have any update on this task. Is the issue still happening?
Is `/etc/init.d/atcd` on the hosts? Can you run
[code]
Manually? Does this work?

[2015-04-27 08:43] yogesh5655 commented on #99
hello friend
I am facing the same problem as amol said i have to route traffic from eth1 (2nd interface of Controller PC and eth0 is connected to Internet)to eth0 (LAN interface)...pls help for routing...

[2015-04-27 09:53] mrjedi commented on #100
Thanks,

This is the gist:

https://gist.github.com/a9b6112589643112175c.git

For /var/log/messages, I don't see the file on my linux router.

[2015-04-27 12:42] ankit-ankuagrawal opened #101 "required help when setting ATC over VM (lubuntu)"
hello everyone, newbie to this, required ur help

following are the things done till now
1) host machine: windows 7
2) installed virtual box over it
3) using lubuntu 64 bit as guest VM

having doubt is:
ATC requires 2 interface one for lan and other wifi, but guest VM cant have wifi interface? then how to proceed?

or moving in wrong direction pls help out

[2015-04-27 13:18] agargiulo commented on #101
The second interface doesn't need to be WiFi, just a second interface.

[2015-04-27 13:32] yogesh5655 commented on #99
hi
 can i use ubuntu's inbuilt option i.e. shared to other computer
 for forwarding internet traffic from eth0 (WAN) to eth1(LAN)
or if you have any other solution please suggest me

[2015-04-27 13:40] ankit-ankuagrawal commented on #101
@agargiulo  ty for the response
then how wifi hotspot will be created, so that the devices should get connect ?
should make any dummy 2nd interface will work?

[2015-04-27 14:07] agargiulo commented on #101
ATC is just sitting on the routing device (in this case, your lubuntu box it seems) and shapes traffic between the two interfaces. If you then want clients to connect via WiFi, that's a separate thing, not related to ATC at all. I'm not 100% certain, maybe @chantra could provide more insight here, but if you want WiFi, you can have ATC on the routing box, then have the wireless access point use th

[2015-04-27 16:05] chantra commented on #100
Hi
So you have to use ppp0 as wan and eth0 as lan.
For the logs, grep for Shaping in your logs to find the log file.
From the output you sent, traffic for localhost was being shaped using eth0 and eth1. You need to trigger the shaping from the device that you want to be shaped, not from the router. There is no way the router knows which to shape without initiating the query from the device or expl

[2015-04-27 17:24] chantra commented on #101
Hi @ankit-ankuagrawal
The idea here is that you want to set:
1) an Access point in the windows VM
2) create a second interface for your VM and connect it to the WIFI network adapter in bridge mode
3) Have your VM set as a router (ip forwarding and also natting in this case)
4) Have the VM provide dhcp service on the second adapter (for the wifi basically)
5) set ATCon that VM.

[2015-04-27 17:28] agargiulo commented on #101
:+1:

[2015-04-27 19:11] mrjedi commented on #100
Hi chantra,

I got it worked! Using ppp0 as WAN, and triggering the shaping from the device.

Thank you very much for your help.

[2015-04-27 19:11] chantra commented on #100
@mrjedi
Nice to hear. Thanks for letting me know.

[2015-04-27 19:11] #100 closed

[2015-04-28 12:06] biosed opened #102 "On visiting IP of ATC only get heading text"
When I visit http://ip_of_atc:8080/atc_demo_ui/ I only get "Augmented Traffic Control Demo UI"

Centos 6.5 (64bit)
Python 2.7.9
iproute 2.6.32

Installed via pip

[2015-04-28 17:25] chantra commented on #102
Hi @biosed
Have you installed all the modules? like `django-atc-api` ... ?

Did you had them to INSTALLED_APPS and urls.py?

Did you run django's migration script? `python manage.py migrate`

What happen when you go to  http://ip_of_atc:8080/api/v1/shape ? Do you get a page from django rest framework? or any error?

[2015-04-28 17:46] chantra commented on #97
@JasonLZJ
Did you get a chance to load page http://youratcuiserver:atcuiport/api/v1/shape/ ?

[2015-04-28 17:59] biosed commented on #102
Hi @chantra

installed all the modules listed in the docs

Have added this to atcui/settings.py
` # Django ATC API
    'rest_framework',
    'atc_api',
    # Django ATC Demo UI
    'bootstrap_themes',
    'django_static_jquery',
    'atc_demo_ui',
    # Django ATC Profile Storage
    'atc_profile_storage',
`

Done the migrate

At http://ip_of_atc:8080/api/v1/shape I get the framework and I am able

[2015-04-28 18:13] chantra commented on #102
So it seems the static files are not being distributed.

Can you check why. Using chrome developer tool should help finding what goes on. Basically we need to find why the files from:
[code]

are not being distributed.

If you run django in debug mode and have `django.contrib.staticfiles` in your installed apps, this is the default.

Try to access those .js files and confirm that you are not getti

[2015-04-28 18:38] biosed commented on #102
I opened it with safari and used remote debugging (I currently cannot access the vlan it is on).

I get these errors:

![image](https://cloud.githubusercontent.com/assets/5225187/7377396/fff01c00-eddd-11e4-83ca-abf4c5192d52.png)

[2015-04-28 18:43] chantra commented on #102
@biosed
Can you check that **ALL** the .js file are loading. It looks like `/static/js/atc.js` is not loading in your specific case but please test each of the .js files frpm the list above.

[2015-04-28 18:57] biosed commented on #102
@chantra

Seems to be loading that file, still have error.

![image](https://cloud.githubusercontent.com/assets/5225187/7377808/b58734e8-ede0-11e4-82e7-60028a29e5c1.png)

[2015-04-28 19:27] chantra commented on #102
Hum, I really cant repro this even after a fresh deploy and using safari.
Let's rule out the browser... can you reproduce this on chrome and firefox?
Can you repro after flushing the cache?

[2015-04-28 19:49] chantra commented on #95
@wildpeanut did you get a chance to check if the file existed in the VM, could you restart the service using:
[code]

I am afraid at this stage I don't have any ways to reproduce the issue.

[2015-04-29 01:13] JasonLZJ commented on #97
@chantra It is ok, Thank you very much.

[2015-04-29 01:14] chantra commented on #97
@JasonLZJ I understand that things are working now, correct?

Could you share what you had to change to get to a working state? This may be useful for others in the future.
Tks

[2015-04-29 01:17] JasonLZJ commented on #97
@chantra yep ...things are working now, correct. thank a lot. lol

[2015-04-29 01:17] #97 closed

[2015-04-29 01:18] chantra commented on #97
@JasonLZJ Any chances you share why it was not working originally?

[2015-04-29 01:28] JasonLZJ commented on #97
@chantra
When I  navigate to /api/v1/shape/ I find the django-rest-framework app not install.   so I install it.

[2015-04-29 01:29] chantra commented on #97
Thanks for sharing @JasonLZJ !

[2015-04-29 16:05] chantra commented on #102
Hi @biosed

Did you get a chance to try different web browsers? Does that fix your issue?

[2015-04-29 16:09] chantra commented on #101
Hi @ankit-ankuagrawal

I hope those indications are enough to get you going. I will close this issue for now. Feel free to jump on freenode's #atcd irc channel if you have any questions. We will be able to help you in a more interactive way.

[2015-04-29 16:09] #101 closed

[2015-04-29 16:44] chantra commented on #99
@yogesh5655 @Amolwale

I am not sure what Ubuntu internet sharing entails, but I think we can safely assume that it will set up ip forwarding + natting.
From the examples I see on the internet, I am not sure it will set a DHCP server on your behalf though, so you will have to set this yourself, or set static ips to the devices.
There is plenty of tutorial on the internet that would cover any of th

[2015-04-30 08:32] handv commented on #102
I had the same question. Finally i found chrome is the best browsers to show the entire message.

[2015-04-30 12:45] biosed commented on #102
Hey @chantra

So if I visit http://ip_of_atc:8080/atc_demo_ui/ in desktop chrome it works. Doesn't work in safari or chrome on ipad. Is there a UI for mobile devices to enable shaping?

[2015-04-30 14:02] SummerHaze opened #103 "Network testing result is not in accord with the settings"
Hi,
After building the running environment well ,I use www.speedtest.net to test the bandwidth(both download and upload ) and latency of the simulated network.
However, it seems the test result is not in accord with the settings on 127.0.0.1:8000.
For example,when I set it like this:
uplink------bandwidth:50kbps，Delay:500ms
downlink------bandwidth:50kbps，Delay:500ms
My test result is(Average,testi

[2015-04-30 15:19] biosed opened #104 "Shaping with two interfaces on same subnet"
Perhaps not an issue but my misunderstanding.
I have Linux box with two interfaces:
eth0 10.104.102.6 255.255.254.0 gw 10.104.102.1
eth1 10.104.102.7 255.255.254.0

I have enabled forwarding and when I set the gateway on a device I want to shape to 10.104.102.7 I can access external sites but shaping doesn't seem to apply, I am presuming this is happening because eth1 is using the default gateway

[2015-04-30 15:47] chantra commented on #103
Hi @SummerHaze
So you will most likely never get the exact numbers using a speedtest,  #90 goes over some of the details. In a nutshell, TCP will start retransmitting packets... and the bandwith you assign are going to be different than what the speedtest report.

That being said, in you case, the link is faster than what you have set.... so basically, you most likely not have set shaping for your

[2015-04-30 15:52] chantra commented on #104
@biosed
Shaping only applied upon forwarding and leaving interfaces eth0 and eth1.
The fact that you have the interface IP local to your host, the traffic will not be forwarded but delivered locally. Preventing 2 things to happen:
- Tagging packets when forwarding them
- shaping those packets when they leave the host (assuming they would have been tagged, they will never go out of eth1 anyway).

T

[2015-04-30 15:52] #104 closed

[2015-04-30 16:11] chantra commented on #99
@Amolwale @yogesh5655
In order to have ATC shaping your traffic, it needs to be on a host that routes and forward the traffic. ATC will not take care of setting this up, it's sole purpose is to shape the traffic that is routed, not to configure the router to route.
So prior to setting ATC, make sure your device can route and forward the traffic correctly.

Also, from the same host, pinging each ot

[2015-04-30 16:11] #99 closed

[2015-04-30 18:54] chantra commented on #102
@biosed so I don't have an ios device to test on handy here.

Is this only happening only on 1 ipad? or any ipad? The fact that it affects any browser on ipad is puzzling. I would assume the javascript engine of chrome on ipad is the same than the one on desktop.
I know this works correctly on Android. If you have a chance to use another ios device and confirm this affect all of them, please let m

[2015-04-30 19:34] chantra commented on #95
@wildpeanut

I did not get any updates from your side. I have not been able to reproduce this issue so it is not much I can do for now. I will close this task for now. If you can reproduce the issue still, please provide the results to the test I have asked you earlier.
Tks

[2015-04-30 19:34] #95 closed

[2015-04-30 23:55] chantra commented on #102
@biosed so I have tried Safari on an iPad and could not repro so I can help much.
You may want to use the javascript console to find out what happens.

[2015-05-04 06:54] SummerHaze commented on #103
hi，chantra.
Thank you for your suggestion. I really shaped the network on the 127.0.0.1:8000 instead of the client's ip, like 192.168.2.3:8000.
As for the testing methods , I've read the #90 issue but can't find a way to do it （：<）.

Could you please make some suggestions，too?

Any help dealing with this will be greatly appreciated.

[2015-05-06 07:25] kimjungyeon opened #105 "i have a problem!"
this is my log
when i run this code, "atcd --atcd-wan eth0 --atcd-lan eth1"
this problem bother me

ERROR:sparts.tasks:Error creating task, AtcdNBServerTask
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/sparts/vtask.py", line 313, in init
    t.initTask()
  File "/usr/local/lib/python2.7/dist-packages/sparts/tasks/thrift.py", line 146, in initTask
    self.serve

[2015-05-06 07:28] kimjungyeon commented on #105
this is my networks
lan ap1 --------nic1(eth1)/nic(eth0)--------wan ap2(many mobile devices at this ap)
<---------------------------------------------------(data flow)

[2015-05-06 07:32] kimjungyeon commented on #105
and my iptables like this
#iptables --table nat --append POSTROUTING --out-interface eth1 -j MASQUERADE
&&
#iptables --append FORWARD --in-interface eth0 -j ACCEPT

[2015-05-06 09:34] ankit-ankuagrawal commented on #102
some problem facing when accessing on android device using crome browser for the setup

[2015-05-06 16:56] zfjagann commented on #105
It looks like it's failing to bind to the thrift port:

    error: [Errno 98] Address already in use

Are you already running an ATC server? Or is something else listening on the thrift port?

(atcd uses port `9090`)[https://github.com/facebook/augmented-traffic-control/blob/master/atc/atcd/atcd/AtcdThriftHandlerTask.py#L100]

[2015-05-06 17:44] zfjagann commented on #102
I tried both Safari and Chrome on an iPad, and Chrome on a Nexus 5, they all worked.

I also tried it using mobile simulation on my desktop chrome, which also works.

Could you be more specific about which version of chrome you're using, or check the developer console to see if there are any errors, or any requests not completing successfully? Otherwise I'm not sure there's much we can do to help

[2015-05-06 18:04] asanyal902 opened #106 "internet is not working required help"
firstly ty for the urgent and helpful replies

our team has divided the work in 2 phases

1) 1st phase, using linux box (ubuntu) on which atc is configured and making hotspot on the same machine is working absolutely fine

2) now moving with phase 2, in which atc setup on the same linux box(ubuntu), now instead of making hotspot, we have our own wifi network in our office, so trying to set up at i

[2015-05-06 20:26] biosed commented on #102
It seems to be older devices even with updated browsers. For these we are using the API so not a major issue. I can provide any info you need but if you cannot repo perhaps this could be closed and put down to older versions of OS / Browser.

[2015-05-06 20:47] zfjagann commented on #102
@biosed: I agree. There's not much we can do to help if we can't reproduce it.

I'm going to close this since it's not blocking you. Let me know if you encounter further issues. Thanks!

[2015-05-06 20:47] #102 closed

[2015-05-06 20:57] chantra commented on #102
Could you provide the device type + iOS version.in case we manage to access one of those device we could try to investigate further.thanks

[2015-05-06 21:41] zfjagann commented on #106
Can you provide more details please.

Did you try to shape any of the clients? If so, what shaping options did you provide, and how did you provide them?

What is the default gateway on the ATC host? And also on one of the hosts that isn't working?

[2015-05-06 22:04] ankit-ankuagrawal commented on #106
interface em1 wired
ip: 10.104.27.40
default gateway: 10.104.21.31

wlan0: 10.104.32.133
default gateway: 10.104.32.133

and device ip: 10.104.32.135
default gateway: 10.104.32.133

the profile selected is 2g, but role played by profile will be later. first the internet is not working

the problem was thinking may be the iptables may not configured, but configured them still nothing

thanking u fo

[2015-05-06 23:48] zfjagann commented on #106
My guess is that this is caused by your default gateway for wlan0, which is itself. You should change it to 10.104.21.31. Does that sound right?
If that doesn't help it's likely an issue with your iptables settings.

[2015-05-07 04:01] chantra commented on #106
Hi @ankit-ankuagrawal
As @zfjagann mentioned  you should only  have 1 default gateway on the atc  box and that is the one to the wired network. After removing the extraneous  gateway  and if that still does not work, can you create a gist with the output of:
* iptables-save
* ip  r
* ip a

[2015-05-07 17:57] ankit-ankuagrawal commented on #106
![setup](https://cloud.githubusercontent.com/assets/11455759/7522074/6c1cb88c-f510-11e4-8d11-61b26414932f.png)

[2015-05-09 09:32] SummerHaze commented on #103
Could I use chariot to measure it?

[2015-05-09 09:32] SummerHaze commented on #103
Can I use Chariot to measure the network traffic instead of the speedtest?

[2015-05-09 15:37] chantra commented on #103
@SummerHaze  I am not sure how chariot works, but in a nutshell, you want to test at IP level, not TCP and you want to run your tests from devices that are as close as possible to the ATC box to rule out latency added by other hops.

If the test use TCP, then you will get the bandwith that accounts for packet retransmission....

Also, I just realized that I linked the wrong issue, it should have b

[2015-05-10 03:18] yiannisy opened #107 "atc_thift make breaks pip"
When I update and make atc_thrift pip breaks. atc_thirft/atc_thirft/__init__.py doesn't contain a __version__ ='X.X.X' line which prevents pip from installing the package.

Is this intentional, is there a better way to update the interface and reinstall?

Error message below :
vm:/tmp/augmented-traffic-control/atc/atc_thrift$ pip install .
Unpacking /tmp/augmented-traffic-control/atc/atc_thrift

[2015-05-10 04:44] chantra commented on #107
Hi @yiannisy
Could you give more details about your setup? What OS/os version, what python version do you use?

Don't you have the file atc/atc_thrift/atc_thrift/__init__.py on disk? this is where `get_version` find the version to use.

[2015-05-11 02:52] nickylin commented on #91
@zfjagann  hi when i start the atcd, also said "Exception: One of the following interfaces does not exist: eth1, eth0"
but how can i create another interface in linux ? and now i have create one interface call ra0 with miwifi

[2015-05-11 02:55] nickylin commented on #91
this is my ip info:
root@ubuntu:/home/cxxxDownloads/mt7601u-master# ifconfig
eth0      Link encap:Ethernet  HWaddr 00:0c:29:4e:51:9a
          inet addr:192.168.30.129  Bcast:192.168.30.255  Mask:255.255.255.0
          inet6 addr: fe80::20c:29ff:fe4e:519a/64 Scope:Link
          UP BROADCAST RUNNING MULTICAST  MTU:1500  Metric:1
          RX packets:6290 errors:0 dropped:0 overruns:0 frame:0

[2015-05-11 09:46] ankit-ankuagrawal commented on #106
@chantra any update on this...

[2015-05-11 15:32] chantra commented on #106
Hi,
So your iptables settings seem totally wrong and not in sync with your ip settings. This is pretty much unrelated to atc and you should make sure that you have a working router. Also you may want to start with some minimal iptables rules and work from there.
There is plenty of resources on the internet to help you setting up a router for your favorite distribution.

I am happy to help you on i

[2015-05-11 15:38] chantra commented on #106
Assuming the rest of your iptables is correct, replace 10.42.0.0/24 with 10.104.32.0/24 and you may be set.

[2015-05-11 16:01] chantra commented on #91
@nickylin as per the documentation (or *atcd -h* 's help) use --atcd-wan and/or --atcd-lan to adapt to your setup.

[2015-05-11 17:36] ankit-ankuagrawal commented on #106
@chantra ty for the reply, i couldnt find irc (#atcd on freenode)...

can u pls help me

[2015-05-11 17:38] chantra commented on #106
@ankit-ankuagrawal http://facebook.github.io/augmented-traffic-control/docs/support.html

[2015-05-11 17:38] #106 closed

[2015-05-12 01:19] chantra commented on #103
Closing this as the original issue was that the traffic was not being shaped. You could use iperf to perform tests. If #86 does not explain the discrepancy you may find, feel free to open another task.

[2015-05-12 01:19] #103 closed

[2015-05-12 08:06] kimjungyeon commented on #105
yeep! i did it! although there is so many ploblem in my finger.... thank you so much zfjagann!

[2015-05-12 16:10] chantra commented on #107
@yiannisi do you have any update? Thanks

[2015-05-12 16:43] yiannisy commented on #107
Hi @chantra ,

I am using python 2.7.6, Ubuntu 14.04 LTS.  I do have the atc_thrift/atc_thrift/__init.py__ file. When downloaded from github it has the __version__ attribute. After I run "make"  on atc_thrift, the __init.py__ is still there but without the __version__ attribute.

To replicate :
1. git clone https://github.com/facebook/augmented-traffic-control.git
2. cd "......./atc_thrift/
3. cat

[2015-05-12 16:47] chantra commented on #107
oh.... ok, well **don't** run make for now. make is only used to recompile the thrift files (which we ship as part of atc_thrift python package).

Basically for now just run
[code]

[2015-05-12 16:49] yiannisy commented on #107
I am doing some changes on the service and have to recompile thrift. I have to manually append \__version\__ to make it work. It's an easy workaround, so this is mostly an FYI.

[2015-05-12 16:51] chantra commented on #107
Thanks for letting us know @yiannisy
I will fix it in a bit when I get some spare time, it is rather trivial.

I am happy to see the changes you want to incorporate. PR are welcome :)

[2015-05-12 16:52] yiannisy commented on #107
Thanks. I'll keep you posted on changes!

[2015-05-12 18:55] chantra opened #108 "Support python 3"
It would be nice to support python 3. So far thrift was preventing us to do so as it was only python2 compatible. https://thriftpy.readthedocs.org/ seems to be a nice alternative that may solve this issue.

[2015-05-12 19:00] #107 closed

[2015-05-13 02:25] kimjungyeon opened #109 "hmm... it didnt work;"
now, i run atcd, ui on my linux! but it seem to be not work;
i am testing it with my galaxy s3, galaxy note pro, galaxy note4 and galaxy s6 but
the internet speed stay  he's speed...
now, i do not know hardly.... :-(

1. This is my NIC
          ap1        ---------------------eth0 | eth1 ---------------------------- ap2 ------------ adsl-----outside
(mobile use this)                             a

[2015-05-13 02:38] chantra commented on #109
@kimjungyeon  eth0 is your lan interface, eth1 is your wan interface. Did you override --atcd-wan and --atcd-lan as explained in https://github.com/facebook/augmented-traffic-control/tree/master/atc/atcd

In your case, you should run something like:
[code]

[2015-05-13 02:45] #105 closed

[2015-05-13 04:43] kimjungyeon commented on #109
@chantra i am always appreciate you for your concern chantra!
now, i am trying to see some positive result, but atc is not still work
on wifi speed test app, im check the speed but it's same speed...regardless ATC... ㅠ_ㅠ
how can i check ATC's working?? first, plz let me know correct way
sorry to bother you...

[2015-05-13 12:20] SummerHaze opened #110 "How to set iperf's server ip?"
Hi, it's me again~(submit the #103 issue)

I tried to use iperf to perform the test, but the environment confused me.
The whole network situation's like:
![image](https://cloud.githubusercontent.com/assets/5780674/7610047/1771b26a-f9ac-11e4-9305-bbf7529738ea.png)
So I use the iphone/pc as my iperf client and the console pc as iperf server.
But now I'm not sure whether 192.168.2.1.or 10.18.251.34 t

[2015-05-13 15:22] chantra commented on #110
@summerhaze the server should be running  at least *1* hop away from atc, not in atc.

[2015-05-13 18:22] zfjagann commented on #110
@SummerHaze: as @chantra mentioned, running iperf on the same machine as ATC will give improper network results. You should try to run the iperf server from another machine outside your ATC-managed subnet. Either another machine below your company's firewall, or from somewhere on the internet ([AWS](http://aws.amazon.com/) or [GCE](https://cloud.google.com/compute/) are pretty good for this).

On

[2015-05-13 18:22] #110 closed

[2015-05-13 20:17] chantra commented on #109
@kimjungyeon I see that you have shaped 100.100.100.1 (ATC LAN IP) and 127.0.0.1 (ATC localhost IP)
Are you initiating thew shaping from the ATC host? You must connect to ATC UI and trigger the shaping from the device you want to shape the traffic from.
If you are using a proxy, make sure X_FORWARDED_FOR is set.

What is the ip of the device you are trying to shape the traffic from? What speed? Th

[2015-05-13 21:01] chantra opened #111 "tests/local-test.py fails to lint"
this file was introduced in cbf11d827ea67b26d49af2675ac040bef44a978d and is failing to pass the linter.
https://travis-ci.org/facebook/augmented-traffic-control/builds/62464288

[2015-05-13 21:09] chantra commented on #75
5763ebf4a65428ee96c8f3c471c42680e40c4953 adds a script to dump some information. This will give us info about people system.
So far we mainly have add questions around atcd and its config rather than the ui part.

Calling this close for now.

[2015-05-13 21:09] #75 closed

[2015-05-13 21:16] chantra commented on #109
@kimjungyeon
Can you grab https://raw.githubusercontent.com/facebook/augmented-traffic-control/master/utils/dump_system_info.sh and run it on your ATC device. Then paste that into gist: https://gist.github.com/

Tks

[2015-05-13 21:19] zfjagann commented on #111
Fixed.

[2015-05-13 21:19] #111 closed

[2015-05-13 21:59] #52 closed

[2015-05-14 19:58] chantra opened #115 "support ipv6"
Currently, atcd only supports ipv4. Add support for ipv6.

Once atcd support ipv6, the UI/API will also need to be modified.

[2015-05-15 04:08] chantra commented on #115
@zfjagann and I had a chat IRL on how we could tackle this. We will update this task with a draft.

[2015-05-18 03:40] kimjungyeon commented on #109
i'll post the result!

[2015-05-19 06:28] kimjungyeon commented on #109
@chantra i did it! well... first i set the thrift on localhost, and run atcd, and finally connect atc ui with my devices!!!!
the command like this
$sudo atcd --thrift-host 127.0.0.1 --atcd-lan eth0 --atcd-wan eth1
$sudo python manage.py runserver 100.100.100.1:8000 (this is phase of devices)
and i am controlling atc in my phone browser.... it worked!

[2015-05-19 06:34] kimjungyeon commented on #109
my dear @chantra!! i have a question, why i have to connect ui with my phone???
i just change atcui address 127.0.0.1 -> 100.100.100.1
but it worked!! why...? i am not programmer so everthing is too hard...:-(

[2015-05-19 17:42] zfjagann opened #116 "expose /api/v1/token in UI"

[2015-05-19 17:42] zfjagann opened #117 "expose /api/v1/auth in UI"

[2015-05-19 17:43] zfjagann commented on #109
@kimjungyeon Glad it's working! :)

By default, ATC uses the device that is connected to it for all it's shaping rules. This means that if you want to shape your phone, you have to connect to ATC with your phone.

There is a way to do remote shaping (shaping your phone from your desktop) in API v1, but the functionality is not exposed in the UI (#116, #117), so if you want to do this, you need to

[2015-05-19 17:47] #109 closed

[2015-05-20 02:28] kimjungyeon commented on #109
@zfjagann thank you so~~~~~~much! i was tried atc about 2 month...
yesterday is the day of happiness!! again, i thank you for your help and kindness zfjagann and  chantra
got bless you buddies!

[2015-05-21 22:25] jrabek opened #119 "Running "./utils/restore-profiles.sh localhost:8080" does not create all profiles"
Followed the instructions on https://github.com/facebook/augmented-traffic-control.
After running "./utils/restore-profiles.sh localhost:8080", the profiles are not all created.  Most of the time no profiles are created.

The only time profiles actually show up in the web interface is when curl gets a response like the following:
[code]
The only profile that showed up in the UI in this case was th

[2015-05-22 05:53] wildpeanut commented on #95
Hello chantra,

I found the reason, the script /etc/init.d/atcd is not properly end in each line. Each line end with ^M.
I remove ^M and resolve this issue.

[2015-05-22 17:54] jrabek opened #120 "atc demo ui stops working after "vagrant reload trusty""
After running "vagrant reload trusty", the demo ui at http://localhost:8080/atc_demo_ui/ is no longer available.  telnetting to the port results in the connection being closed immediately so it seems the port forwarding is still correct but maybe gunicorn is not listening.

[2015-05-22 17:55] jrabek commented on #120
Running "vagrant destroy trusty" and then "vagrant up trusty" fixes the issue with no other configuration changes.

[2015-05-25 00:27] chantra commented on #119
@jrabek
Thanks for reporting this. @zfjagann and I are haven't had a chance to look at it yet at there is a long holiday weekend here. Assigning to @zfjagann to look at it and potentially add more verbose logging upon failure.

[2015-05-25 00:31] chantra commented on #120
@jrabek
Same here, long weekend so we did not get a chance to look at it yet.

I think the issue with reload is that the shared filesystem does not get mounted. You do not have to destroy the VM, but just stop/start.

Can you reproduce if you:
[code]
?

[2015-05-25 01:20] chantra commented on #120
actually, I could quickly give a spin to this on my setup and could not repro. `reload` does properly remount the shares and the atcui.
Could you create a [gist](https://gist.github.com/) with the output of `vagrant reload trusty`

Tks

[2015-05-25 07:59] FzuLiWei opened #121 "when I use a mobile phone to access url , load image error, respone 404"
hello, I deploy on linux successfully,I access url from pc work well,but when I use a mobile phone to access begin problem. Look at this:
![image](https://cloud.githubusercontent.com/assets/7477767/7793846/de06b65c-02f6-11e5-9269-e29348417887.png)
![2015 525_155855](https://cloud.githubusercontent.com/assets/7477767/7793850/eef67a24-02f6-11e5-96cc-6bcbd1dc8e0d.png)

please help me!

[2015-05-25 08:03] FzuLiWei commented on #121
I use VMware Player ,ubuntu 12.0.4

[2015-05-26 18:25] zfjagann commented on #119
Hmm.... It works for me. I am, however, adding some error checking and it now prints the curl exit code if it fails like this:

    Could not add profile /home/zeal/dev/fb/atc/utils/profiles/NoConnectivity.json (curl exit code 6)

Whereas a success:

    Added profile /home/zeal/dev/fb/atc/utils/profiles/NoConnectivity.json

Please try it again with the updated script and let me know if it's still

[2015-05-26 18:27] zfjagann commented on #119
[Updated script](https://github.com/facebook/augmented-traffic-control/blob/master/utils/restore-profiles.sh)

[2015-05-26 18:32] zfjagann commented on #121
@FzuLiWei What type of mobile phone are you using this on? I've tested the UI on both relatively modern Android and iOS mobile phones, and haven't had any issues like that.

[2015-05-26 18:33] zfjagann commented on #120
I've seen this issue before. A quick way to fix this is `vagrant ssh trusty` and then inside the ssh shell `sudo start atcui` (or `sudo restart atcui` if that doesn't work).

[2015-05-26 20:58] chantra commented on #121
There used to be task where it did not work on some specific iOS version.can't look for the task now but it may be related.

-------- Original message --------
From: Zeal Jagannatha <notifications@github.com>
Date: 05/26/2015 12:32 PM (GMT-07:00)
To: facebook/augmented-traffic-control <augmented-traffic-control@noreply.github.com>
Subject: Re: [augmented-traffic-control] when I use a mobile phone

[2015-05-26 21:00] zfjagann commented on #121
The screenshot doesn't look like an iOS device to me, but it doesn't look like android 4.0 or 5.0 either.

[2015-05-26 23:45] jrabek commented on #120
@chantra.  Here is the output of vagrant reload trusty: https://gist.github.com/jrabek/14a4a4d8a0105a0d292c.  I checked and the demo ui is not accessible via http://localhost:8080 following the reload.

Running the following does not work either:
[code]
Here is the output from that:https://gist.github.com/jrabek/8248b6e8f5c9c68b2b53

[2015-05-26 23:46] jrabek commented on #120
@chantra @zfjagann , manually starting the atcui works as @zfjagann suggested.

[2015-05-26 23:47] jrabek commented on #119
@zfjagann Here is the output of the updated script:
[code]

[2015-05-26 23:52] zfjagann commented on #119
Judging from the [exit code 7](http://curl.haxx.se/libcurl/c/libcurl-errors.html#CURLECOULDNTCONNECT) looks like it can't connect to the port. Can you `curl http://localhost:8080/` manually?

[2015-05-26 23:53] jrabek commented on #119
@zfjagann I tailed the logs you mentioned and did not see any new logs while running restore-profiles.sh.
[code]
[code]

I did see some errors in the atcui.log from earlier:
[code]

[2015-05-26 23:59] jrabek commented on #119
@zfjagann So interesting discovery:
This works 100% of the time and loads all profiles:
[code]
Whereas this only loads the profiles sometimes
[code]

curl seems to have a problem resolving localhost for me.  Not sure why.  Using 127.0.0.1 works fine.

You can close this issue.  Maybe change the instructions for restore-profiles.sh to use a numeric address instead of localhost to avoid the lookup?

[2015-05-27 00:14] zfjagann commented on #119
Hmm. That's curious.

My guess is localhost resolves to 127.0.1.1 instead of 127.0.0.1 (I believe this is the default in ubuntu, but I don't know why). Check your `/etc/hosts` file and `nslookup localhost` to be sure.

Glad it got figured out.

[2015-05-27 00:14] #119 closed

[2015-05-27 00:20] zfjagann commented on #120
Our atcui upstart config is set to start after the network interfaces are brought up. I'll be that vagrant is short-cutting the boot process and upstart is not emitting that signal, thus atcui doesn't start up.

Interesting. I'll take a closer look at this and get something working.

[2015-05-27 00:35] zfjagann commented on #120
I found the problem. Hidden in chef there was a udev rule that restarted `atcui` whenever the vagrant box restarted. Apparently this can't be done with upstart easily (I tried `runlevel` and `started` with various arguments).

[2015-05-27 00:55] chantra commented on #121
Yeah, now that I looked at the screenshot.... it is definitely not iOS :)

From the server logs, it looks like none of the .css or .js files are pulled from the server.

Also, we know it is working on django 1.7, while django 1.8 should work, it has not been tested yet. Can you try to reproduce the issue on django 1.7 please?

This issue feel pretty much related to what was brought up in IRC:  htt

[2015-05-27 03:28] jrabek opened #122 "Provide instructions for a no-additional-equiptment setup"
Augmented traffic control is a great project.  Currently though new users of the project will need to set up a router with a box behind it to run ATC on before they can check it out.  I think it would be immensely helpful to new users to have instructions for a setup that does not require any additional equipment.  The same instructions could serve as a basis for running automated tests in a/the c

[2015-05-27 06:15] chantra commented on #122
Hi @jrabek,

there is already a chef recipe to deploy atc clients under `chef/atcclient`

Does that work?

We have also helped people in the past to set a VM as a router by sharing the host's wifi connector to the  guest. The setup can be pretty much setup dependent though but we could definitely provide some instruction to get people bootstrapped.

[2015-05-27 06:25] chantra commented on #120
@zfjagann I cant seem to reproduce the problem on my setup. I have been restarting the VM and atcui always came up.

That being said, we should change `/etc/udev/rules.d/50-vagrant-mount-atc{ui,d}.rules` do run whichever is needed based on the underlying init subsystem.

[2015-05-27 07:12] jrabek commented on #122
Oh, I completely skipped that directory.  Sorry about that.  That looks very much what I am thinking of.  Thanks for pointing it out.  I'll try playing with that tomorrow.

Regarding getting people bootstrapped, I think just mentioning the atcclient dir in the main README in a quick start section would be useful.  I imagine a lot of people want to try out ATC and not have to A) setup a physical ro

[2015-05-27 18:50] jrabek opened #123 "Enabling ATC shaping breaks TCP flows when using ATC and ATC client Vagrant setup"
*Setup:*

On Macbook Pro running OSX 10.10.3

ATC using following commit
[code]

Runing ATC using Vagrant:
[code]
Running ATC client using Vagrant
[code]

Run wget as a sanity check to check connectivity and unshaped network speed:
[code]

In the ATC webui on 100.64.33.3:8000/atc_demo_ui/ on the atcclient01 instance, set the profile to anything including DSL or Cable and then repeat the same trans

[2015-05-27 18:51] jrabek commented on #123
Note that if I turn off the shaping in the demo ui, the wget transfer is fast again.

[2015-05-27 19:01] jrabek commented on #123
I ran atcd from the shell and captured the logs (below) when I applied the DSL profile.

[code]

After capturing these logs I reran
[code]
and still saw the extremely slow transfer.

[2015-05-27 21:15] zfjagann commented on #120
The problem is that the commands they need to run are different now that we switched atcui to use upstart. If you look in syslog you'll see error messages about `/usr/init.d/atcui` not existing. I was half-way through testing a patch to this when I had to leave yesterday, I might be able to get it in today if I have time.

[2015-05-27 21:34] jrabek commented on #123
I looked through some of the closed issues and noticed that someone else saw something *similar* but not the same here:
https://github.com/facebook/augmented-traffic-control/issues/86#issuecomment-88655287

[2015-05-27 22:03] chantra commented on #123
@jrabek what happen if you run an end to end test with hosts directly before and after ATC?

Do you want to try https://github.com/facebook/augmented-traffic-control/issues/86#issuecomment-90631200 ?

[2015-05-27 22:23] jrabek commented on #123
@chantra Thanks!  I cherry-picked the commit and it seems to resolve the issue.  I confirmed using the same test I described previously in this bug.
[code]

Any reason why this has not been merged into master yet and included by default in the arguments to atcd?  My set up is vanilla out-of-the-box so I am surprised more people aren't hitting it.

[2015-05-27 23:03] jrabek commented on #123
I should clarify that after cherry-picking the commit, I completely recreated the trusty instance, ssh'd into trusty, stopped atcd, and added the --atcd-dont-drop-packets option and restarted atcd before retesting.  Wanted to make sure that someone reading the bug didn't think that just cherry-picking the commit is enough.

[2015-05-27 23:23] chantra commented on #123
@jrabek well, I somehow plan to review that part of the code when I get time for it and so I did not want to land something that may change in the future.

[2015-05-27 23:32] jrabek commented on #123
@chantra, sounds good.  This can be resolved then.  Thanks again for your help.  I went ahead and forked the repo (https://github.com/airtimemedia/augmented-traffic-control) so we can have something that works out of the box for us.

[2015-05-28 00:26] jrabek commented on #54
@chantra @zfjagann, have either of you gotten feedback about folks setting up ATC on a small form factor device (e.g. https://store.pfsense.org/SG2220, although you would need to install Linux first for thsi one)?  This would allow for a portable traffic shaping appliance like @jasta is interested in.

There are numerous cheap small form factor devices that could work.  Another example:
http://www

[2015-05-28 00:31] chantra commented on #54
@jrabek most people have installed it on Linux bare metal or Linux VM as far as I can tell.

ATC really just need to have 2 interfaces to shape on, it does not have to interfere/work with hostapd aside from being started after hostapd has set up the wlan interface.

[2015-05-28 00:36] jrabek commented on #54
@chantra, thanks for the info.  This would still be installing on Linux bare metal, but on an appliance that would serve as the access point as well.  I'll try it out and report back at some point in the future.

[2015-05-29 18:17] #122 closed

[2015-06-01 18:54] #116 closed

[2015-06-01 19:01] chantra commented on #121
Catching up on this one. The 404 error is ok as from the screenshot, it only affects the favicon.ico

It would be useful to get more info here:
- Is using django 1.7 fixing your issue?
- Can you get some debugging logs (maybe using https://developer.chrome.com/devtools/docs/remote-debugging ), I would like to see where JS is failing.
- What OS version/Browser are you using?

[2015-06-01 22:28] zfjagann opened #124 "Add device whitelist to ATCD config"
Whitelist should contain device addresses which are allowed to shape any and all other devices. (Short-cutting our token 2fac system).

[2015-06-02 17:27] #117 closed

[2015-06-04 22:39] chantra commented on #121
@FzuLiWei I will close this task for now. If you still see the issue with django 1.7 and can provide the information I was requesting earlier, please feel free to open a new task and we will try to find the cause and a solution.

[2015-06-04 22:39] #121 closed

[2015-06-04 22:51] chantra commented on #120
@jrabek I will be closing this issue for now. You have a workaround that should get you going.
I wish we could have a way to reproduce at will, that would be easier for us to fix this.

[2015-06-04 22:51] #120 closed

[2015-06-08 13:16] genius15 opened #126 "my phone could not load the UI completely"
I have configued the atc and run successfully
but the browser in my android phone can not load the ui completely,I can only see the title "Augmented Traffic COntrol Demo Ui".the browser in my linux can load it correctly.
I have little knowledage about django ,coule anyone tell me what should I do?

In my own webview ,it throw exception, "ATC is not defined"
![screenshot_2015-06-08-21-14-31](https:

[2015-06-09 02:11] chantra commented on #126
Hi @genius15

Thanks for reporting this. It seems to be related to #102 and #121 but we have not been able to reproduce it so far.
Can you let us know what:
- android version
- browser
- browser version you are running

Can you reproduce on Android on all browsers? or only some of them.

Could you try to get more detailled logs by doing some remote debugging:  https://developer.chrome.com/devtools

[2015-06-09 07:50] genius15 commented on #126
hi,@chantra
I tried a nexus 5 and nexus 6 again，and they can load completely.
yestoday,the phones that can not load correctly are android 4.3、android 4.4.2,I think it may be the google framework is the cause,for the phones's manufacturers are huawei and coolpad,and the manufacturers had removed the google framework in their ROMs.
I debug a test webview which loads the atcui and the log is
![image]

[2015-06-10 04:32] chantra commented on #126
Thanks @genius15

this is exactly the same error than in #102
I will try to reproduce with some variant of android.

[2015-06-10 17:14] sgoklani opened #127 "DHCP and Network Traffic Routing configuration"
Hi - i'm setting up ATC as per the following details:

- OS - Ubuntu 14.04 on x86 server (no virtualization)
- Hostname - 'piano'
- Network interfaces - eth0 (192.168.1.0 network) as Internet facing, eth1 (10.10.10.0 network) for DHCP

Till the point of DHCP configuration, it looks to work fine ... the DHCP server on Ubuntu is allocating IP addresses (say 10.10.10.2) to my other machine when i con

[2015-06-10 17:16] sgoklani commented on #127
I see some parts of my message are terribly enlarged in font size. Regret the inconvenience.

[2015-06-10 17:59] chantra commented on #127
Hi @sgoklani
Have you enabled forwarding? e.g set:
net.ipv4.ip_forward = 1
in sysctl (/etc/sysctl.conf) and ran sysctl -p

[2015-06-11 03:30] sgoklani commented on #127
Yes yes @chantra i had. Sorry forgot to mention.
I didn't do sysctl -p, but i'd rebooted the machine after all configuration.

[2015-06-11 04:18] chantra commented on #127
What do you mean? have you ran tcpdump on the gateway and see no traffic going through?

ok, a few things:
- can you ping 8.8.8.8 ? if so, then this is a DNS issue which is most likely due to the fact that you are not providing any (valid) dns server to the dhcp client. At least the line:
[code]
Should be replaced by something valid. In your case,
[code]

should be enough. Restart you dhcp service

[2015-06-11 04:27] chantra commented on #126
I wonder if moving to JS instead of JSX would solve the problem.

@genius15 could you try to transform the jsx file using https://facebook.github.io/react/docs/tooling-integration.html#jsx  and see if that fixes it.

[2015-06-11 04:37] sgoklani commented on #127
No @chantra i've not run tcpdump. Will do that, as well as your other suggestions, and let you know.

[2015-06-11 12:48] sgoklani commented on #127
Ah ... the domain-name-servers definition. I changed and it worked.
Tried ATCD also ... works like charm.
Many thanks.

[2015-06-12 07:50] chantra commented on #127
Glad to hear that.

[2015-06-12 07:50] #127 closed

[2015-06-15 19:09] ankit-ankuagrawal commented on #126
android: 4.1.1 same problem with crome browser
![device-2015-06-16-003708](https://cloud.githubusercontent.com/assets/11455759/8168077/21982a02-13c0-11e5-8d44-462bcebeb3fc.png)

[2015-06-16 18:21] chantra commented on #46
I did look into this a while back, while I don't remember exactly the reason, it was not worth it, or would have required a decent amount of work for little benefit.
Closing this.

[2015-06-16 18:21] #46 closed

[2015-06-16 20:59] chantra commented on #126
@ankit-ankuagrawal @genius15 could you try to use https://github.com/chantra/augmented-traffic-control/tree/fix_old_devices

and confirm it works for you?

[2015-06-16 21:23] ankit-ankuagrawal commented on #126
@chantra will check ty for ur response

[2015-06-16 21:25] jrabek commented on #123
Just as a note, I think what is happening might be related to this comment from https://github.com/facebook/augmented-traffic-control/pull/125#issuecomment-109472048:

1) You assume a policing behavior with no buffer. While an unlimited buffer is not realistic, policing is not that common either, and you end-up having TCP collapsing.

[2015-06-16 21:52] chantra commented on #126
For posterity.... I was able to reproduce on an emulated nexus one, and `adb logcat` showed:

[code]

[2015-06-16 22:47] chantra commented on #102
pinging this issue as this should be fixed as part of #126

[2015-06-16 22:48] chantra commented on #121
pinging this issue as it should be fixed as explained in #126

[2015-06-16 23:22] jrabek commented on #123
@chantra @zfjagann, so in its current state is ATC usable and accurate for Facebook?  I ask since currently TCP flows seem to be broken if shaping is enabled and if the following commit is used as suggested in this bug then TCP works but the network delays grows continually (which makes sense since there is no dropping).
[code]
 Are there any other fixes or workarounds until issue #60 is fixed tha

[2015-06-16 23:26] chantra commented on #123
@jrabek there is no quick fix/workaround currently.

As much as it may not be super accurate, we have a bunch of profiles that are used to be representative of some of the situations we are trying to emulate.

[2015-06-16 23:35] jrabek commented on #123
@chantra, so I just got an interesting result and may have reopened the bug too soon.

Ignoring the accuracy issues, I previously had problems with TCP transfers not working when using the vagrant setup.

I subsequently set up ATC on a linux box in a configuration that matches the one mentioned in the main ATC README.  The wget transfers seem to work in the bare metal configuration.  May be some i

[2015-06-16 23:38] chantra commented on #123
Oh yeah, vagrant (virtualbox) is not recommended... the main issue is most likely due to scheduling in the VM that will differ from bare metal.

This has been brought up a few times already. As much as vagrant is convenient to set up a dev environment, virtualization is not going to provide accurate scheduling.

[2015-06-16 23:41] chantra commented on #123
this is definitely not something we can support though.

[2015-06-16 23:44] jrabek commented on #123
Makes total sense to not support it and just recommend a bare metal setup in the main README.  That said, I think having a huge disclaimer in the README would be helpful since there is a vagrant setup provided.  It made it seem like vagrant would be a valid option for evaluating/using ATC.

Thanks again for the quick responses.

[2015-06-16 23:47] chantra commented on #123
thats fair. I think I did somewhere... but will doublecheck

[2015-06-17 23:00] #123 closed

[2015-06-17 23:02] chantra commented on #123
:metal:

[2015-06-18 00:18] #126 closed

[2015-07-03 05:51] PanWangJ opened #130 "ATC is not running."
Hi, I've tried to set up the whole project to have a test on network traffic control. When it comes to Running ATC here:

**Running ATC**

Once in the repo, go to the chef/atc directory and run:

    vagrant up trusty

This will take some time before it completes, once the VM is provision, SSH into it:

    vagrant ssh trusty

You should now be able to access ATC at: http://localhost:8080/

I got

[2015-07-03 06:19] agargiulo commented on #130
Is Vagrant doing port magic to make things work on `localhost` @chantra? Or would you need to access the site from localhost inside the VM, I forget how it's setup, but I feel like Vagrant doesn't do that port forwarding.

[2015-07-03 06:32] PanWangJ commented on #130
@agargiulo Thanks for the replying. Had worked on this problem for a couple of hours, I'm still confused and stuck here......

[2015-07-03 08:10] DoctorQ opened #131 "change network,but not work."
I installed atc by [docker-image](https://registry.hub.docker.com/u/atcd/atc/)
then,I try to change network
# step 1

I choose the "No Connectivity"
![d82936732cae9f883412e885fe2e08a0](https://cloud.githubusercontent.com/assets/4489853/8495131/a0d49afe-219d-11e5-8309-51d12b1fa940.jpg)
# step 2
Update Shaping，but not work?
![5ba5630eabf02aa31b1612fd1af45adf](https://cloud.githubusercontent.com/asse

[2015-07-04 02:14] chantra commented on #130
@PanWangJ

As @agargiulo mentioned, vagrant is forwarding ports.

In the VM:
* atcd is listening on port 9000
* atcui is listening on port 8000

In the host:
* port 8080 is forwarded to the VM's port 8000

Hence, you can connect to atcui from the host by going to http://localhost:8080

To find out what may prevent the set up from working, can you check a few things:
# in the VM
* is atcui running

[2015-07-04 02:29] chantra commented on #131
@DoctorQ just to make sure, 10.58.37.71 is a gateway for your android device (the machine you are running the docker instance is a router for your android device).
How did you start the docker image? By default eth0 is used as the interface that connects to internet, eth1 as the interface that connect to your local network, is this matching your setup? Did you override the environment variable?

[2015-07-06 01:50] PanWangJ commented on #130
@chantra I've tried what you told me to do, the result:

**in the VM**
atcui is not bound to port 8000 as there is no sign of it running and listening on port 8000 at all.
cannot connect to localhost:8000 using elinks as well.

**in the Host**
I didn't find anything already bound to port 8080.

So I guess maybe there is something wrong with the **VM**? Actually in your post you said **atcd** is li

[2015-07-06 02:44] PanWangJ commented on #130
@chantra I forgot to mention that I did get error about missing plugins of **vagrant-berkshelf** and **vagrant-omnibus** when running vagrant up for the first time. Then I solved this problem and get no errors when running vagrant up again.

[2015-07-06 02:45] chantra commented on #130
@PanWangJ  you will need to run

[code]
in order to get vagrant to provision the vm via chef. Now that the VM exists, vagrant will not provision it when running `vagrant up`

[2015-07-06 02:55] PanWangJ commented on #130
@chantra I tried the command `vagrant up --provision trusty` but it seems to be no difference? I still can't get ATC running. Is there anything that I missed?

**The command log:**

pan@pan-Lenovo-Product:~/Downloads/atc/chef/atc$ vagrant up --provision trusty
Bringing machine 'trusty' up with 'virtualbox' provider...
==> trusty: Loading Berkshelf datafile...
==> trusty: Sharing cookbooks with VM

[2015-07-06 02:58] chantra commented on #130
Vagrant is telling you that the VM is already running. Turn it off first:
[code]

and then up

[2015-07-06 03:28] PanWangJ commented on #130
@chantra I delete the already existed VM and using the command `vagrant up --provision trusty` to get a new VM. And it's all working now, I'm able to access localhost:8080. Problem solved!

Thanks a lot for your help!!!

[2015-07-06 03:29] chantra commented on #130
You are welcome @PanWangJ

[2015-07-06 03:29] #130 closed

[2015-07-06 07:09] PanWangJ opened #132 "How to use ATC to control the network of our own application?"
I've managed to get ATC running in the VM and have access to **http://localhost:8080** from the host machine with the great help of @chantra (Thanks). Those profiles are already well imported and I can see changes taking place while select different profiles.

Then I tried to make everything else works. By that I mean I want to know how to use ATC to control my application's network. But I'm stuck

[2015-07-06 16:19] chantra commented on #132
ATC must be a router handling the traffic of your devices (Android phone...), like the gateway of your devices.
The devices will then connect to the atc ui and select the type of traffic shaping they want.
The vagrant set up is meant for testing/developing atc.

[2015-07-07 01:38] PanWangJ commented on #132
@chantra I've looked around those closed issues and found out that issue 83 kind of answered my question, and I finally get ATC works. Thanks a lot! I think I should write down the process of me getting ATC to work in case anyone else encountered the same problem:

1. Install ATC on a **Linux** based OS by following the docs. (I didn't used the VM)
2. Make sure that the machine that ATC installed

[2015-07-07 02:05] chantra commented on #132
:+1:
@PanWangJ thanks for writing it down, it will surely help others going through the same process.

[2015-07-07 02:05] #132 closed

[2015-07-07 06:39] arvindsawant commented on #99
Hi
I am facing a issue, while configure ATC in browser as proxy it gives me 404 error

{u'path': u'http://Webserver hostname/'}
You're seeing this error because you have DEBUG = True in your Django settings file. Change that to False, and Django will display a standard 404 page.

I run "atcd --atcd-wan eth0 --atcd-lan eth0" and "atcd --atcd-lan eth0" still facing same issue.

my config is
Centos 6

[2015-07-07 06:56] arvindsawant opened #133 "Getting 404 error on augmented-traffic-control"
Hi
I am facing a issue, while configure ATC in browser as proxy it gives me 404 error

{u'path': u'http://Webserver hostname/'}
You're seeing this error because you have DEBUG = True in your Django settings file. Change that to False, and Django will display a standard 404 page.

I run "atcd --atcd-wan eth0 --atcd-lan eth0" and "atcd --atcd-lan eth0" still facing same issue.

my config is
Centos 6

[2015-07-08 19:36] chantra commented on #133
Hi @arvindsawant
First of all, `atcd` needs to separate interfaces to be able to function, while they may be the same physical device, they need to have different names (so eth0 and eth1 for instance).

Second, the ATC UI error you are seeing will be unrelated to atcd. The UI could be running standalone without atcd, but will need to eventually connect to atcd to trigger shaping, displaying the UI

[2015-07-08 19:38] chantra commented on #131
Hi @DoctorQ is it working for you now? If not, did you get a chance to provide answers to my questions?

[2015-07-09 04:10] DoctorQ commented on #131
oh,@chantra sorry!I know the reason why not work.My wifi AP is not build.I don't know your docker image if can share Wifi Ap or not.

Yesterday， I setup wifi ap in linux,then use source code env,then success.Answer your questions below:
# How did you start the docker image

`docker run -it --privileged --net=host --rm atcd/atc`

#is this matching your setup

I use docker in OS X 10.10.3,use virtur

[2015-07-09 04:23] chantra commented on #131
@DoctorQ
So, you will have some work to do on your side to get this working, and we do not support running atc in vagrant (but for developing/testing purpose).
I am not really sure what your set up look like, but supposing that your wifi AP is running on your home router, your traffic will never be  shaped by ATC. ATC `MUST` be routing your packets, which means that ATC is going to be a router tha

[2015-07-09 04:23] #131 closed

[2015-07-09 04:27] DoctorQ commented on #131
@chantra  I will try to use atc by docker again!because it is easy to setup!Thanks.

[2015-07-09 04:31] DoctorQ commented on #131
@chantra  Hope you can provider more document about how to setup atc by docker image.

[2015-07-09 04:39] chantra commented on #131
@DoctorQ

I understand, and this is the reason why there is a docker image, nevertheless your issue at the moment is not about being able to run ATC (which you successfully did), but about making your VM a router for your devices.

Unfortunately, I do not have any documentation handy to provide here. But regardless of ATC, you first need to get your ubuntu VM to route your traffic. Once you have t

[2015-07-09 11:01] arvindsawant commented on #133
As per your suggestion I have put two physical card in system eth0 – 10.50.249.216 (netted with public IP) and eth1- 10.50.248.2 (separate network for augmented-traffic-control) and was able to setup shaping.

now can you please suggest how to test this on device or Mobile. Can we use that 10.50.248.2 IP as gatway or proxy IP on device?
http://10.50.248.2:8000/atc_demo_ui/ - Profile Create and its

[2015-07-09 15:59] chantra commented on #133
Hi @arvindsawant
Atc UI is not a proxy so do not try to use it as a proxy as it will not work.
Yes you will need to use 10.50.248.2 as gateway. This route will the pass on packets to the upstream router in 10.50.249.216's network.

Atcd requirement is to run on a routing device. Until the device that will run atcd is able to route packets properly you can take atcd out of the picture.
Setting a ro

[2015-07-09 15:59] #133 closed

[2015-07-15 09:11] PanWangJ opened #134 "How to shape other devices' traffic with ATC?"
I've checked the document and found ATC employs a token-based authentication system to allow devices to securely shape others. I did follow the instruction about how to use this token-based authentication system, but I've got problems to make it work.

It seems that the **validation time** of each token is set to **60s** by default, is it possible to change the time period and if so how?

Another

[2015-07-15 16:24] chantra commented on #134
@zfjagann can you help with this?

@PanWangJ at this stage, your desktop should be able to shape the controlled device  via the API under
http://10.42.0.1:8000/api/v1/shape/10.42.0.115/

If you are using master, you should be able to do that through the UI.

[2015-07-16 01:15] PanWangJ commented on #134
@chantra Thank you, for some reason the desktop is not able to shape the traffic of the laptop yesterday. I've tried to do the shaping this morning again and it's working now. I have no idea what caused the problem, anyway the shaping is working now. As for the validation time of the token, still need your or @zfjagann 's help. Thanks again!

[2015-07-16 07:21] tienfeek opened #135 "downlink bandwidth have not changed ，only 8kbps"
downlink bandwidth have not changed ，when downlink banwidth is 40-30000kbps ，  only about 8Kbs 。but uplink have changed， why？

[2015-07-16 17:00] chantra commented on #135
Hi @tienfeek I am not really sure what your issue is.
You are saying that whatever downlink bandwidth setting you are changing, you always end up getting 8kbps?
But uplink changes are accurate?

https://github.com/facebook/augmented-traffic-control/issues/86#issuecomment-89889404 may help you.

[2015-07-16 17:06] chantra commented on #134
@PanWangJ
The access token validity time is set in https://github.com/facebook/augmented-traffic-control/blob/master/atc/atcd/atcd/access_manager.py#L56

and is currently set to 60 seconds.

It would be pretty straightforward to hack a configureable timeout in https://github.com/facebook/augmented-traffic-control/blob/master/atc/atcd/atcd/AtcdThriftHandlerTask.py and pass this to `AccessManager` i

[2015-07-16 17:06] #134 closed

[2015-07-16 17:09] chantra opened #136 "Configureable Access token timeout"
Currently, the access token validity is hardcoded to 60s. We could make this configurable at atcd start time and initialize `AccessManager` accordingly.

see https://github.com/facebook/augmented-traffic-control/issues/134#issuecomment-122023734 for context.

[2015-07-17 01:01] PanWangJ commented on #134
Thanks you @chantra

[2015-07-17 22:23] chantra opened #138 "Push new atcd docker instance"

[2015-07-17 22:27] chantra opened #139 "document atcd requirements"
Many people are opening issues for support for atc but in many cases, they don't have a suitable environment to deploy ATC on.

We obviously fail at properly documenting the requirements. We should have a page specifically designed to help people meeting those requirements. Some kind of checklist with potential links to external documentation.

[2015-07-17 22:27] chantra commented on #139
cc @zfjagann

[2015-07-19 09:26] zhangxiaang commented on #74
i also meet this problem ...my pip free log is:
altgraph==0.10.2
atc-thrift==0.1.2
atcd==0.1.2
bdist-mpkg==0.5.0
bonjour-py==0.3
daemonize==2.3.1
Django==1.8.3
django-atc-api==0.1.2
django-atc-demo-ui==0.1.2
django-atc-profile-storage==0.1.2
django-bootstrap-themes==3.1.2
django-static-jquery==1.11.1
djangorestframework==3.1.3
futures==3.0.3
macholib==1.5.1
matplotlib==1.3.1
modulegraph==0.10.4
nu

[2015-07-20 04:43] chantra commented on #74
@zhangxiaang  I understand your issue is fixed given you comment in sparts repo: https://github.com/facebook/sparts/issues/96#issuecomment-122643990
Is this correct?

[2015-07-21 02:25] zhangxiaang commented on #74
@chantra
but i meet the same problem with @jinkerry ...
if i import runner , the terminal told me that ImportError: No module named queue...
have u resolved this problem? @jinkerry
thanks a lot !

[2015-07-21 04:01] chantra commented on #74
@zhangxiaang
Do you use virtualenv? When you import runner, do you do this as root? as a normal user?

Can you run:
[code]
and paste the output to https://gist.github.com/

[2015-07-21 06:49] zhangxiaang commented on #74
@chantra thanks for ur reply!
when i run (as root)

      /usr/bin/env python -c 'import six; print six.__version__'

the output is '1.4.1'
it is strange, when i run " sudo pip freeze" , the six version is 'six==1.9.0'

[2015-07-21 17:02] chantra commented on #74
@zhangxiaang you may be most likely using a virtualenv setup. You can either start atcd using `sudo` OR make sure you upgrade `six` package for root.

[2015-07-27 17:10] chantra commented on #135
@tienfeek We did not get any update from you side since you opened the issue. Hopefully, my previous comment will help fix your issue. I will close this issue for now. Feel free to open a new one if your issue is still not fix or try to catch us on freenode #atcd

[2015-07-27 17:10] #135 closed

[2015-07-28 04:25] chantra commented on #138
atc v0.1.2 has been pushed to https://registry.hub.docker.com/u/atcd/atc/

[2015-07-28 04:25] #138 closed

[2015-07-28 04:30] chantra commented on #44
@zfjagann what do you think of this one? The UI is not the most mobile friendly, but with the support of profile, it is not too bad. I will be tempted to just drop it and rather rely on the community to come with something better. After all, this is just a demo UI.

[2015-08-04 00:19] zfjagann commented on #44
Worth keeping around. I think we could improve in this area a lot. I don't think it's fair to force people with an older android phone to have to rewrite or patch our UI just to be able to use the Demo UI.

I'll see if I can find time/devices to test with and see what I can do.

[2015-08-04 00:42] chantra commented on #44
@zfjagann  I think you are mixing up 2 things. The fact that the UI was not functioning on older devices that I fixed in 4f0d12cd2979d6547dc260743b9273765bc7cbff and having a mobile optimized UI. In its current state, the UI is not the most mobile friendly, but it is not that bad either.

[2015-08-04 18:03] facebook-github-bot-7 commented on #9
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:03] facebook-github-bot-7 commented on #16
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:03] facebook-github-bot-7 commented on #45
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:03] facebook-github-bot-7 commented on #49
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:03] facebook-github-bot-7 commented on #53
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:03] facebook-github-bot-7 commented on #57
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:03] facebook-github-bot-7 commented on #58
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:03] facebook-github-bot-7 commented on #60
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:03] facebook-github-bot-7 commented on #108
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:03] facebook-github-bot-7 commented on #115
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-11 06:59] kr-ashok opened #143 "Bandwidth modelling not happening as expected"
Hello,

I installed ATC on CentOS 7 laptop which has wireless(interface: wlp3s0) as well as ethernet NIC (interface: enp0s25). Interface "enp0s25" is connected to Internet and I have created a wireless AP on interface "wlp3s0". I have connected clients (mobile) to this AP. I started ATC as follows:

atcd --atcd-wan enp0s25 --atcd-lan wlp3s0

For web gui:

cd atcui
python manage.py runserver 0.0.0.

[2015-08-11 16:08] chantra commented on #143
@kr-ashok could you try using `--atcd-dont-drop-packet` ?

this was added in b06f76f0c015aad945deed134ca69b78bafe1cfc . From the changelog you can see a bunch of similar issues along with some explanations.
Let me know if that helps.

[2015-08-12 11:08] JohnnyWuMigme opened #144 "After turn on ATC, couldn't connect web site from client side"
Hi Sir,

I'm new on using this great tool. I had installed the ATC tool on my Ubuntu VM, what I've done is setup a wireless USB device as wifi-ap, so my mobile devices / laptop can connect with and access ATC control panel. I also setup the DHCP service. Before I turn on the ATC from control panel, the network connection is fine, I can access web from browser without problem. However, once I turn

[2015-08-12 16:57] chantra commented on #144
@JohnnyWuMigme this is working as expected and you  are actually getting a reply from yahoo.

Also, running the same curl on my own laptop without atc in the middle as the same outcome.

Use: `curl -v www.yahoo.com` and you will see that you get a redirect to https://www.yahoo.com

I will close this for now as it does not seem to be an issue. Feel free to open a new task if anything comes up.

[2015-08-12 16:57] #144 closed

[2015-08-13 01:31] JohnnyWuMigme commented on #144
Hi Chantra,

I check with curl -v and below are the comparison info:

Without ATC:

➜  ~  curl -v www.yahoo.com
* Rebuilt URL to: www.yahoo.com/
* Hostname was NOT found in DNS cache
*   Trying 116.214.12.74...
* Connected to www.yahoo.com (116.214.12.74) port 80 (#0)

< HTTP/1.1 301 Redirect
< Date: Thu, 13 Aug 2015 01:17:06 GMT
< Via: http/1.1 ir1.fp.tp2.yahoo.com (ApacheTrafficServer)
* Server

[2015-08-13 01:44] chantra commented on #144
@JohnnyWuMigme
Are you testing on the with and without ATC on the same router?

Anyhow, in both cases, you are getting a connection to yahoo.com (yahoo is replying with some HTML).

Also, the 'no route to host' is only happening over IPv6. This is a routing issue, not an ATC issue and I suspect that even if ATC was not running on your router, you would get the same error.

ATC does not handle rout

[2015-08-13 11:50] salmanchauhan opened #145 "Hosting environment for Facebook ATU"
Hi Team,
I want to set up my test environment using Facebook ATU. My question  is
1) Can I set up this environment on Virtual Linux OS where I have Host OS Mac and I want to control my WiFi Hotspot internet speed. I have created Hotspot on Linux sharing internet from Ethernet to WiFi.

2) If above case is not possible than do I need my Real Linux Machine to be directly connected with my router to

[2015-08-13 11:58] kr-ashok commented on #143
Hi Chantra,

Thanks for the suggestion. I will try this out and post my observation soon.

Thanks

[2015-08-13 19:42] chantra commented on #145
Hi @salmanchauhan

Yes you can but you are not going to get the best behaviour with that setup.

In any cases, what matters is that the traffic you want to shape get routed through the ATC box.

Does that answer your question?

[2015-08-14 12:28] salmanchauhan commented on #145
Thanks @chantra Yes it answers my question. Can you suggest me what will be the best solution to implement this test environment to get best behaviour ?

[2015-08-14 18:08] chantra commented on #145
@salmanchauhan
The best behaviour will be using physical hardware. That being said, using a virtual box will be enough to get testing done and get a good grasp of your application behaviour.

[2015-08-14 18:08] #145 closed

[2015-08-15 00:07] chantra commented on #115
Let's get this rolling soon.

[2015-08-18 03:12] zhangxiaang opened #146 "Multiple users situation"
if here are multiple users ， one of them changed the configuration(profiles) in the 'atc_demo_ui',will other users be affected? (there are in the same lan)?

if the mode of connectting is NAT , all devices will get shaped using the same shaping rules?

[2015-08-18 07:05] chantra commented on #146
Hi @zhangxiaang
It ATC sees all the users as coming from the same ip then yes, they will all be shaped with the same shaping rules.
ATC will apply shaping on a per IP basis so it needs to be able to see the users with individual IP. NAT should be applied after ATC, not before.
Does that answer your question?

[2015-08-18 10:28] zhangxiaang commented on #146
yeap,i get it .  thank you very much!!!

[2015-08-19 02:49] chantra commented on #146
Great!

[2015-08-19 02:49] #146 closed

[2015-08-21 04:40] bobruub opened #147 "ATC is not running"
HI all,

installed ATC as described in documentation but when I visit http://localhost:8000/atc_demo_ui/ it tells me that "ATC is not running"

I've started the daemon sudo ./dev/atc/venv/bin/atcd

I can see an open ports for 8000 (the gui which obviously works) and can see an open port on 9090.

I can also telnet to both ports from the same machine.

Its running ubuntu 14 running in virtualbox.

[2015-08-21 04:48] chantra commented on #147
@bobuub so apparently the ui is not able to connect to atcd. Can you copy the logs from atcd to https://gist.github.com/ so we may get some insight on what may not work.
I assume you have tried reloading the webpage after you have started atcd so give a chance to the ui to reconnect.

If you use the web developer functionality of your web browser, do you get any javascript errors? Can you post tho

[2015-08-21 05:22] bobruub commented on #147
I start ATCD thusly:
~/dev/atc/venv/bin$ sudo ./atcd
then the UI
python manage.py runserver 0.0.0.0:8000

as you suggested I tried to refresh the page but the same result :(

I see no error or warnings (apart from ATC not running) on the UI.
I also tried in a second browser (chrome) but same issues.

Not sure where logs are located, the syslog is below
Aug 21 14:55:08 tim-VirtualBox AtcdNBServerTa

[2015-08-21 05:24] bobruub commented on #147
QApologies, just found this in developer tools for firefox..

"You are using the in-browser JSX transformer. Be sure to precompile your JSX for production - http://facebook.github.io/react/docs/tooling-integration.html#jsx" JSXTransformer-0.13.3.js:314:1
"Warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of ProfileList. See https://fb.me/react-war

[2015-08-21 12:25] cachenbach commented on #147
@bobruub: could you please try:
pip freeze | grep djangorestframework

If your see version 3.2.2: I was able to solve this issue with:
sudo pip uninstall djangorestframework
sudo pip install djangorestframework==3.1.2

[2015-08-21 18:30] chantra commented on #147
@cachenbach you are saying that djangorestframework 3.2.X :s I will try to reproduce that,

[2015-08-21 19:15] cachenbach commented on #147
@chantra yes, presumably 3.2.X. In may case it was 3.2.2

From http://www.django-rest-framework.org/topics/3.2-announcement/ :
"request.DATA was put on the deprecation path in 3.0. It has now been removed and its usage will result in an error. Use the more pythonic style of request.data instead."

I think that was the problem.

[2015-08-21 21:49] chantra commented on #147
@cachenbach that seems to match. Running the UI using `python manage.py runserver 0.0.0.0:8000` spits out https://gist.github.com/chantra/16e788790ee03481ac7c

[2015-08-21 22:00] #147 closed

[2015-08-21 22:20] bobruub commented on #147
thanks for the feedback.

I went back to teh previous version but still getting the same issue :(

tim@tim-VirtualBox:~$ pip freeze | grep djangorestframework
djangorestframework==3.1.2
tim@tim-VirtualBox:~$

[21/Aug/2015 22:16:26] "GET /api/v1/token/ HTTP/1.1" 200 77
[21/Aug/2015 22:16:28] "POST /api/v1/shape/ HTTP/1.1" 500 13372
[21/Aug/2015 22:16:29] "GET /api/v1/token/ HTTP/1.1" 200 77
[21/Aug

[2015-08-21 23:05] chantra commented on #147
@bobruub Can you just reprovision it all together from the new master?

[2015-08-23 02:16] bobruub commented on #147
Hi all,

started from scratch, new virtualbox ubuntu, new install and now it works correctly :)

Thanks for the heads up. I've got some more questions on config but I will have a try to resolve them myself first.

[2015-08-23 21:46] chantra commented on #147
Good to hear! Hopefully the READMEs will answer your questions, if not feel free to hop on IRC or open a new task.

[2015-08-27 17:59] chantra commented on #143
Hi @kr-ashok do you have any updates on this?

[2015-09-04 03:46] bobruub opened #150 "how to route to ATC interface"
Hi all,

this is more of a networking issue but hoping someone here can advise.

I managed to get ATC running (thanks for the assist) but am not sure how to route to the gateway.

ifconfig:

tim@tim-VirtualBox:~$ ifconfig
eth0      Link encap:Ethernet  HWaddr 08:00:27:30:c8:32
          inet addr:10.3.18.114  Bcast:10.3.18.255  Mask:255.255.255.0
          inet6 addr: fe80::a00:27ff:fe30:c832/64 S

[2015-09-04 04:42] chantra commented on #150
@bobruub if you take atc out of the picture, I assume it is not working either.
I would say the issue may be that you are not either:
- forwarding the traffic (`sysctl net.ipv4.ip_forward` returns a value of 0)
- natting the traffic and the next hop does not know how to send the traffic back to atc

[2015-09-08 18:33] chantra commented on #150
@bobruub does that answer your question? I will be closing this issue for now. If you still need more assistance, please feel free to open a new ticket on get us on irc.

[2015-09-08 18:33] #150 closed

[2015-09-10 09:18] rrohana opened #151 "six.moves.queue import Queue"
Hi
I followed your guide on installing -- When I run the service I get
 File "/bin/atcd", line 12, in <module>
    from atcd.scripts import runner
  File "/usr/lib/python2.7/site-packages/atcd/scripts/runner.py", line 19, in <module>
    from atcd.AtcdDeviceTimeoutTask import AtcdDeviceTimeoutTask
  File "/usr/lib/python2.7/site-packages/atcd/AtcdDeviceTimeoutTask.py", line 10, in <module>
    fro

[2015-09-10 16:24] chantra commented on #151
Hi @rrohana

This seems related to #74 . Can you check the version of six.

[2015-09-16 17:06] chantra commented on #151
Hi @rrohana

I did  not get any update from your side. I believe #74 answers your question. I will close this issue for now, feel free to get back to us if you have any other issues.

[2015-09-16 17:06] #151 closed

[2015-09-21 07:56] rrohana commented on #151
HI
Sorry - was on vacation
/usr/bin/env python -c 'import six; print six.__version__'
1.3.0

[2015-09-21 07:57] rrohana commented on #151
HI again   -- I fixed it by upgrading to six-1.9
However, I have a different problem now :
INFO:AtcdVService.AtcdNBServerTask:AtcdNBServerTask Server Started on 127.0.0.1:9090
CRITICAL:AtcdVService.AtcdLinuxShaper:One of the following interfaces does not exist: eth1, eth0
ERROR:sparts.tasks:Error creating task, AtcdLinuxShaper
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-pack

[2015-09-21 08:06] rrohana commented on #151
ignore

[2015-09-23 06:53] JohnnyWuMigme commented on #143
I had same problem as he described and the solution is working perfect for me. Thanks chantra!

[2015-09-23 07:00] JohnnyWuMigme commented on #144
OK, I gave up last time. I give a try today and find the workaround for me. Before I used VM installing Ubuntu on my mac pro, and I connect an external wireless usb device as the wifi ap, and I use network sharing for the VM network (eth0 in Ubuntu), so the mac pro on board wifi chip is the wan side. I guess this would cause some problem, today I connect a thunderbot - ethernet adaptor and disable

[2015-09-24 07:53] JohnnyWuMigme commented on #144
Hi,
root cause should be the way that vm share network with local os.
before my vm network settings is "Share with my Mac", after I choose "Bridge Networking" then everything's running as expected. Thanks!!!

[2015-09-24 16:17] chantra commented on #144
:+1:

[2015-09-29 14:26] rrohana opened #153 "atc is not running"
Hi
I successfully installed the tool.
My wan is eth1 and lan eth0 -- so I lunched the tool as follow :
      atcd --atcd-lan eth0 --atcd-wan  eth1

And them run the WEBUI as none sudo user and  successfully logged in.
But WEBUI shows in yellow " ATC  is not running "
Thanks

[2015-09-29 15:43] yershalom opened #154 "Cannot shape settings for authorized ip address on atc demo ui"
Hi,

I'm trying to shape settings for authorized ip address on atc demo ui.
I'm running the atc with docker.
I can see the authorized addresses but there is no option for select before changing downlink limit for example.
Is there any other way at the web ui to select changes on authorized address?

[2015-09-29 15:53] chantra commented on #153
There is currently an issue where the pip package of atc may will not work will latest django framework versions.
You have a couple of options here:
- get atc from master
- downgrade django-rest-framework to version 3.0

cc @zfjagann

[2015-09-29 16:15] rrohana commented on #153
Thanks a lot man

[2015-09-30 12:01] rrohana commented on #153
Hi
Your tool is working great. I Realized its per session. { I need to open the UI from the tested device }
Is there anyway to make a global per subnet

[2015-09-30 21:07] zfjagann commented on #153
Hi @rrohana

 :+1:  Glad you got it working!

In the ATC version currently on github you can only shape specific IPs and not subnets, but shaping subnets is in the TODO list for the next version of ATC which we're working on now.

[2015-09-30 21:07] #153 closed

[2015-09-30 21:48] zfjagann commented on #136
FYI the golang branch includes this now via the `-token-timeout` flag. 72e7a54068e28c51a818768dbd20dfe70f15823c

[2015-10-09 12:47] golgoth opened #155 "Atc is not running"
Hy, I am having the same issue than a previous ticket here, with the yellow warning "ATC is not running".
I got an error in the browser's console :

GET XHR  http://localhost:8000/api/v1/shape/
GET XHR  http://localhost:8000/api/v1/shape/
TypeError: result.json is undefined

So I downgraded django rest framework to 3.0 as previously said, and tried to install from source, but I'm still having the

[2015-10-09 15:03] chantra commented on #155
Hi,
Did you restart at cuisine after downgrading by any chance?

[2015-10-09 15:53] golgoth commented on #155
What do you mean by "cuisine" ?
I rebooted several time, and also uninstalled all the packages to redo all
the steps, but I still get this error message.

Adrien Duffy--Coissard

*EA DICE Ops Master thesis internEngineering student at KTH - INSA de
LyonComputer sciences - 6th year - Distributed systems*

2015-10-09 17:04 GMT+02:00 chantra <notifications@github.com>:

[2015-10-09 16:42] chantra commented on #155
autocorrect failed....
Did you restart `atcui` .....

I guess we are going do need some logs here. It feels like it is related to #147 though.

Can you run the atcui process from the command line and put the logs in a gist. Make sure to enable your virtualenv if you use one and then run:

[code]

[2015-10-13 16:35] golgoth commented on #155
My machine is not fully set up yet, I just have eth0 and lo interfaces, so I launched it with
[code]
Should it be a problem ?
Yes, it seems related, but since it was solved in #147 by reinstalling Linux, maybe it's a problem that is still here ? Or something I do wrong...

Everything seems to be fine, and I guess something is working since if I shutdown atcd then in the notification box appear :
[

[2015-10-13 16:42] chantra commented on #155
Hi @golgoth

First of all, the solution is not about reinstalling Linux. In #147 a VM was provisioned, so it was easier to just reprovision rather than fiddle around.

The command you are running will prevent shaping from working, but not the UI, so you should be able to request shaping, unshape .... but shaping will not take effect due to routing.

Your gist is not accessible, is it set to privat

[2015-10-13 16:50] golgoth commented on #155
I updated the comment with the right link to gist:
https://gist.github.com/golgoth/c546558e986116dc9bf3
Well, I can create profiles, just that the yellow button is still here. I may not be able to work on that for a while, maybe I will eventually find out that shaping is working well !
I may also try to install it on another VM, that should work then !

[2015-10-13 16:53] chantra commented on #155
from the gist, we can see that the ui is able to talk to the atcd daemon. Can you send the logs from running the UI with
[code]

Also, can you send the output of
[code]

Tks

[2015-10-16 22:11] chantra opened #157 "make syslog support optional"
When running in a container, syslog may not be available and will cause atc to crash as in https://gist.github.com/chantra/2e52410da7e0f48d0eee

We should detect if syslog can be used and only enable it in that case.

[2015-10-19 08:03] Nandini-Agg opened #160 "Unable to search the source code."
Hey, I am facing some issue regarding source code. I am not able to search the source code of ATC from my system since it has already been deployed to my system.
Anybody please guide me to overcome this issue.

[2015-10-19 15:04] agargiulo commented on #160
What are you trying to search for? How are you searching for it? And how are you deploying it?
Also, searching through the source code can be done by going to the search box at the top of this page, it will search only this repo by default.

[2015-10-19 16:35] chantra commented on #160
you can also run something along:
[code]

That would give you a hint on where files are installed. But as @agargiulo mentioned, if you are only looking to search the codebase, you should just use github or clone the repo.

[2015-10-20 18:16] stream101 opened #161 "Cannot connect to atc from a remote machine"
I follow the configuration steps in #132.  However, I couldn't be able to connect to atc (on the control machine) from a remote machine.

On the control machine, you can see the ip address of wlan is **10.42.0.1**.
[code]

I set the control machine as the AP and use the other remote machine to connect to the hotspot.

Now I can open the atc demo UI on the control machine at **0.0.0.0:8000/atc_demo

[2015-10-20 19:12] zfjagann commented on #161
On your remote box make sure you're on the same network as the wireless link on the ATC box.

Can you run the following commands and paste the output into [gist](https://gist.github.com/)? That would be helpful for helping diagnose what's wrong.

- `ip addr`
- `ip route list`
- `ip route get 10.42.0.1`

[2015-10-20 19:55] stream101 commented on #161
The remote machine is Mac.
$ route get 10.42.0.1
[code]
Check ip address:
$ ifconfig
[code]
I think the remote machine and control machine are in the same network, because I can use the control machine's hotspot to browse webpage.

Any suggestions ?

[2015-10-30 09:44] superbool opened #162 ""A Network Getaway" ?"
在文档http://facebook.github.io/augmented-traffic-control/docs/install.html
中 "A Network Getaway" 是不是拼写错了？
应该是"A Network Gateway" 吧！

[2015-10-30 17:54] #162 closed

[2015-10-30 17:57] zfjagann commented on #161
What happens when you load `10.42.0.1/atc_demo_ui/` from a browser on the control machine (the machine running ATC)?

[2015-11-10 19:36] zfjagann commented on #160
Closing this since the search issue seems to have been resolved. Please re-open the issue if you still have issues.

[2015-11-10 19:36] #160 closed

[2015-11-10 20:37] zfjagann commented on #54
I'm going to close this issue since it hasn't been updated since May. Please reopen if you still need help. Thanks!

[2015-11-10 20:37] #54 closed

[2015-11-10 20:38] zfjagann commented on #161
Hey @stream101 do you still need help with this?
Please let us know if there's something we can do to help you.

[2015-11-10 20:41] zfjagann commented on #143
Closing since the issue was resolved. Please reopen if you need any more help. Thanks!

[2015-11-10 20:41] #143 closed

[2015-11-10 20:42] #161 closed

[2015-11-10 20:43] stream101 commented on #161
I didn't get it solved, but since I've closed the ATC service on my desktop, I couldn't try your suggestions. Thanks very much for your help though! @zfjagann

[2015-11-11 03:22] chantra commented on #154
Hi @yershalom

Sorry for replying this late.... this issue went through the net.

This is correct, there were no UI element allowing to shape a given address. the api has the functionality.
@zfjagann you implemented that bit (token/list of addresses), what was missing to have this functional through the UI? Was the UI only allowing to get a temporary code?

[2015-11-12 23:51] zfjagann opened #173 "Replace qdisc instead of delete/create"
We should replace the qdisc instead of calling successively delete/create. This causes extra noise in the logs and potentially failure on some types of interface (e.g. `veth`).

Waiting for [netlink#64](https://github.com/vishvananda/netlink/pull/64).

[2015-11-13 01:14] chantra opened #179 "Support HTTP/HTTPS"
Currently we assume HTTP only. We should support both http and https.

also see comment in :
https://github.com/facebook/augmented-traffic-control/pull/174/files#r44739665

[2015-11-13 01:18] zfjagann opened #180 "Bump golang api version to `v2`"
Should be `/api/v2` instead of `/api/v1`

[2015-11-13 21:50] zfjagann commented on #179
Fixed by fda525e0376945433888096b7606dfa4f76b229a

[2015-11-13 21:50] #179 closed

[2015-11-17 19:27] zfjagann opened #186 "Replace shaping instead of delete/create"
We should be smarter about how we manage shaping. If someone calls shape twice the second call shouldn't unshape and re-shape, instead it should be smart and replace only the pieces that have changed.

This is pretty easy given the rich `tc` API we're using but the `iptables` API isn't as full featured so we'll have to be clever here.

Might depend on #173.

[2015-11-18 22:40] chantra commented on #173
it was merged upstream. We should be able to go ahead with this one.

[2015-11-23 17:57] chantra opened #188 "IP version detection will fail"
https://github.com/facebook/augmented-traffic-control/blob/golang/src/api/assets.go#L32 will alway detect ipv6....

example: https://play.golang.org/p/bnhGiQBJ35

https://golang.org/pkg/net/#IP

An IP is a single IP address, a slice of bytes. Functions in this package accept either 4-byte (IPv4) or 16-byte (IPv6) slices as input.

Note that in this documentation, referring to an IP address as an I

[2015-11-24 00:01] #188 closed

[2015-11-25 03:35] chantra commented on #186
the good thing about replacing is that we would not need to change the mark so iptables is not affected here

[2015-11-25 08:18] chantra commented on #173
So I tried https://gist.github.com/chantra/19de76aea31414acd262 but while it works on the first start of atcd, it fails on the second.

To properly fix this I have the feeling this is going to take a lot of investigation which may not be worth it now.
Basically what happens is that some qdisc have no handle (like the pfifo_fast that comes default):
[code]

When failing to delete, we are hitting th

[2015-11-25 20:10] zfjagann opened #193 "`make` == `make test`"
This is bad. `make` should be equivalent to `make tests` and `make bin` in that order.

[2015-11-25 20:14] chantra commented on #193
I disagree. make should build the binaries, not the tests. When I get sources, I expect make to just build what I care about (e.g the binaries), make tests is more for developers.

[2015-11-25 20:18] zfjagann commented on #193
Well either way, that's not what it does now.

https://github.com/facebook/augmented-traffic-control/blob/golang/Makefile#L30

[2015-11-25 20:20] chantra commented on #193
I know, and this is what I am fixing in #192 . e.g `make` == `make bin` and tests are ran using `make tests`

[2015-11-25 20:23] zfjagann commented on #193
I see now!

[2015-11-25 20:23] #193 closed

[2015-11-25 22:05] JamshedVesuna opened #195 "Rate Discrepancy"
I am seeing a higher throughput than what ATC should be limiting at.

I looked at #86, #90, and #135, but everything seems to be running correctly. I have a client that is accessing / changing the ATC rate through the web UI, running an iperf test (`iperf -c <ip addr> -p 2000 -t 10 -i 2`). The client is connected to an intermediary host that is running ATC and forwarding all traffic on port 2000 t

[2015-11-25 22:10] zfjagann commented on #195
Try running iperf with a longer time period (like 60 or 120 seconds). Does this produce more realistic network speeds?

In general in my testing I've seen bandwidth be a little higher than ATC should let it be, but only over short time intervals. Testing over a longer time interval should give you a more realistic measurement.

[2015-11-25 23:02] JamshedVesuna commented on #195
I ran with both 60 second and 300 seconds, and did not see a significant change (less than 0.2 Mb/s change from the original). I also tried running with the `--atcd-dont-drop-packets` flag, but that didn't seem to make a difference here.

[2015-11-26 06:35] chantra commented on #195
@JamshedVesuna you say you are forwarding all the traffic to a given port to a separate host. You are most likely using data for that.
This will cause the gateway to only be able to shape traffic in 1 direction. No natting should be done before the atc gateway. The only scenario that work is when you do masquerade on the want link only.

[2015-11-26 06:36] chantra commented on #195
s/want/wan/

[2015-11-28 02:29] chantra opened #197 "api wont work behind a proxy"
https://github.com/facebook/augmented-traffic-control/blob/973c6bff1813fb1c427404f17475473f39f91c49/src/api/assets.go#L29

will not detect the correct ip when hidden behind a proxy.

We should check the X-Forwarded-For/HTTP_X_REAL_IP headers.

[2015-11-28 02:43] chantra opened #198 "Server js/css using http.FileServer"
It will be more flexible for people to be able to specific a directory with static resources rather than packaging them directly in the binary.
While packaging directly in the binary makes deployment easier, it makes many other operations much harder.
For example, iterating on JS changes is much harder and requires atc_api to be rebuilt + restarted. People will be stuck with the UI shipped with th

[2015-11-29 04:21] JamshedVesuna commented on #195
@chantra You're correct, I am only shaping traffic in one direction (upload to the server). Can you explain this a bit further? My impression of an `iperf` speedtest was that it is a bulk transfer of bytes in a single direction.

[2015-11-29 04:52] chantra commented on #195
@JamshedVesuna we do mark packets using iptables, outgoing with source of the shaped device are marked on the lan  interface and shaped on the wan . Incoming are marked on the wan interface and shaped on the lan. In your case incoming on the wan have a destination set to the atc box (your nat  rules is causing that) and never get marked, hence never shaped on the downstream direction.
Iperf defaul

[2015-11-29 05:04] chantra commented on #195
I will close this issue as it is not meeting atc requirements. If you want to run tests you will need to use a host upstream of atc.

[2015-11-29 05:04] #195 closed

[2015-11-30 20:46] zfjagann commented on #198
Let's be careful here. I'm hesistant to make development easier at the expense of runtime complexity.

We can add an option to use a directory and `http.FileServer` instead of bundled static files, but I think it'd be best to leave bundled static files as the default behavior to make deployment easier.

[2015-11-30 22:11] chantra commented on #198
after IRL discussion, we decided to still bundle the static resources in the generated binary and be able to provide a cmd line flag that will allow to override that with on disk resources.

[2015-11-30 22:12] chantra commented on #197
Assigning to @zfjagann there is already some code and FIXMEs about it

[2015-11-30 22:13] chantra commented on #155
This task is pretty old and staled so I will close it for now. @golgoth please feel free to open a new task if you still need assistance.

[2015-11-30 22:13] #155 closed

[2015-11-30 22:19] chantra commented on #154
@yershalom I guess this answers your question. I will close this issue for now.
We may consider in the future to implement this but for now, we want to keep the ui simple.
Patches are welcome though :)

[2015-11-30 22:19] #154 closed

[2015-11-30 22:20] chantra commented on #108
I will close this as we are moving toward a golang implementation of atc

[2015-11-30 22:20] #108 closed

[2015-11-30 22:21] chantra commented on #136
ok, given that we are moving to the golang implementation, it is not worth putting the effort in supporting the python version

[2015-11-30 22:21] #136 closed

[2015-11-30 22:22] chantra commented on #124
@zfjagann is this still relevant to the golang version?

[2015-11-30 22:22] chantra commented on #16
closing as wontfix given that we are moving toward the golang version.

[2015-11-30 22:22] #16 closed

[2015-11-30 22:25] chantra commented on #9
closing as wontfix given that we are moving toward the golang version and we are retiring chef provisioning.

[2015-11-30 22:25] #9 closed

[2015-11-30 22:26] chantra commented on #58
closing as wontfix given that we are moving toward the golang version and we are retiring chef deployment atm.

[2015-11-30 22:26] #58 closed

[2015-11-30 22:26] chantra commented on #49
closing as wontfix given that we are moving toward the golang version.

[2015-11-30 22:26] #49 closed

[2015-11-30 22:27] chantra commented on #45
closing as wontfix given that we are moving toward the golang version.

[2015-11-30 22:28] chantra commented on #45
was going to wontfix that... but this may still be relevant.

[2015-11-30 22:29] chantra commented on #115
This is happening in the golang branch

[2015-11-30 23:20] zfjagann commented on #197
The code you're looking for is here:
https://github.com/facebook/augmented-traffic-control/blob/973c6bff1813fb1c427404f17475473f39f91c49/src/api/utils.go#L144

We just need to make `assets.go:29` use this and make the `GetClientAddr` function smarter.

[2015-12-01 05:38] chantra commented on #197
Just like https://github.com/facebook/augmented-traffic-control/blob/master/atc/django-atc-api/atc_api/utils.py we should only allow headers to be set by allowed proxies.

[2015-12-03 17:38] chantra opened #204 "Index not working since"
since https://github.com/facebook/augmented-traffic-control/commit/2af41120eb199c57537195c85eb9c72a690a643d the index page stopped working failing with something like https://gist.github.com/chantra/3ad0d1eb7bbd6703cd79

The issue is that `GetClientAddr` now needs to be able to access the server from the request context.
In the case of the rootHandler, we were not setting the context causing the c

[2015-12-03 17:54] chantra opened #206 "API should not fail if atcd is not running"
If the API cannot connect to atcd, this is something we will want to report to the user, but the api should still run.
[code]

[2015-12-03 17:56] chantra opened #207 "-4 and -6 cmd line flags are not handle properly"
[code]

[2015-12-03 18:50] chantra commented on #206
oh, I see we have the `--warn` argument....

[2015-12-03 18:59] zfjagann commented on #206
You still want this fixed? I figure this is desired behavior, but you can suppress it with the `--warn` argument.

[2015-12-03 19:06] chantra commented on #206
It kind of forces the daemon to be up before the api.... what happen if it starts fine and then the daemon goes down. How do we handle this?

[2015-12-03 20:22] zfjagann commented on #206
If the daemon goes down while the API is running, future requests that require the daemon (all of them except those related to profiles) will fail with a 502 error.

I think having `--warn` available, but not the default is the best way to do this. It avoids situations where you start `atc_api` up with the wrong thrift address before the `atcd` server, but ignore the log message since you started

[2015-12-03 20:29] zfjagann commented on #207
Oops. My mistake. Clearly I should have tested more.

[2015-12-03 20:29] #207 closed

[2015-12-03 20:29] #204 closed

[2015-12-03 20:30] zfjagann commented on #197
Fixed by #200

[2015-12-03 20:30] #197 closed

[2015-12-03 21:07] chantra commented on #206
Yeah, i dont have strong feeling provided that there is a way to to bypass it and that it is properly handled during runtime.
Just for the sake of clarity I will add a more explanatory error message.

[2015-12-03 21:45] #206 closed

[2015-12-09 07:43] zfjagann opened #214 "`iptables_options` doesn't do anything."
Setting [`iptables_options`](https://github.com/facebook/augmented-traffic-control/blob/golang/if/atc_thrift.thrift#L38) in a LinkShaping object has no effect on the resulting shaping.

This is an antiquated field anyway since iptables is setup on group creation/join and not at shape-time. At best we can retroactively add any iptables options provided to the iptables packet marking, but this seems

[2015-12-09 10:17] golgoth commented on #155
Yes, sorry but I was out of this for a while, the fact is that I tried on new linux VM and it worked the way it should have, and I tried but was not able to identify what could have gone wrong with the first machine ...

[2015-12-10 12:01] MiteshShah opened #216 "Stylesheet issue"
Refer: https://cloud.githubusercontent.com/assets/1223371/11714922/af5ff6a6-9f63-11e5-84d0-a17c2dae1a20.png

![atc](https://cloud.githubusercontent.com/assets/1223371/11714922/af5ff6a6-9f63-11e5-84d0-a17c2dae1a20.png)

[2015-12-10 20:02] zfjagann commented on #216
Which browser and version are you using?

Do you think you could provide the console log from your browser? (e.g. `Ctrl-Shift-J`/`Cmd-Opt-J` on Chrome)

[2015-12-10 21:02] chantra commented on #216
Well, the issue is that the `link` resource is not being evaluated see the first line of the screenshot.

Once thing to verify would be if wether the css is available at the given path: /static/bootstrap/themes/default/css/bootstrap.min.css

It is weird that it did not get rendered anyway. Can you give more details on: what browser you are using, what OS, does that reproduce after a forced refresh

[2015-12-11 05:55] MiteshShah commented on #216
@zfjagann MAC OS El Captain 10.11.2
Gogole Chrome Version 47.0.2526.80 (64-bit)

Dirty Fix:

[code]

![atc](https://cloud.githubusercontent.com/assets/1223371/11736940/cdaf16aa-9ff9-11e5-920e-1bfd6db3958a.png)

[2015-12-11 05:59] chantra commented on #216
Seems like the tags from https://github.com/no-dice/django-bootstrap-themes are not being evaluated correctly.
I wonder what the generated html source looked like.

[2015-12-11 06:02] harshadyeola commented on #216
@MiteshShah :+1:

[2015-12-11 06:03] MiteshShah commented on #216
@chantra Page Source - http://pastebin.com/1zgahvix

[code]

[2015-12-11 06:03] chantra commented on #216
@MiteshShah thanks. there is some escaping going on here.... :smile:

[2015-12-11 06:10] chantra commented on #216
I just tested and it does not repro on django 1.7 and django_bootstrap_theme 3.1.2

https://gist.github.com/chantra/d1bc8e6cc0225e3e0c08

@MiteshShah I would guess you use django 1.9 and https://docs.djangoproject.com/en/1.9/releases/1.9/#simple-tag-now-wraps-tag-output-in-conditional-escape is kicking in.

[2015-12-11 06:23] chantra commented on #216
Could repro on Django 1.9 and opened https://github.com/no-dice/django-bootstrap-themes/issues/2

[2015-12-11 06:54] chantra commented on #216
@MiteshShah thanks for reporting this. Currently ATC supports Django 1.7 (https://github.com/facebook/augmented-traffic-control/blob/master/Setup.md#python-27-and-pip) while it most likely work with newer django (aside from this ui glitch), we do not support it.

The fix here really is to get the upstream module fixed. In the meantime if you dont want to patch your own version of `base.html`, you

[2015-12-11 08:14] liweijian opened #217 "No CSS style in ATC UI demo"
I was  trying to run the ATC UI demo, when I opened the  http://localhost:8000, I found it's ugly.

I read the source code of the web page, it shows

[code]

Is there any config I missed?

[2015-12-11 08:16] chantra commented on #217
@liweijian see #216 the issue is due to the fact that you are running django 1.9 as explained in https://github.com/facebook/augmented-traffic-control/issues/216#issuecomment-163851279

[2015-12-11 08:19] chantra commented on #216
I will leave this open a big more given that there were other reports, it is not super explicit that we support django 1.7 (looking at the different docs we have, it is sometime mentioned 1.7 sometimes 1.7+)

[2015-12-11 08:20] chantra commented on #217
Closing as duplicate of #216

[2015-12-11 08:20] #217 closed

[2015-12-13 00:12] chantra opened #221 "updating shaping fails"
When updating an existing shaping, it currently fails because it seems the old shaping is not deleted before hand.

[code]

[2015-12-13 00:13] chantra commented on #221
#173 would fix this.

[2015-12-14 02:59] chantra commented on #216
no-dice/django-bootstrap-themes/pull/3 should be addressing this issue.

[2015-12-15 23:52] zfjagann commented on #221
We can fix this more easily by deleting the shaping before applying a new shaping. I'll take care of this.

[2015-12-25 18:24] chantra commented on #221
closing given that #223 landed

[2015-12-25 18:24] #221 closed

[2015-12-25 18:34] chantra opened #225 "htb class setting fails on centos 6 (2.6.32 kernel)"
As much as we should mainly support >= 3 kernels, I want this used case to be supported.

Currently, on 2.6.32, setting htb class fails with something along:
`'invalid argument'`

Comparing the code I wrote in https://github.com/vishvananda/netlink for HTB class with the `iproute2` code, we are not setting RTAB and CTAB so the fix would be to set those in https://github.com/vishvananda/netlink

Di

[2015-12-25 18:34] chantra commented on #225
cc @zfjagann

[2015-12-26 07:33] chantra commented on #225
https://gist.github.com/chantra/fb5367768078790e5ec0 would get netlink's hb class working on 2.6.32

[2016-01-04 19:11] zfjagann commented on #225
Awesome! Let's get this in.

[2016-01-04 19:42] chantra commented on #225
Well, I need to work a bit more on that patch ATM, but we may want to locally use it.

[2016-01-05 01:28] birdman2005 opened #226 "Localhost Does not work"
only ip works, and the mainpage cannot load the theme

[2016-01-05 01:31] chantra commented on #226
@birdman2005 can you be more specific about the issue you are having? How are you shaping the devices? from what host?

Are you refering to #216 when you say that the theme cannot load?

[2016-01-05 01:57] birdman2005 commented on #226
@chantra nice work， the them problem are the same as #216 。and another problem is i can not open the main page by entering http://localhost:8000，but ip。

[2016-01-05 02:04] chantra commented on #226
@birdman2005 you should not really open localhost:8000 as that will make you shape localhost which is not what you want. What you want is, from a device you want to shape, connect to http://atc_ip:8000 and shape it.

what does `netstat -lpnt` reports? Can you send the output to gist: https://gist.github.com/ and make the gist public.

[2016-01-05 03:44] birdman2005 commented on #226
@chantra @MiteshShah  i solved the theme problem by modify the base.html and i post thenetstat -lpnt on to gist

[2016-01-05 03:56] chantra commented on #226
I guess this is the link to the gist: https://gist.github.com/birdman2005/a5e9741c709cea3d19c7

When you say you cannot connect to localhost:8000 where are you doing this? on the machine that runs atc?
There is no good reason for you to do this anyway (unless you are using the api). But given the netstat output, it should be working just fine, unless you are trying to access localhost:8000 from an

[2016-01-05 19:38] chantra commented on #226
@birdman2005 do you still have the issue? it seems to me like everything is working as expected.

[2016-01-06 17:25] ctriptest opened #227 "Always told me the interfaces does not exist"
Hello, chantra.
I'm a tester from China. Last week I have been learning how to build ATC platform, but I had some problems, I hope to get your help.

I have created the wifi AP within virtual machine(Ubuntu 15.10), but when I excuted the command below, the system always told me that one of the following interfaces does not exist.

command: sudo atcd --atcd-lan wlxe84e06333994 (the interfaces name

[2016-01-06 17:32] chantra commented on #227
Hi @ctriptest
Can you send the actual command you are typing and error message.

For one, you are not providing the --atcd-wan command line flag. It will default to eth0, so if you dont have any eth0 on your system, the error is legit.

Please also provide the output of:
`ip a`
and
`ip r`
and copy that to a [gist](https://gist.github.com/) and provide the link to the gist.

[2016-01-06 17:33] chantra commented on #226
@birdman2005 I did not hear back from you. Hopefully, everything is working as expected. I will close this issue for now, feel free to open a new issue or hop in irc if you need more help.

[2016-01-06 17:33] #226 closed

[2016-01-06 18:21] ctriptest commented on #227
Hi @chantra
First, thanks for your response.

The Pic1 is my virtual machine's nerwork devices.
![ifconfig](https://cloud.githubusercontent.com/assets/16544057/12150468/e724d3f4-b4e4-11e5-8732-516bdaaa8921.jpg)

The Pic2 is the error message for this command (sudo atcd --atcd-wan eno16777736 --atcd-dont-drop-packet).
![atcd-wan](https://cloud.githubusercontent.com/assets/16544057/12150476/f2018628

[2016-01-06 19:05] zfjagann commented on #227
Hi @ctriptest, please try running atcd using both the `--atcd-wan` and `--atcd-lan` options.
For example using your interfaces:

    sudo atcd --atcd-lan wlxe84e06333994 --atcd-wan eno16777736 --atcd-dont-drop-packet

[2016-01-06 21:18] zfjagann commented on #124
I think it still might be useful, but it's definitely not high-priority.

[2016-01-07 04:43] ctriptest commented on #227
Hi @zfjagann
Then I try to run a new command, and I did not see an error message, but it always stay in the debug stage.
![atcd_try](https://cloud.githubusercontent.com/assets/16544057/12162380/2ce6fb4a-b53c-11e5-8706-ab1382cae079.jpg)

[2016-01-07 05:16] chantra commented on #227
@ctriptest it is working as expected. This is not debug mode, just the fact that the process is in foreground.
You can use ` --daemon` to get the process to detach ( `--help` will tell you about the different options available).
You can use a daemonizer tool like runit, daemontool to daemonize the process for you or check https://github.com/facebook/augmented-traffic-control/blob/master/chef/atc/f

[2016-01-07 05:16] chantra commented on #227
In any cases, atc is working as expected as far as the logs are telling us.

[2016-01-07 06:58] ctriptest commented on #227
@chantra & @zfjagann
Thanks for your support again. I will continue to share any information to you.

[2016-01-07 09:09] JiTeng opened #228 "The Bandwidth Limit is not correct"
I set Bandwidth Limit 200 kbps and then I connect the AP with my android phone.But the network interrupts sometimes. In the beginning the wifi is ok, five minutes later it interrupts. Repeatedly.Could you tell me the reason. I am an App tester from China.

[2016-01-07 13:49] ctriptest commented on #227
@chantra & @zfjagann
I have successfully deployed the ATC platform at my virtual machines, but I cannot find atc folder path, would you tell me the atc folder path? I want to import the the sample profiles.

The capture is the working monitor information of atc.
![atcd-running](https://cloud.githubusercontent.com/assets/16544057/12171787/9b5af6c6-b587-11e5-9907-83d639c1635a.jpg)

The capture is fr

[2016-01-07 14:07] ctriptest commented on #227
@chantra
Which directory I can find the log files? I want to see the data exchange information.
Thanks a lot!

[2016-01-07 16:17] agargiulo commented on #228
interrupts how? I mean, you're limiting your connection so things are bound to not like that.

[2016-01-07 19:35] zfjagann commented on #227
This looks like #216 to me. I'm not sure what you mean by logging directory. Atcd is logging to your terminal unless you detached it.

You can see the HTTP transfer data by using a command line HTTP client like `curl`.
E.g. use this command:

    curl -i -L http://192.168.201.1:8000/

[2016-01-07 19:39] chantra commented on #227
yes, this is definitely #216 . I wish upstream would release a new package.

[2016-01-07 21:15] chantra commented on #216
https://pypi.python.org/pypi/django-bootstrap-themes/3.1.3 is out there! I will close this task as future should not hit this issue anymore.

[2016-01-07 21:15] #216 closed

[2016-01-07 21:16] chantra commented on #227
upstream has just published the new package: https://pypi.python.org/pypi/django-bootstrap-themes/3.1.3
upgrading django-bootstrap-themes will solve the css issue (you will need to restart the atc ui after that though)

[2016-01-08 01:07] zfjagann commented on #216
:confetti_ball: :+1: :confetti_ball: :+1: :facepunch: :confetti_ball:

[2016-01-08 01:45] ctriptest commented on #227
@chantra & @zfjagann
Thanks for your response, I will try it.
But, I want to know how to import sample profiles.
I think of the steps is below:
1. download utils package
2. directly to executed restore-profiles.sh
Is it correctly?

[2016-01-08 02:02] chantra commented on #227
You will need to get the profiles from the git repository and run the command on the machine.

Sent via the Samsung Galaxy S® 6 edge, an AT&T 4G LTE smartphone

[2016-01-08 03:24] ctriptest commented on #227
@chantra
I have get the profiles (Path: atc@ubuntu:~/Desktop/augmented-traffic-control-master/utils$) and run the command (sudo ./restore-profiles.sh 192.168.201.1:8000) on the machine, but it failed. Error message is below:
./restore-profiles.sh: line 12: git: command not found
Could not add profile /utils/profiles/* (curl exit code 7)

Do you have any suggest for me that I try to solve the error

[2016-01-08 03:37] chantra commented on #227
`./restore-profiles.sh: line 12: git: command not found`

you need to have `git` installed.

you do not need to run this using sudo

[2016-01-08 04:16] ctriptest commented on #227
I have install git via the command (sudo apt-get install git), then I rerun the command (./restore-profiles.sh 192.168.201.1:8080).
But, I still see error message is below:
fatal: Not a git repository (or any of the parent directories): .git
Could not add profile /utils/profiles/* (curl exit code 7)

[2016-01-08 04:18] chantra commented on #227
@ctriptest you needed to clone the repository.
[code]

[2016-01-08 04:29] ctriptest commented on #227
@chantra
Thanks very much, for ubuntu & ATC, I am a new guys, so have more questions.

I have cloned repository by git clone, but I still could not add profile when I rerun the command (./restore-profiles.sh 192.168.201.1:8000)
![restore-profiles](https://cloud.githubusercontent.com/assets/16544057/12190427/62dc4d14-b603-11e5-8cf4-73c9b324869d.png)

[2016-01-08 04:44] chantra commented on #227
@ctriptest is atcui listening on 192.168.201.1:8000 ? exit code 7 is `cannot connect`

gist the output of `netstat -lpnt` please

[2016-01-08 04:47] ctriptest commented on #227
![image](https://cloud.githubusercontent.com/assets/16544057/12190642/fa92b57e-b605-11e5-9a40-3032ca330c10.png)

[2016-01-08 05:12] ctriptest commented on #227
@chantra I've successfully imported sample profiles. Thanks for your great help.

For sample profiles, when will you add profiles for 4G LTE environment?

[2016-01-08 05:15] chantra commented on #227
@ctriptest we are not aiming at maintaining a list of profiles. That being said, the goal is to emulate bad connectivity which is not what 4G is.

I will be closing this now as you successfully got set up.

[2016-01-08 05:15] #227 closed

[2016-01-08 07:17] ctriptest commented on #227
@chantra & @zfjagann
Thanks for your great help again.
Which way I can contiune to contant you when I found any probelm in the process of using the ATC, create another issue or email to you?
Would you please tell me the email of you.

[2016-01-08 07:35] chantra commented on #227
@ctriptest open a new issue or rather come to #atcd in freenode.net  for support https://webchat.freenode.net/

[2016-01-08 09:23] JiTeng commented on #228
I konw the reason. I use vmware. You should choose "Bridge Networking" then everything's running as expected. Thanks.

[2016-01-08 09:23] #228 closed

[2016-01-08 17:14] chantra commented on #228
@JiTeng nice to see this is fixed and thanks for explaining the reason it was not behaving as expected.

[2016-01-14 19:44] #214 closed

[2016-01-15 04:52] jkrauska opened #234 "Support multiple LAN and WAN interfaces"
Our linux router has multiple LAN and WAN interfaces.

Primary LAN and Guest LAN. (eth0 eth1)
Primary ISP uplink and Secondary ISP uplink (eth2, eth3)

It would be ideal to support the LAN and WAN definitions as arrays/lists instead of single strings.

Not sure if marking rules need to be applied in a more generic manner and if other unexpected oddities might pop up.. (is a 1Mbit rate limit on two

[2016-01-15 19:35] zfjagann commented on #234
I've been playing around with this idea for a while.

In your specific case do both LAN interfaces represent the same physical LAN segment? Or are you using two separate LANs and the ATC box is routing between them?
Will you ever want to shape traffic from eth0 to eth1?

[2016-01-25 05:43] mgjnana commented on #144
@JohnnyWuMigme, i encounters a similar problem, but i can't see..how can i setup Bridge Networking? wish your answer, thank U!

[2016-01-25 05:48] mgjnana commented on #144
@chantra  @JohnnyWuMigme ,
i encounters a similar problem, but i can't see..how can i setup Bridge Networking? wish your answer, thank U! wait on line...

[2016-01-25 20:42] chantra commented on #144
@mgjnana what virtualization system are you using? Individual software providers usually have docs about it. Quick googling yields https://www.virtualbox.org/manual/ch06.html#network_bridged for virtual box, and vmware: https://www.vmware.com/support/ws4/doc/network_bridged_ws.html

[2016-02-08 18:37] Darky-Lucera opened #238 "Puzzled with ATC"
I think I have ATC working well but it seems it is not shapping devices.

atcd is running and logging messages, the web interface is running and logging messages. I seems that I can shape a device using the web interface.
But I can't reduce the bandwidth of any device. I don't know if I'm doing something wrong but all seems to work properly.

I'm running Ubuntu inside VMWare with two interfaces en

[2016-02-08 19:20] zfjagann commented on #238
Everything here looks okay to me. The first thing that comes to mind is to check to be sure your wireless router is not running NAT. This would prevent the ATC machine from seeing the real IP of the client, instead it would see the IP of the wireless router. Note that if this were happening you would still be shaped, so I don't think that's the issue, but it's worth checking anyway.

Do you mind r

[2016-02-08 20:32] chantra commented on #238
On top of @zfjagann comments, it also seems that your wireless router is the one doing DHCP.
Is the wireless router connected to internet directly?

I have a feeling that your wireless router is having its own access to internet, bypassing ATC.
It serves dhcp addresses to devices and provide a default route to itself.
Host can access the ATC ui because it is on the same network, but when accessing

[2016-02-09 09:40] Darky-Lucera commented on #238
@zfjagann This is the info you requested:

**iptables -t mangle -nL**
Chain PREROUTING (policy ACCEPT)
target     prot opt source               destination

Chain INPUT (policy ACCEPT)
target     prot opt source               destination

Chain FORWARD (policy ACCEPT)
target     prot opt source               destination
MARK       all  --  0.0.0.0/0            127.0.0.1            MARK set 0x2
MAR

[2016-02-09 18:16] Darky-Lucera commented on #238
I changed the WIFI router to make DHCP Relay. Now the Ubuntu machine is which is giving IPs to devices, and everything remains the same.

Furthermore, I'm using "**tcpdump -i ens33**" and I can see that the device IP is related in the communication. ATC seems that is not doing anything. :(

Some clues?

Adding a new device throught the ATC web UI I can see this log message:

Then I make some test

[2016-02-09 18:22] Darky-Lucera commented on #238
Only to send you a bit more information.

Now I add a PC (before all was mobiles (with mobile data disabled, of course) and I get this log:

Before that I was looking some youtube videos.

[2016-02-09 18:22] chantra commented on #238
@Darky-Lucera

You have not started atcd with the right parameters. You WAN is `ens32` and your LAN is `ens33`

Reading those logs:

[code]

You have started atc with `--atcd-lan ens32 --atcd-wan ens33` instead of  `--atcd-lan ens33 --atcd-wan ens32`,

You should be able to use `--atcd-mode unsecure` to help you with that.

[2016-02-09 19:07] Darky-Lucera commented on #238
Oops! Solved

I have a mistake when I write the ATC.sh script and exchange atcd-lan and atcd-wan.

Sorry very much! Now It works fine.

Thank you very much!

[2016-02-09 19:07] #238 closed

[2016-02-18 03:39] LittlePeng opened #239 "Turn On failed (17, 'File exists')"
INFO:AtcdVService.AtcdLinuxShaper:Request startShaping TrafficControl(device=TrafficControlledDevice(controllingIP='10.10.100.211', controlledIP='10.10.100.211'), timeout=86400, settings=TrafficControlSetting(down=Shaping(loss=Loss(percentage=0.0, correlation=0.0), delay=Delay(delay=0, jitter=0, correlation=0.0), rate=11, iptables_options=[], corruption=Corruption(percentage=0.0, correlation=0.0),

[2016-02-18 04:09] chantra commented on #239
@LittlePeng
you are using eth0 for both `--atcd-lan` and `--atcd-wan`. Can you confirm?

atcd requirements is to have 2 separate interfaces.

[2016-02-18 07:17] LittlePeng commented on #239
yes, I just use wrong eth0 for both --atcd-lan and --atcd-wan, thanks

[2016-02-18 07:17] #239 closed

[2016-02-19 06:00] vedeshkumar opened #240 "Requesting help to setup facebook ATC"
Hi ,

i am trying to configure ATC in my ubuntu desktop machine following the github doc. Can anyone please help to me set it up. I keep facing one or the other issue

--Vedesh

[2016-02-19 13:39] vedeshkumar commented on #227
Hi,

I am unable to see the profiles added. Please help

![screenshot from 2016-02-19 19 03 31](https://cloud.githubusercontent.com/assets/16402634/13177001/584ebf94-d73c-11e5-8d35-add2973ea655.png)

[2016-02-19 23:30] zfjagann commented on #227
@vedeshkumar have you run the `restore-profiles.sh` script provided in the source path under `utils/`?

[2016-02-20 05:02] vedeshkumar commented on #227
@zfjagann Yes i did run the restore-profiles.sh and it says added the profiles but still unable to see it.

Is there any document step by step where i can refer to see if i have made any mistake in the setup

[2016-02-20 17:49] vedeshkumar commented on #227
Please help me to overcome this issue

[2016-02-20 19:34] chantra opened #241 "Create issue template"
https://help.github.com/articles/creating-an-issue-template-for-your-repository/

We should use this to make sure requirements are met.

[2016-02-22 03:46] vedeshkumar commented on #227
@chantra This is how i have setup the ATC in Ubuntu desktop

1. Ubuntu desktop has 2 network ports
2. One is connected with LAN
3. In one of the terminal i started the "atcd" and in another terminal i started "python manage.py runserver 0.0.0.0:8000"

[2016-02-22 08:34] mgjnana commented on #144
@chantra  vmware, and i tried every way, no luckly ,I found vm cant't found  wireless card,finally , I installed ubuntu（14.04 LTS） on my commputer solved this problem. My job is to build a network test environment, I was watching atc_demo_ui now, JSX ,but thank you all the same.  : )

[2016-02-22 19:55] zfjagann commented on #241
Yes we should!

[2016-02-22 19:59] agargiulo commented on #241
:+1:

[2016-02-22 20:00] chantra commented on #241
actually HT to @agargiulo for pinging me about it :)

[2016-02-22 20:11] zfjagann commented on #240
Hi @vedeshkumar, what issue are you having with ATC? If you could provide more information about what issue you are having, output from relevant commands, and the instructions you followed it would be very helpful. Thanks!

[2016-02-22 21:25] vedeshkumar commented on #240
@zfjagann This is how i have setup the ATC in Ubuntu desktop

Ubuntu desktop has 2 network ports
One is connected with LAN
In one of the terminal i started the "atcd" and in another terminal i started "python manage.py runserver 0.0.0.0:8000"

Is this correct ?

[2016-02-22 21:29] zfjagann commented on #240
That's correct in theory, but without the exact commands it's difficult to say for sure.

Did either of the commands fail, or print an error message?

[2016-02-22 21:35] vedeshkumar commented on #240
2 days back i could able to see the below UI without any profiles
![584ebf94-d73c-11e5-8d35-add2973ea655](https://cloud.githubusercontent.com/assets/16402634/13233575/46072632-d9da-11e5-840b-6dddad255f28.png)

[2016-02-22 21:36] vedeshkumar commented on #240
Now when i run atcd again it give following error

ERROR:sparts.tasks:Error creating task, AtcdNBServerTask
Traceback (most recent call last):
File "/usr/local/lib/python2.7/dist-packages/sparts/vtask.py", line 313, in init
t.initTask()
File "/usr/local/lib/python2.7/dist-packages/sparts/tasks/thrift.py", line 146, in initTask
self.server.prepare()
File "/usr/local/lib/python2.7/dist-packages/thri

[2016-02-22 22:03] zfjagann commented on #240
Can you paste the command you ran (along with its arguments) as a comment, or use a [gist](https://gist.github.com/)?

[2016-02-22 22:07] vedeshkumar commented on #240
In one of the terminal i started the "atcd" and in another terminal i started "python manage.py runserver "machine ip address":8000"

[2016-02-22 22:09] zfjagann commented on #240
How did you start `atcd`? What arguments did you pass it?

[2016-02-22 22:10] vedeshkumar commented on #240
no arguements.... just "atcd" in terminal

[2016-02-22 22:14] zfjagann commented on #240
What's the output of `ip link`?

[2016-02-22 22:16] vedeshkumar commented on #240
do u have skype id ? so that i can share my screen whenever you are free

[2016-02-22 22:19] zfjagann commented on #240
It's be better if you could copy/paste the output of `ip link` into [gist](gist.github.com) and then paste the link into . Others might also have this same problem, and will be able to search github, find this issue, and use the same fix to solve their issue. :)

[2016-02-22 22:23] chantra commented on #227
this is being continued in https://github.com/facebook/augmented-traffic-control/issues/240

[2016-02-22 22:25] vedeshkumar commented on #240
Currently i m at home.. once i reach office i will post the details.. By the way is there any video tutorial of how the setup has been done,, so i will try to replicate the setup by looking into it

[2016-02-22 22:27] chantra commented on #240
ok, let's step back for a bit here.

@vedeshkumar I guess your issue is related to https://github.com/facebook/augmented-traffic-control/issues/227#issuecomment-186216145

What is the issue you are currently having? It used to be that you could not get the profile listed. Is this different now?

Going back to comment https://github.com/facebook/augmented-traffic-control/issues/240#issuecomment-187

[2016-02-22 22:31] vedeshkumar commented on #240
@chantra  i was not getting the profiles but from yesterday when i try to run atcd in terminal it keeps throwing the above error. i have restarted my machine by killing all the process running

[2016-02-22 22:37] chantra commented on #240
@vedeshkumar
so you have something that runs locally and listen on port 9090.

Can you confirm that no other `atcd` process is running (using ps aux and checking for atcd)
Can you put in a [gist](https://gist.github.com/) the output of `netstat -lpnt` (ran as root)

[2016-02-23 05:46] mgjnana commented on #44
ATC UI for a non professional people, is not very convenient to use, test parameters without a reference standard, but as a demo is enough, thanks to fackbook's open source spirit.

[2016-02-23 09:11] PanWangJ opened #242 "Weird things happen when ATC runs on my Ubuntu."
My environment: Ubuntu 14.04 + Wireless USB dongle + ATC.

I had set up the entire ATC environment on my desktop quite a long time ago and everything is fine until yesterday.

The problem is that whenever I runs ATC the devices that connected to the softAP find it very hard to connect to the Internet, even when my shaping profile is set to the "Cable" (comes with 6000 down rate and 1000 up rate).

[2016-02-23 17:21] chantra commented on #242
Hi @PanWangJ,

I wonder if you used to use `--atcd-dont-drop-packets` before...

[2016-02-24 01:59] PanWangJ commented on #242
@chantra Thanks for replying. I had never used to use the command you mentioned above. Do you mean I have to use the command to make it normal?

[2016-02-26 16:35] vedesh commented on #240
Hi Everyone,

I have successfully installed ATC in my ubuntu desktop. i want to know how to use it and how to test the network

My Ubuntu desktop is connected with wifi and also with lan

Please help me in understanding how to use ATC

[2016-02-26 16:36] vedesh commented on #240
Hi Everyone,

I have successfully installed ATC in my ubuntu desktop. i want to know how to use it and how to test the network

My Ubuntu desktop is connected with wifi and also with lan

Please help me in understanding how to use ATC

[2016-02-26 16:41] mahadevprasad commented on #240
Hi Everyone,

I have successfully installed ATC in my ubuntu desktop. i want to know how to use it and how to test the network

My Ubuntu desktop is connected with wifi and also with lan

Please help me in understanding how to use ATC

[2016-02-26 16:44] chantra commented on #240
@vedeshkumar any success?

@mahadevprasad could you please create a separate issue or jump on freenode, irc channel #atcd

[2016-02-26 16:45] chantra commented on #242
@PanWangJ
well, no change happened in atc that would fix the issue you describe so there is no need to upgrade.

Have you tried using the `--atcd-dont-drop-packets` command line flag? does that work better for you?

[2016-02-26 16:46] chantra commented on #225
I fixed it in the upstream netlink library. closing this now

[2016-02-26 16:46] #225 closed

[2016-02-26 16:51] chantra commented on #234
@jkrauska How are you using those 2 ISP uplinks? Are you bonding the interfaces? in this case, you could use atcd on the bond interface.

for the multiple lan, the issue is that even if we were going to support it, we would not be able to properly defined the limits and a host would potentially be able to get 1M through Primary LAN, and 1M through uplinks.

[2016-02-26 16:52] chantra commented on #198
this was fixed in https://github.com/facebook/augmented-traffic-control/commit/1f054177ba7dd4d5a5637e1e6e9d5ec6fd70c1c0 right?

[2016-02-26 17:01] mahadevprasad opened #243 "Requesting help to understand how to use facebook ATC"
Hi Everyone,

I have successfully installed ATC in my ubuntu desktop. i want to know how to use it and how to test the network

My Ubuntu desktop is connected with wifi and also with lan

Please help me in understanding how to use ATC

[2016-02-26 17:02] mahadevprasad commented on #240
@chantra i have created new issue with #243

[2016-02-26 17:23] chantra commented on #243
Hi @mahadevprasad

the ubuntu desktop you are using, is it acting as a router? e.g the devices you want to shape the traffic for are connecting to this desktop wireless access point and their traffic is routed through?

Do you meet the requirements from http://facebook.github.io/augmented-traffic-control/docs/install.html ?

Once this is the case, you should be able to get devices to connect to ht

[2016-02-26 22:03] mahadevprasad commented on #243
@Chantal, ATCD is running on Ubuntu machine whIch is wifi enabled and i have connected my android device to that wifi and i am able to connect to http://:8000/

Now what should i do

[2016-02-26 22:07] mahadevprasad commented on #243
@Chantra, ATCD is running on Ubuntu machine whIch is wifi enabled and i have connected my android device to that wifi and i am able to connect to http://:8000/

Now what should i do

[2016-02-26 23:44] chantra commented on #243
@mahadevprasad you can play around with the interface, add latency and ask for the traffic to be shaped. then see that latency has been added.

[2016-02-26 23:56] mahadevprasad commented on #243
@chantra , some more brief information can give please, like how exactly i can play around with the interface, add latency and ask for the traffic to be shaped. then see that latency has been added

[2016-02-27 00:11] chantra commented on #243
@mahadevprasad can you send a screenshot of what interface you are seeing?

In the end, you want to limit the bandwidth on the up and down link and click turn on.

Use websites like speedtest or somnething to see that ping has latency added....

[2016-02-28 17:08] chantra commented on #173
closing for now as it does not seem worth it until we really need it for some specific use cases.

[2016-02-28 17:08] #173 closed

[2016-02-29 01:08] PanWangJ commented on #242
@chantra I tried to use the `--atcd-dont-drop-packets` when starting the **atcd**, but it gave me the `atcd: error: unrecognized arguments` warning.

The full command I use is:

    sudo atcd --atcd-wan eth0 --atcd-lan wlan1 --atcd-dont-drop-packets

What's going wrong here?

[2016-02-29 13:35] ctriptest opened #244 "How to reslove these error messages during the ATC running"
Hi team,

I have successfully let the ATC run up, I found this error message (pic) during the ATC running, would you please guide me how to solve it?
Thanks a lot!
![atc error](https://cloud.githubusercontent.com/assets/16544057/13395861/54314196-df2c-11e5-8a25-7df7baae6e75.jpg)

[2016-02-29 13:51] mgjnana opened #245 "why the settings do not work?"
I use "this.linkState("settings").requestChange(settingData);"   in atc.js,  but I found the setting for  loss、reorder、corruption、delay  is not working. here is code（I set biger number for settings，but seems it’s do not work.too）:

Any one can help me? thx，wait online...

setCurrentShape: function(up,down){
        console.log('进入setCurrentShape  ----------------'+new Date().getTime());
        va

[2016-02-29 14:13] mgjnana commented on #245
" this.state.current_settings " shows these settings is working ,at least the printing is my setting.

[2016-02-29 14:30] mgjnana opened #246 "ATC（augmented-traffic-control） cannot be used for TCP?"
ATC（augmented-traffic-control） cannot be used for TCP?  It can only be used for HTTP testing？

[2016-02-29 21:01] zfjagann commented on #246
So long as you correctly route your traffic through the machine running ATC, it can be used for any type of traffic including TCP or UDP. :)

[2016-02-29 21:01] #246 closed

[2016-02-29 21:12] zfjagann commented on #245
I'm not sure exactly what you're trying to do or why it's not working. Do you mind pasting the code into [gist](https://gist.github.com/). That'll make it a lot easier to read.

[2016-02-29 21:18] zfjagann commented on #198
Yes, thanks!

[2016-02-29 21:18] #198 closed

[2016-02-29 21:23] chantra commented on #242
@PanWangJ so I guess you run a very old version of atc and it did not have this flag.
can you run `atcd -h` just to make sure I did not misspell it. If this is not available, you may want to update atcd and start using this flag.

That being said, I cannot find an explanation why it would have worked in the past and not now.

[2016-02-29 21:24] zfjagann commented on #244
Do you have a desktop available? I'm interested to see what the javascript console in chrome looks like, but on mobile there's not an easy way to get at this information.

If you're using chrome on desktop, you can get to the console by using `Options` -> `More Tools` -> `Developer Tools` and then clicking on the `Console` tab. If you then refresh the page, you should get more information about wh

[2016-02-29 21:27] chantra commented on #243
@mahadevprasad did you solve your issue?

While I understand the interface may not be the most intuitive, I think with a bit of fiddling around you should pretty much find out how to play with parameters.

[2016-03-01 00:55] PanWangJ commented on #242
@chantra I checked with `atcd -h` and can't find this flag, so I may as well update ATC to the latest version. Just hope updating ATC will solve this problem, I will let you know of any results. Thanks for your help.

[2016-03-01 01:36] PanWangJ commented on #242
@chantra Managed to update ATC to 0.1.3, and add the flag `--atcd-dont-drop-packets`. Problem solved! Thanks!

Ps. Could you kindly explain to me what does this flag actually mean? What will be the difference if I don't add this flag?

[2016-03-01 02:52] mgjnana commented on #246
Thank you for your reply. #。#

My question is this, I set up a ATC environment on a test machine，to achieve：let Android or IOS devices connected to the test machine with WiFi,then visit the atc_demo_ui and click the button to enter the setting environment(click can randomly set the parameters, mainly for the weak network test).
And now my problem is : after using a mobile phone click on the corres

[2016-03-01 02:59] chantra commented on #242
@PanWangJ the flag makes ATC buffer packets rather than drop them. I still dont understand why the behaviour would have changed though.

@PanWangJ  I will close this issue now since it seems your issue is solved, open a new issue if you have further problems.

[2016-03-01 02:59] #242 closed

[2016-03-01 03:09] PanWangJ commented on #242
@chantra I have no idea why would this happened at all. Anyway, the problem is solved, thank you for your help.

[2016-03-01 03:24] mgjnana commented on #245
this setting is effective for mobile phone on the web page,but app(TCP,socket) have no effect. do I need connect to this particular WIFI and then visit the web page for flow control on this app's server?

here is  my atc.js:

/** @jsx React.DOM */
/**
 * Copyright (c) 2014, Facebook, Inc.
 * All rights reserved.
 *
 *  This source code is licensed under the BSD-style license found in the
 *  LICEN

[2016-03-01 10:31] mahadevprasad commented on #243
@chantra apologies for late reply as i was out of station.

I tried the below steps to play with profiles
1. Accessed the url  "http://:8000/" in my android device
2. I was able to see device ip and token
3. I entered the device ip and token in the ATCD running in ubuntu machine and authorized
4. Then i selected the profiles and clicked on "update shaping" button
5. Then i checked the net speed in

[2016-03-01 10:33] vedeshkumar commented on #240
@chantra , i have not worked on ATC for few days as i am busy with other works. Once i start working on it again will update the status

Thanks @chantra and @zfjagann

[2016-03-01 14:23] ctriptest commented on #244
@zfjagann
I cannot reproduce this error to used the chrome browser on desktop (Ubuntu OS).
Now, I only told you when these errors occur, I cannot turn off the profiles and the network status of mobile become to offline.

[2016-03-01 20:44] zfjagann commented on #245
Glad it's fixed. Let us know if you need any more help. :smile:

[2016-03-01 20:44] #245 closed

[2016-03-02 04:23] ctriptest commented on #244
Hi team,

Today, I get another warning message (pic1), would you have any information for this warning?
![atc warning](https://cloud.githubusercontent.com/assets/16544057/13450538/7bd7dad4-e071-11e5-8843-60f30ca7c004.jpg)

[2016-03-02 16:54] chantra commented on #243
@mahadevprasad
Thanks for providing details about your issue.

Can you confirm that the device you are shaping the traffic for is **routed** through the ATC box.

Is the machine running atc acting as a router for your android device? Or is it just another computer on the network?
It is a requirement that the ATC machine acts as a router, failing to do so, ATC will not be able to handle and shape t

[2016-03-02 17:26] mahadevprasad commented on #243
@chantra, yes my ubuntu machine is having a wifi card installed and it is running as a router for my android device

[2016-03-02 17:28] chantra commented on #243
ok, so another reason this could happen would be because you inverted wan and lan.

Can you let me know what is your wan and lan interface (and post a gist of `ip a`)
and also let me know how you started atc.

Logs from `atcd` upon shaping could also help.